<section class="section home-a-bento-section">
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="headline-home-c-features">
      <div class="section-divider _404-master"></div>
      <div class="label">Human Intelligence.</div>
      <div class="heading-home-c-features">
        <h2 class="no-margins">
          Shape your sustainable vision with terra–tory™
        </h2>
      </div>
    </div>
    <div class="w-layout-grid feature-grid-home-c">
      <div class="feature-card-home-c">
        <div class="label">Human Result</div>
        <div class="feature-card-bottom-tile">
          <h2 class="no-margins">5, 000+</h2>
          <div class="text-body">Sustainable projects supported.</div>
        </div>
      </div>
      <div
        id="w-node-_335d5572-f17e-b978-95fe-23ad4ef7301a-e2064dab"
        class="features-video-home-c"
      >
        <img
          src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf.jpg"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
          srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-500.jpg 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-800.jpg 800w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-1600.jpg 1600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-2000.jpg 2000w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-2600.jpg 2600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf.jpg 3024w"
          alt=""
          class="image-cover"
        />
      </div>
      <div class="feature-card-home-c">
        <div class="label">Human Result</div>
        <div class="feature-card-bottom-tile">
          <h2 class="no-margins">99.7%</h2>
          <div class="text-body">Reliability guaranteed</div>
        </div>
      </div>
      <div class="feature-card-image">
        <img
          src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow.avif"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
          srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow-p-500.jpg 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow-p-800.jpg 800w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow.avif 3888w"
          alt=""
          class="image-cover"
        />
      </div>
      <div
        id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73026-e2064dab"
        class="feature-card-image"
      >
        <img
          src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734f06f9f734cc9c75f9cd7_Article%20Thumbnail%204.avif"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
          srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734f06f9f734cc9c75f9cd7_Article%20Thumbnail%204-p-500.avif 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734f06f9f734cc9c75f9cd7_Article%20Thumbnail%204.avif 1263w"
          alt=""
          class="image-cover"
        />
      </div>
      <div
        id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73028-e2064dab"
        class="feature-card-home-c accent"
      >
        <div class="label">flexible design</div>
        <div class="feature-card-bottom-tile">
          <h2 class="no-margins">100+</h2>
          <div class="text-body">
            Custom layouts tailored to green initiatives.
          </div>
        </div>
        <div
          data-w-id="335d5572-f17e-b978-95fe-23ad4ef73030"
          class="circle-feature-card"
        >
        </div>
      </div>
    </div>
  </div>
</section>
