<section class="section home-a-bento-section">
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="headline-home-c-features">
      <div class="section-divider _404-master"></div>
      <div class="label">Available Assistive Listening Technologies</div>
      <div class="heading-home-c-features">
        <h2 class="no-margins">Assistive Listening Technologies</h2>
      </div>
    </div>
    <div
      id="standards"
      class="w-layout-grid feature-grid-home-c"
      style="margin-top:6rem;"
    >
      <div class="feature-card-home-c">
        <div class="label"></div>
        <div class="feature-card-bottom-tile">
          <h4 class="no-margins teal-text">Hearing Loops</h4>
          <div class="text-body"></div>
          <div class="text-body">
            Hearing loops, also known as induction loops, are assistive
            listening systems that use electromagnetic fields to transmit sound
            directly to hearing aids and cochlear implants equipped with
            telecoils (T-coils).
          </div>
          <div class="home-b-button-wrap">
            <a
              href="/assistive-listening-technologies/hearing-loops"
              class="cta-main w-inline-block"
            >
              <div class="button-animation-hide">
                <div class="button-animation-wrap">
                  <div class="button-content-tile">
                    <div>Hearing Loops</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="button-content-tile">
                    <div>Hearing Loops</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div
        id="w-node-_335d5572-f17e-b978-95fe-23ad4ef7301a-e2064dab"
        class="features-video-home-c"
      >
        <img
          src="/img/mall.avif"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
          alt=""
          class="image-cover"
        />
      </div>
      <div class="feature-card-home-c">
        <div class="label"></div>
        <div class="feature-card-bottom-tile">
          <h4 class="no-margins teal-text">Infrared</h4>

          <div class="text-body">
            Infrared (IR) systems use invisible light waves to transmit sound
            from a source to a receiver worn by the listener. These systems
            require a direct line of sight between the transmitter and receiver.
          </div>
          <div class="home-b-button-wrap">
            <a
              href="/assistive-listening-technologies/infrared"
              class="cta-main w-inline-block"
            >
              <div class="button-animation-hide">
                <div class="button-animation-wrap">
                  <div class="button-content-tile">
                    <div>Infrared</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="button-content-tile">
                    <div>Infrared</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="feature-card-image">
        <img
          src="/img/airport.jpg"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
          alt=""
          class="image-cover"
        />
      </div>
      <div
        id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73026-e2064dab"
        class="feature-card-image"
      >
        <img
          src="/img/customerservice.avif"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
          alt=""
          class="image-cover"
        />
      </div>
      <div
        id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73028-e2064dab"
        class="feature-card-home-c"
      >
        <div class="label"></div>
        <div class="feature-card-bottom-tile">
          <h4 class="no-margins teal-text">FM / Radio</h4>

          <div class="text-body">
            FM (radio frequency) systems use radio waves to transmit sound from
            a source to a receiver worn by the listener. These systems are less
            affected by physical obstructions and are well suited to settings
            where users may move around and can be used outdoors.
          </div>
          <div class="home-b-button-wrap">
            <a
              href="/assistive-listening-technologies/fm-radio"
              class="cta-main w-inline-block"
            >
              <div class="button-animation-hide">
                <div class="button-animation-wrap">
                  <div class="button-content-tile">
                    <div>FM / Radio</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="button-content-tile">
                    <div>FM / Radio</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- PART 2 -->
    <div class="w-layout-grid feature-grid-home-c" style="margin-top:1rem;">
      <div class="feature-card-home-c">
        <div class="label"></div>
        <div class="feature-card-bottom-tile">
          <h4 class="no-margins teal-text">Audio Over WiFi</h4>

          <div class="text-body">
            Audio over Wi-Fi systems transmit sound via a wireless internet
            connection to a listener’s personal device, such as a smartphone or
            tablet, making them ideal for venues where users prefer to use their
            own equipment and where Wi-Fi infrastructure is already in place.
          </div>
          <div class="home-b-button-wrap">
            <a
              href="/assistive-listening-technologies/audio-over-wifi"
              class="cta-main w-inline-block"
            >
              <div class="button-animation-hide">
                <div class="button-animation-wrap">
                  <div class="button-content-tile">
                    <div>Audio Over WiFi</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="button-content-tile">
                    <div>Audio Over WiFi</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="feature-card-home-c">
        <div class="label"></div>
        <div class="feature-card-bottom-tile">
          <h4 class="no-margins teal-text">Auracast</h4>

          <div class="text-body">
            Bluetooth systems transmit sound over short distances directly to a
            user’s hearing aids, cochlear implants, or personal listening
            devices. Often used for personal communication or media streaming,
            they are most effective in one-on-one settings or small spaces.
          </div>
          <div class="home-b-button-wrap">
            <a
              href="/assistive-listening-technologies/auracast"
              class="cta-main w-inline-block"
            >
              <div class="button-animation-hide">
                <div class="button-animation-wrap">
                  <div class="button-content-tile">
                    <div>Auracast</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="button-content-tile">
                    <div>Auracast</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="feature-card-image">
        <img
          src="/img/airport-alt.jpeg"
          src="/img/alts/hotel-chat.jpeg"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
          alt=""
          class="image-cover"
        />
      </div>

      <div class="feature-card-image">
        <img
          src="/img/airport-alt.jpeg"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
          alt=""
          class="image-cover"
        />
      </div>
    </div>
  </div>
</section>
