<!-- HERO -->
<section class="section hero-home-a">
  <div
    data-poster-url="/img/hero.jpg"
    data-video-urls="/video/hero.mp4"
    data-autoplay="true"
    data-loop="true"
    class="home-a-video w-background-video w-background-video-atom"
  >
    <video
      id="911c6ec9-5e53-3e80-c7f7-cf538e6b1365-video"
      autoplay=""
      loop=""
      muted=""
      playsinline=""
      data-object-fit="cover"
    >
      <source src="/video/hero.mp4" />
    </video>
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-home-a">
        <div class="heading-home-a">
          <div class="text-h0">The International</div>
          <div class="text-h0">Association</div>
          <div class="text-h0">for</div>

          <div class="text-h0">Hearing Accessibility</div>
          <div class="home-a-hero-line"></div>
        </div><a href="#welcome" class="cta-main accent w-inline-block teal">
          <div class="button-animation-hide">
            <div class="button-animation-wrap">
              <div class="button-content-tile">
                <div class="white">Find out More</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
              <div class="button-content-tile">
                <div>Find out More</div>
                <div class="button-arrow small w-embed">
                  <svg
                    width="100%"
                    height="100%"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="overlay-20"></div>
    <div class="home-a-small-video">
      <a href="/resources" class="lightbox-home-a w-inline-block w-lightbox">
      </a>
      <div class="">
        Find downloadable guides and Assistive Listening Technology resources
        <a href="/resources" style="color: white;"><strong>here</strong></a>.
      </div>
    </div>
  </div>
</section>
<!-- HERO -->
