---
import BenefitsLink from "../../components/BenefitsLink.astro";
import CodeOfConduct from "../../components/CodeOfConduct.astro";
import FooterSpacing from "../../components/FooterSpacing.astro";
import MainNews from "../../components/MainNews.astro";
import Layout from "../../layouts/Layout.astro";
---

<title>
  Become an Associate Member - IAHA: The International Association For Hearing
  Accessibility
</title>

<Layout>
  <section class="section hero-careers">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-careers">
        <div class="careers-top-tile">
          <div class="spacer-sm"></div>
          <div class="heading-careers">
            <div class="headline-blog">
              <div class="label teal-text">Become an Associate Member</div>
              <h1 class="text-h1">Associate Membership</h1>
            </div>
          </div>
        </div>

        <div class="home-b-button-wrap">
          <a href="#register" class="cta-main accent w-inline-block">
            <div class="button-animation-hide">
              <div class="button-animation-wrap">
                <div class="button-content-tile">
                  <div>Become an Associate Member</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile">
                  <div>Become an Associate Member</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="section-divider"></div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid numbers-halves"></div>
      <div class="product-content-wrap">
        <div class="w-layout-grid product-halves">
          <div class="label">What is an associate member?</div>
          <div class="w-richtext">
            <h3 class="no-margins">
              Associate Members are groups or individuals who have an
              influential role in the world of Assistive Listening provision, or
              who have a professional interest in Assistive Listening
              technologies and applications, or advocacy groups or interested
              people with hearing loss.
            </h3>
            <h5 style="margin-top:3rem;">
              If you are interested in Associate Membership, please fill in and
              submit the form below, or<a
                class="teal-text"
                href="mailto:admin@iaha-global.com"
              >
                contact us</a
              > directly.
            </h5>
          </div>
        </div>
        <div class="section-divider"></div>

        <div class="w-layout-grid product-halves">
          <div>
            <div class="label">Code of Conduct for IAHA Associates</div>
            <h3 style="margin-top:3rem;">
              Code of Conduct for IAHA Associates
            </h3>
            <h5 style="margin-top:3rem;">
              Associate Members of IAHA are people or organisations who are not
              engaged in the manufacture of Assistive Listening technologies but
              have an interest in furthering the take up and proper use of them.
              These may be hearing instrument manufacturers, caring
              organisations, architects, installation companies, engineering
              consultants, venue management, etc. Associate Members will not
              show preference or favouritism towards any one manufacturer.
              Associate Members are not able to vote at IAHA meetings.
            </h5>

            <h5 style="margin-top:3rem;">
              Associate Members of IAHA will agree to conduct themselves in
              accordance with <a class="teal-text" href="/about"
                >our Principles</a
              > and recognise their responsibility to do whatever is reasonably possible
              to ensure Assistive Listening systems will:
            </h5>
          </div>
          <CodeOfConduct />
        </div>
        <div class="spacer-sm"></div>
        <div class="section-divider"></div>
        <div class="spacer-sm"></div>
      </div>
    </div>
  </section>

  <section class="hero-contact-a" id="register">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid contact-a-halves">
        <div class="contact-a-left">
          <div id="contact-form" class="headline-contact-a">
            <div class="text-h4">
              I wish to apply to be an Associate Member of IAHA
            </div>
            <div class="text-h5">
              All applications shall be approved by the IAHA committee and an
              annual fee of £300 is payable on confirmation of acceptance.
            </div>
          </div>

          <div class="w-form">
            <form
              id="wf-form-Email-Form"
              name="wf-form-Email-Form"
              data-name="Email Form"
              method="POST"
              class="contact-form"
              action="https://api.web3forms.com/submit"
              data-wf-element-id="ba2d1bf6-b4f1-904b-4100-318d9149ae98"
            >
              <input
                type="hidden"
                name="redirect"
                value="https://iaha-global.netlify.app/membership-thanks/"
              />
              <input
                type="hidden"
                name="access_key"
                value="49f7f987-d3fe-469b-b5e7-19f107eea0bc"
              />
              <input
                type="hidden"
                name="subject"
                value="New Associate Member Application Submitted"
              />
              <h5>Contact Details</h5>
              <div class="w-layout-grid input-halves">
                <div class="contact-input-wrap">
                  <div class="label teal-text">
                    Main representative name
                  </div><input
                    class="text-field w-input"
                    maxlength="256"
                    name="Main representative name"
                    data-name="Name"
                    placeholder="Name"
                    type="text"
                    id="Main-representative-name"
                    required
                  />
                </div>
                <div class="contact-input-wrap">
                  <div class="label teal-text">
                    Name of organization (if applicable)
                  </div><input
                    class="text-field w-input"
                    maxlength="256"
                    name="Name of organisation"
                    data-name="org-name"
                    placeholder="Organization Name"
                    type="text"
                    id="org-name"
                  />
                </div>
                <div class="contact-input-wrap">
                  <div class="label teal-text">
                    Main representative email address
                  </div><input
                    class="text-field w-input"
                    maxlength="256"
                    name="email"
                    data-name="org-name"
                    placeholder="Email Address"
                    type="email"
                    id="email"
                    required
                  />
                </div>
                <div class="contact-input-wrap">
                  <div class="label teal-text">
                    Main representative telephone number
                  </div><input
                    class="text-field w-input"
                    maxlength="256"
                    name="telephone"
                    data-name="telephone"
                    placeholder="Telephone Number"
                    type="text"
                    id="telephone"
                    required
                  />
                </div>
              </div>

              <div class="w-layout-grid input-halves">
                <div class="contact-input-wrap">
                  <div class="label teal-text">
                    Technical representative name
                  </div><input
                    class="text-field w-input"
                    maxlength="256"
                    name="Technical representative name"
                    data-name="Technical representative name"
                    placeholder="Technical representative name"
                    type="text"
                    id="Technical representative name"
                  />
                </div>
                <div class="contact-input-wrap">
                  <div class="label teal-text">
                    Technical representative telephone number
                  </div><input
                    class="text-field w-input"
                    maxlength="256"
                    name="Technical representative telephone number"
                    data-name="Technical representative telephone number"
                    placeholder="Telephone Number"
                    type="text"
                    id="Technical representative telephone number"
                  />
                </div>
                <div class="contact-input-wrap">
                  <div class="label teal-text">
                    Technical representative email address
                  </div><input
                    class="text-field w-input"
                    maxlength="256"
                    name="Technical representative email address"
                    data-name="org-name"
                    placeholder="Technical representative email address"
                    type="email"
                    id="Technical representative email address"
                  />
                </div>

                <div class="contact-input-wrap">
                  <div class="label teal-text">Website</div><input
                    class="text-field w-input"
                    maxlength="256"
                    name="Website"
                    data-name="org-name"
                    placeholder="Website"
                    id="Website"
                  />
                </div>
              </div>
              <h5>Address</h5>
              <!-- Address fields start -->
              <div class="w-layout-grid input-halves">
                <div class="contact-input-wrap">
                  <div class="label teal-text">Address Line One</div><input
                    class="text-field w-input"
                    maxlength="256"
                    name="address"
                    data-name="address"
                    placeholder="Address Line"
                    type="text"
                    id="address"
                    required
                  />
                </div>
                <div class="contact-input-wrap">
                  <div class="label teal-text">Town/City</div><input
                    class="text-field w-input"
                    maxlength="256"
                    name="town"
                    data-name="town"
                    placeholder="Town/City"
                    type="text"
                    id="town"
                    required
                  />
                </div>
                <div class="contact-input-wrap">
                  <div class="label teal-text">County/State</div><input
                    class="text-field w-input"
                    maxlength="256"
                    name="county"
                    data-name="county"
                    placeholder="County/State"
                    type="text"
                    id="county"
                    required
                  />
                </div>
                <div class="contact-input-wrap">
                  <div class="label teal-text">Postcode/ZIP</div><input
                    class="text-field w-input"
                    maxlength="256"
                    name="postcode"
                    data-name="postcode"
                    placeholder="Postcode/ZIP"
                    type="text"
                    id="postcode"
                    required
                  />
                </div>
                <div class="contact-input-wrap">
                  <div class="label teal-text">Country</div><input
                    class="text-field w-input"
                    maxlength="256"
                    name="country"
                    data-name="country"
                    placeholder="Country"
                    type="text"
                    id="country"
                    required
                  />
                </div>
                <!-- Address fields end -->
              </div>
              <h5>Company Information</h5>
              <div class="w-layout-grid input-halves">
                <div class="contact-input-wrap">
                  <div class="label teal-text">
                    Number of years trading
                  </div><input
                    class="text-field w-input"
                    maxlength="256"
                    name="Number of years trading"
                    data-name="Number of years trading"
                    placeholder="Number of years trading"
                    type="text"
                    id="Number of years trading"
                    required
                  />
                </div>
                <div class="contact-input-wrap">
                  <div class="label teal-text">Number of employees</div><input
                    class="text-field w-input"
                    maxlength="256"
                    name="Number of employees"
                    data-name="org-name"
                    placeholder="Number of employees"
                    type="text"
                    id="Number of employees"
                    required
                  />
                </div>
              </div>
              <div class="contact-input-wrap">
                <div class="label teal-text">
                  Areas of Expertise (select all that apply)
                </div>
                <div style="display: flex; flex-wrap: wrap; gap: 1em 2em;">
                  <label
                    style="display: flex; align-items: center; gap: 0.5em;"
                  >
                    <input
                      type="checkbox"
                      name="expertise"
                      value="Manufacturer"
                    />
                    <span
                      class="light-accent"
                      style="font-size: 0.8rem; font-weight:normal;"
                      >Manufacturer</span
                    >
                  </label>
                  <label
                    style="display: flex; align-items: center; gap: 0.5em;"
                  >
                    <input type="checkbox" name="expertise" value="Training" />
                    <span
                      class="light-accent"
                      style="font-size: 0.8rem; font-weight:normal;"
                      >Training</span
                    >
                  </label>
                  <label
                    style="display: flex; align-items: center; gap: 0.5em;"
                  >
                    <input type="checkbox" name="expertise" value="Installer" />
                    <span
                      class="light-accent"
                      style="font-size: 0.8rem; font-weight:normal;"
                      >Installer</span
                    >
                  </label>
                  <label
                    style="display: flex; align-items: center; gap: 0.5em;"
                  >
                    <input type="checkbox" name="expertise" value="Designer" />
                    <span
                      class="light-accent"
                      style="font-size: 0.8rem; font-weight:normal;"
                      >Designer</span
                    >
                  </label>
                  <label
                    style="display: flex; align-items: center; gap: 0.5em;"
                  >
                    <input
                      type="checkbox"
                      name="expertise"
                      value="Consultant"
                    />
                    <span
                      class="light-accent"
                      style="font-size: 0.8rem; font-weight:normal;"
                      >Consultant</span
                    >
                  </label>
                  <label
                    style="display: flex; align-items: center; gap: 0.5em;"
                  >
                    <input
                      type="checkbox"
                      name="expertise"
                      value="Maintenance"
                    />
                    <span
                      class="light-accent"
                      style="font-size: 0.8rem; font-weight:normal;"
                      >Maintenance</span
                    >
                  </label>
                  <label
                    style="display: flex; align-items: center; gap: 0.5em;"
                  >
                    <input
                      type="checkbox"
                      name="expertise"
                      value="Distributor"
                    />
                    <span
                      class="light-accent"
                      style="font-size: 0.8rem; font-weight:normal;"
                      >Distributor</span
                    >
                  </label>
                </div>
              </div>
              <div class="contact-input-wrap">
                <div class="label teal-text">
                  Type of products manufactured with link to product data sheets
                  (if applicable)
                </div><textarea
                  placeholder="Type of products manufactured"
                  maxlength="5000"
                  id="Products"
                  name="Products"
                  data-name="Products"
                  class="text-field text-area w-input"></textarea>
              </div>

              <input
                type="submit"
                data-wait="Please wait..."
                class="cta-main small w-button"
                value="Submit Application"
              />
            </form>
            <div class="success-message w-form-done">
              <div>Thank you ! Your submission has been received !</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops ! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div
          id="w-node-_7f54b512-2237-d830-8642-e97738a56880-e2064d66"
          class="contact-a-right"
        >
          <BenefitsLink />
          <img
            src="/img/contact.jpg"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 557px"
            alt="Contact IAHA"
            class="image-cover"
            style="border-radius: 1rem;"
          />

          <div class="spacer-sm"></div>

          <div class="w-layout-grid contact-a-address-block">
            <div class="contact-a-address-tile">
              <div class="text-body semibold">Address</div>
              <div class="text-body">
                Clarence Street Chambers <br />Essex, SS1 1BD, UK
              </div>
            </div>
            <div class="contact-a-address-tile">
              <div class="text-body semibold">Email</div>
              <a href="mailt:admin@iaha-global.com">
                <div class="text-body teal-text">admin@iaha-global.com</div></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <FooterSpacing />
  <MainNews limit={3} />
</Layout>
<script is:inline>
  window.onload = function () {
    // Reset the form fields when the page loads
    document.getElementById("wf-form-Email-Form").reset();
  };
</script>
