---
import BenefitsLink from "../../components/BenefitsLink.astro";
import CodeOfConduct from "../../components/CodeOfConduct.astro";
import FooterSpacing from "../../components/FooterSpacing.astro";
import MainNews from "../../components/MainNews.astro";
import MemberChoice from "../../components/MemberChoice.astro";
import Layout from "../../layouts/Layout.astro";
---

<title>
  Our Code of Practice - IAHA: The International Association For Hearing
  Accessibility
</title>

<Layout>
  <section class="section hero-careers">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-careers">
        <div class="careers-top-tile">
          <div class="spacer-sm"></div>
          <div class="heading-careers">
            <div class="headline-blog">
              <div class="label teal-text">IAHA Membership</div>
              <h1 class="text-h1">IAHA Code of Practice</h1>
            </div>
          </div>
        </div>

        <div class="home-b-button-wrap">
          <a href="#become-a-member" class="cta-main accent w-inline-block">
            <div class="button-animation-hide">
              <div class="button-animation-wrap">
                <div class="button-content-tile">
                  <div>Become an IAHA Member</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile">
                  <div>Become an IAHA Member</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="section-divider"></div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid numbers-halves"></div>
      <div class="product-content-wrap">
        <div class="w-layout-grid product-halves">
          <div class="label">What is our code of practice?</div>
          <div class="w-richtext">
            <h3 class="no-margins">
              The International Association for Hearing Accessibility requires
              both members and associates to abide by a code of practice, also
              referred to as a code of conduct.
            </h3>
            <h5 style="margin-top:3rem;">
              Interested in becoming an IAHA member? Find out more about our <a
                class="teal-text"
                href="/members">membership</a
              >, or<a class="teal-text" href="mailto:admin@iaha-global.com">
                contact us</a
              > directly.
            </h5>
          </div>
        </div>
        <div class="section-divider"></div>

        <div class="w-layout-grid product-halves">
          <div>
            <div class="label">Code of Conduct for IAHA Associates</div>
            <h3 style="margin-top:3rem;">
              Code of Conduct for IAHA Associates
            </h3>
            <h5 style="margin-top:3rem;">
              Associate Members of IAHA are people or organisations who are not
              engaged in the manufacture of Assistive Listening technologies but
              have an interest in furthering the take up and proper use of them.
              These may be hearing instrument manufacturers, caring
              organisations, architects, installation companies, engineering
              consultants, venue management, etc. Associate Members will not
              show preference or favouritism towards any one manufacturer.
              Associate Members are not able to vote at IAHA meetings.
            </h5>

            <h5 style="margin-top:3rem;">
              Associate Members of IAHA will agree to conduct themselves in
              accordance with <a class="teal-text" href="/about"
                >our Principles</a
              > and recognise their responsibility to do whatever is reasonably possible
              to ensure Assistive Listening systems will:
            </h5>
          </div>
          <CodeOfConduct />
        </div>
        <div class="spacer-sm"></div>
        <div class="section-divider"></div>
        <div class="spacer-sm"></div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid numbers-halves"></div>
      <div class="product-content-wrap">
        <div class="w-layout-grid product-halves">
          <div>
            <div class="label">Code of Conduct for IAHA Members</div>
            <h3 style="margin-top:3rem;">Code of Conduct for Full Members</h3>
            <h5 style="margin-top:3rem;">
              International Association for Hearing Accessibility (IAHA) members
              are people or organisations who are engaged in the manufacturer of
              Assistive Listening technology. Only IAHA Members are able to vote
              at IAHA meetings.
            </h5>

            <h5 style="margin-top:3rem;">
              Members will actively promote good practice, and adoption of these
              principles, to all parties involved in specification,
              installation, management and use of their Assistive Listening
              systems.
            </h5>

            <h5 style="margin-top:3rem;">
              Members of IAHA will agree to conduct themselves in accordance
              with <a class="teal-text" href="/about">our Principles</a> and recognise
              their responsibility to do whatever is reasonably possible to ensure
              Assistive Listening systems will:
            </h5>
          </div>

          <CodeOfConduct />
        </div>

        <div class="w-layout-grid product-halves">
          <div>
            <h3 style="margin-top:3rem;">Members will provide:</h3>
          </div>

          <div
            class="w-layout-grid feature-grid-side2"
            style="margin-top: 3rem;"
          >
            <div class="code-card">
              <div class="feature-bottom-tile">
                <div class="feature-subtitle">
                  <div class="text-h5 teal-text">
                    Accurate guidance and instructions
                  </div>
                </div>
                <p class="text-body">
                  Provide clear, accurate guidance and instructions to ensure
                  assistive listening technologies are used effectively and
                  confidently.
                </p>
              </div>
            </div>

            <div class="code-card">
              <div class="feature-bottom-tile">
                <div class="feature-subtitle">
                  <div class="text-h5 teal-text">
                    Product documentation and specifications and product
                    accessories
                  </div>
                </div>
                <p class="text-body">
                  Ensure all products are supplied with complete documentation,
                  specifications, and any necessary accessories to support
                  correct installation and use.
                </p>
              </div>
            </div>
            <div class="code-card">
              <div class="feature-bottom-tile">
                <div class="feature-subtitle">
                  <div class="text-h5 teal-text">
                    Training as required to ensure their products and their
                    Assistive Listening systems meet these requirements.
                  </div>
                </div>
                <p class="text-body">
                  Provide training as needed to ensure products and Assistive
                  Listening systems meet all performance and accessibility
                  requirements. users.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="spacer-sm"></div>
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="section-divider"></div>
    </div>
  </section>

  <MemberChoice />
  <FooterSpacing />
  <MainNews limit={3} />
</Layout>
