---
import MainNews from "../../components/MainNews.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="utility-page-wrap _404-page">
    <div class="utility-page-content _404-utility">
      <div class="_404-master">
        <div class="_404-heading">
          <h1 class="text-h1">Coming<br />Soon<br /></h1>
        </div><a href="index.html" class="cta-main w-inline-block">
          <div class="button-animation-hide">
            <div class="button-animation-wrap">
              <div class="button-content-tile">
                <div>Back to IAHA</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
              <div class="button-content-tile bottom-tile">
                <div>Back to IAHA</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <MainNews limit={3} />
</Layout>
