---
import AltNews from "../../components/AltNews.astro";
import AskIcon from "../../components/icons/AskIcon.astro";
import ListenIcon from "../../components/icons/ListenIcon.astro";
import LookIcon from "../../components/icons/LookIcon.astro";
import SwitchIcon from "../../components/icons/SwitchIcon.astro";
import VenuesIcon from "../../components/icons/VenuesIcon.astro";
import MainNews from "../../components/MainNews.astro";
import Telecoil from "../../components/Telecoil.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="section home-b-hero">
    <div class="w-layout-grid home-b-hero-halves">
      <div class="home-b-hero-video">
        <div
          data-poster-url="/img/crowd.jpg"
          data-autoplay="true"
          data-loop="true"
          data-wf-ignore="true"
          class="video-cover w-background-video w-background-video-atom"
        >
          <video
            id="dd4a4a55-d02d-e713-cd77-aca276f208b2-video"
            autoplay=""
            loop=""
            muted=""
            playsinline=""
            data-wf-ignore="true"
            data-object-fit="cover"
          >
            <source src="/video/crowd.mp4" data-wf-ignore="true" />
          </video>
        </div>
      </div>
      <div
        id="w-node-b3e792f4-cab4-dd11-8ea4-9fc938cf4fa3-e2064dc4"
        class="home-b-hero-right"
        style="background: #f3f6f3;"
      >
        <div class="headline-home-b">
          <div class="hero-home-b-top-tile">
            <div class="label">Assistive Listening Technology</div>
            <div class="home-b-heading">
              <h1 class="text-h0">Auracast</h1>
            </div>
            <div class="section-divider home-c-numbers"></div>
            <div class="text-h4">How it works</div>
            <p class="text-big">
              Audio from a source, such as a microphone, TV, or public address
              system, is transmitted wirelessly via an Auracast-enabled
              Bluetooth transmitter. This transmitter broadcasts the sound as a
              digital signal that multiple compatible devices can receive
              simultaneously. The broadcast is picked up directly by hearing
              aids, cochlear implants, earbuds, or headphones without the need
              for pairing.
            </p>

            <p class="text-big">
              Once received, each device decodes the signal and delivers clear,
              synchronised, low-latency audio straight to the listener. This
              enables seamless shared listening in public spaces or private
              settings, with each user experiencing consistent sound quality and
              the ability to adjust volume independently on their own device.
            </p>

            <div class="home-b-button-wrap">
              <a href="#part-2" class="cta-main accent w-inline-block">
                <div class="button-animation-hide">
                  <div class="button-animation-wrap">
                    <div class="button-content-tile">
                      <div>Find out more</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="button-content-tile">
                      <div>Find out more</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div
            data-w-id="1ffd7efb-f14d-f551-08f8-9dc596336054"
            style="opacity:0"
            class="rating"
          >
            <div class="rating-icon-wrap">
              <div class="icon-rating accent w-embed">
                <svg
                  width="100%"
                  height="100%"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7.9987 1.33203L10.0587 5.50536L14.6654 6.1787L11.332 9.42537L12.1187 14.012L7.9987 11.8454L3.8787 14.012L4.66536 9.42537L1.33203 6.1787L5.9387 5.50536L7.9987 1.33203Z"
                    fill="currentColor"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="w-layout-blockcontainer main-container right-padding-8 w-container"
    >
    </div>
  </section>

  <div class="spacer-sm"></div>

  <section class="section home-a-story-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid story-halves">
        <div class="headline-story">
          <div class="heading-story">
            <div class="spacer-sm"></div>
            <div class="section-divider home-c-numbers"></div>

            <h2 id="part-2" class="no-margins">
              Devices with Auracast-compatible Bluetooth receive broadcast audio
              directly<span class="light-accent">
                without needing to pair or use extra equipment.
              </span>
            </h2>
            <div class="spacer-sm"></div>
            <div class="section-divider home-c-numbers"></div>

            <h5>
              Auracast is based on Bluetooth LE (Low Energy) Audio, created by
              the Bluetooth Special Interest Group (SIG). Unlike traditional
              Bluetooth, which connects one device to a single receiver,
              Auracast lets one source, like a phone, TV, or speaker, stream
              audio simultaneously to many Bluetooth headphones, earbuds, or
              hearing devices.
            </h5>

            <h5>
              Auracast supports both public and encrypted private broadcasts.
              Multiple streams can operate simultaneously in the same space
              without interference, ensuring reliable audio access in venues
              like airports, theaters, and conference rooms.
            </h5>
          </div>
        </div>
        <div class="story-image-wrap">
          <img
            src="/img/hearing-aid-close.jpg"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
            alt="hearing aid close up"
            class="image-cover"
          />
        </div>
      </div>
    </div>
  </section>
  <div class="spacer-sm"></div>
  <section class="section home-a-story-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid story-halves">
        <div class="story-image-wrap">
          <video
            src="/video/counter.mp4"
            autoplay
            muted
            loop
            playsinline
            class="image-cover"
            style="width: 100%; height: auto;"></video>
        </div>
        <div class="headline-story">
          <div class="heading-story">
            <h2 class="no-margins">
              Auracast enables multiple users to stream audio simultaneously
              from a single source.
            </h2>
          </div>
          <div class="spacer-xs"></div>
          <div class="section-divider home-c-numbers"></div>

          <h5>
            This one-to-many broadcast removes the need for individual device
            pairing and physical connections, allowing each listener to control
            their own volume and sound preferences. With an extended
            transmission range of up to 300 feet, users can move freely within
            their environment without interruption.
          </h5>
        </div>
      </div>
    </div>
  </section>

  <div class="spacer-sm"></div>

  <div class="spacer-sm"></div>

  <section class="section home-a-story-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid story-halves">
        <div class="headline-story">
          <div class="heading-story">
            <div class="section-divider home-c-numbers"></div>

            <h2 class="no-margins">
              Auracast is not set to replace existing assistive listening
              technologies.
            </h2>
            <div class="spacer-sm"></div>
            <div class="section-divider home-c-numbers"></div>

            <h5>
              Instead, both technologies will work together to provide the best
              listening experience.<br /> It will take time for venues, device makers,
              and users to adopt the necessary technology, and it’s important to
              ensure people who depend on telecoil hearing aids or don’t use smartphones
              remain supported.
            </h5>
            <h5>
              Adding Auracast as it becomes available will enhance
              accessibility, but only when it complements existing hearing loop
              systems rather than replacing them.
            </h5>
            <h5>
              Currently, the best approach is to maintain current loop systems
              and add Auracast transmitters to future-proof accessibility. For
              new installations, both technologies should be installed side by
              side wherever possible, ensuring inclusive access for all users.
            </h5>
            <h5>
              Bluetooth SIG <a
                class="teal-text"
                href="https://www.bluetooth.com/blog/why-auracast-broadcast-audio-needs-to-coexist-with-current-assistive-listening-technologies/"
              >
                emphasizes the importance of Auracast's ability to co-exist with
                other assistive listening technologies</a
              >, especially hearing loops, to ensure that all users, including
              those with telecoil-enabled devices, continue to have inclusive
              access to audio.
            </h5>
          </div>
        </div>
        <div class="story-image-wrap">
          <img
            src="/img/assistive-listening-sign.jpg"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
            alt="assistive listening sign"
            class="image-cover"
          />
        </div>
      </div>
    </div>
  </section>
  <div class="spacer-sm"></div>
  <section class="section home-a-about-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div id="scrollto" class="text-h1">How to Access Auracast</div>
      <div class="spacer-sm"></div>
      <div class="spacer-sm"></div>
      <div class="w-layout-grid home-a-grid">
        <div class="home-a-feature-card first-card">
          <div class="card-header">
            <div class="home-a-feature-icon">
              <LookIcon />
            </div>
            <div class="text-h4">Look</div>
          </div>

          <div class="text-h6">
            Look for assistive listening signs. <a
              href="/assistive-listening-technologies#signage"
              class="teal-text">(Find out more about signeage here)</a
            >
          </div>
        </div>
        <div class="home-a-feature-card second-card">
          <div class="card-header">
            <div class="home-a-feature-icon">
              <AskIcon />
            </div>
            <div class="text-h4">Ask</div>
          </div>
          <div class="text-h6">
            Although adequate signage must communicate a loop system is
            available, this isn't always the case.
          </div>
        </div>
        <div class="home-a-feature-card third-card">
          <div class="card-header">
            <div class="home-a-feature-icon">
              <SwitchIcon />
            </div>
            <div class="text-h4">Switch</div>
          </div>

          <div class="text-h6">
            Switch to the ‘T’ or ‘MT’ setting on your hearing aid(s), cochlear
            implant or bone conduction device.
          </div>
        </div>
        <div class="home-a-feature-card fourth-card">
          <div class="card-header">
            <div class="home-a-feature-icon">
              <ListenIcon />
            </div>
            <div class="text-h4">Listen</div>
          </div>
          <div class="text-h6">Listen to clear, latency free audio.</div>
        </div>
      </div>
    </div>
  </section>

  <section class="section about-b-numbers-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid numbers-halves">
        <div class="numbers-right">
          <div class="text-h1">Auracast Advantages</div>

          <div class="w-layout-grid number-features-grid">
            <div class="home-number-feature advantage">
              <div class="text-h4">Universally Accessible</div>
              <div class="text-small">
                Auracast will be accessible with or without a smartphone,
                offering a simpler way to connect to audio once widely adopted.
              </div>
            </div>
            <div class="home-number-feature advantage">
              <div class="text-h4">Personalized Experience</div>
              <div class="text-small">
                Users can personalize their listening by adjusting volume and
                sound settings to their preferences.
              </div>
            </div>
            <div class="home-number-feature advantage">
              <div class="text-h4">Flexible</div>
              <div class="text-small">
                Auracast works across environments, from private home
                entertainment to public venues like airports and museums.
              </div>
            </div>
            <div class="home-number-feature advantage">
              <div class="text-h4">Reduced Battery Consumption</div>
              <div class="text-small">
                Auracast uses less power than traditional Bluetooth, reducing
                battery drain on hearing aids
              </div>
            </div>
            <div class="home-number-feature advantage">
              <div class="text-h4">One-to-many Audio Streaming</div>
              <div class="text-small">
                Connects multiple devices to a single source simultaneously.
              </div>
            </div>
            <div class="home-number-feature advantage">
              <div class="text-h4">Multi-stream Coexistence</div>
              <div class="text-small">
                Multiple Auracast broadcasts can operate in the same space
                without interference.
              </div>
            </div>
            <div class="home-number-feature advantage">
              <div class="text-h4">Extended Range</div>
              <div class="text-small">
                Supports listening up to around 300 feet indoors.
              </div>
            </div>
          </div>
        </div>
        <div class="numbers-right">
          <div class="text-h1">Auracast Limitations</div>

          <div class="w-layout-grid number-features-grid">
            <div class="home-number-feature limitation">
              <div class="text-h4">Smartphone Dependency</div>
              <div class="text-small">
                Accessing Auracast broadcasts often requires a smartphone, which
                may limit use for individuals who are less familiar with digital
                devices.
              </div>
            </div>
            <div class="home-number-feature limitation">
              <div class="text-h4">Not a full replacement</div>
              <div class="text-small">
                Auracast must coexist with existing systems like hearing loops
                for broad accessibility.
              </div>
            </div>
            <div class="home-number-feature limitation">
              <div class="text-h4">Early Stage Adoption</div>
              <div class="text-small">
                Auracast is built on emerging standards but is not yet fully
                standardized or widely supported across all devices.
              </div>
            </div>
            <div class="home-number-feature limitation">
              <div class="text-h4">Potential Latency Issues</div>
              <div class="text-small">
                While Auracast aims for low latency, real-world performance may
                vary depending on device compatibility and implementation.
              </div>
            </div>
            <div class="home-number-feature limitation">
              <div class="text-h4">Battery Consumption</div>
              <div class="text-small">
                Although Auracast is built for low power use, some devices may
                still see increased battery consumption with prolonged usage.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-home-c-tabs">
        <h3 class="text-h1">Common Auracast Applications</h3>
      </div>
      <div
        data-current="Tab 1"
        data-easing="ease"
        data-duration-in="300"
        data-duration-out="100"
        class="home-b-tabs w-tabs"
      >
        <div class="home-b-tab-menu w-tab-menu">
          <a
            data-w-tab="Tab 1"
            data-w-id="9717cd62-6764-10cd-fdbe-99fd64033c04"
            class="home-c-tab w-inline-block w-tab-link w--current"
          >
            <div class="tab-relative">
              <div class="tab-text-wrap">
                <VenuesIcon />
                <div class="text-h5">Public Spaces</div>
              </div>
            </div>
            <div class="tab-top-tile">
              <VenuesIcon />
              <div class="text-h4">Public Spaces</div>
            </div>
            <div class="tab-b-text-wrap">
              <div class="limit-520">
                <ul>
                  <li class="text-h5">Airports</li>
                  <li class="text-h5">Train & Bus Stations</li>
                  <li class="text-h5">Convention Centers</li>
                  <li class="text-h5">Civic Buildings</li>
                </ul>
              </div>
            </div><img
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, (max-width: 991px) 45vw, 29vw"
              alt="Auracast Applications"
              src="/img/alts/conference.jpg"
              loading="lazy"
              class="tab-b-image"
            />
            <div class="tab-b-overlay"></div>
          </a><a
            data-w-tab="Tab 2"
            class="home-c-tab w-inline-block w-tab-link"
          >
            <div class="tab-relative">
              <div class="tab-text-wrap">
                <VenuesIcon />
                <div class="text-h5">Education & Culture</div>
              </div>
            </div>
            <div class="tab-top-tile">
              <VenuesIcon />
              <div class="text-h4">Education & Culture</div>
            </div>
            <div class="tab-b-text-wrap">
              <div class="limit-520">
                <ul>
                  <li class="text-h5">Theatres</li>
                  <li class="text-h5">Theatres & Auditoriums</li>
                  <li class="text-h5">Lecture Halls</li>
                  <li class="text-h5">Museums</li>
                  <li class="text-h5">Visitor Centers</li>
                </ul>
              </div>
            </div><img
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, (max-width: 991px) 45vw, 21vw"
              alt="Auracast Applications"
              src="/img/alts/learning.webp"
              loading="lazy"
              class="tab-b-image"
            />
            <div class="tab-b-overlay"></div>
          </a><a
            data-w-tab="Tab 3"
            class="home-c-tab w-inline-block w-tab-link"
          >
            <div class="tab-relative">
              <div class="tab-text-wrap">
                <VenuesIcon />
                <div class="text-h5">Home & Social Listening</div>
              </div>
            </div>
            <div class="tab-top-tile">
              <VenuesIcon />
              <div class="text-h4">Home & Social Listening</div>
            </div>
            <div class="tab-b-text-wrap">
              <div class="limit-520">
                <ul>
                  <li class="text-h5">Theme Parks</li>
                  <li class="text-h5">Group Music Streaming</li>
                  <li class="text-h5">Movie Theatres</li>
                  <li class="text-h5">PA Announcements</li>
                </ul>
              </div>
            </div><img
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, (max-width: 991px) 45vw, 21vw"
              alt="Auracast Applications"
              src="/img/alts/auditorium.jpeg"
              loading="lazy"
              class="tab-b-image"
            />
            <div class="tab-b-overlay"></div>
          </a><a
            data-w-tab="Tab 4"
            class="home-c-tab w-inline-block w-tab-link"
          >
            <div class="tab-relative">
              <div class="tab-text-wrap">
                <VenuesIcon />
                <div class="text-h5">Group Environments</div>
              </div>
            </div>
            <div class="tab-top-tile">
              <VenuesIcon />
              <div class="text-h4">Group Environments</div>
            </div>
            <div class="tab-b-text-wrap">
              <div class="limit-520">
                <ul>
                  <li class="text-h5">Meeting Spaces</li>
                  <li class="text-h5">Conference Rooms</li>
                  <li class="text-h5">Gyms</li>
                  <li class="text-h5">Tour Experiences</li>
                </ul>
              </div>
            </div><img
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, (max-width: 991px) 45vw, 21vw"
              alt="Auracast Applications"
              src="/img/alts/meeting.avif"
              loading="lazy"
              class="tab-b-image"
            />
            <div class="tab-b-overlay"></div>
          </a>
        </div>
        <div class="w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active"></div>
          <div data-w-tab="Tab 2" class="w-tab-pane"></div>
          <div data-w-tab="Tab 3" class="w-tab-pane"></div>
          <div data-w-tab="Tab 4" class="w-tab-pane"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="section hero-product" style="margin-top: -1rem;">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-product">
        <h1 class="text-h1">Auracast Standards</h1>
        <div>
          <div class="home-b-button-wrap">
            <a
              href="../resources/standards"
              class="cta-main accent w-inline-block"
            >
              <div class="button-animation-hide">
                <div class="button-animation-wrap">
                  <div class="button-content-tile">
                    <div>Find out more about standards</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="button-content-tile">
                    <div>Find out more about standards</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="product-content-wrap">
        <div class="section-divider"></div>
        <div class="w-layout-grid product-halves">
          <div class="label">EQUIPMENT PERFORMANCE STANDARDS</div>
          <div class="w-richtext">
            <p>
              A correctly installed system is inherently compliant with IEC
              60118-4
            </p>
            <div class="section-divider"></div>
            <p style="margin-top:1rem;">
              A suitable loop driver will always be compliant with IEC 62489-1
            </p>
          </div>
        </div>

        <div class="section-divider"></div>
        <div class="w-layout-grid product-halves">
          <div class="label">ACCESSIBILITY STANDARDS</div>
          <div class="w-richtext">
            <p>Fully compliant per ADA Standard 219</p>
            <div class="section-divider"></div>
            <p style="margin-top:1rem;">
              BS 8300 Design of an accessible and inclusive built environment
            </p>
            <div class="section-divider"></div>
            <p style="margin-top:1rem;">
              <p style="margin-top:1rem;">
                BS 8300 Design of an accessible and inclusive built environment
              </p>
            </p>
          </div>
        </div>

        <div class="section-divider"></div>
      </div>
    </div>
    <div class="spacer-sm"></div>
    <div class="spacer-sm"></div>
    <div class="spacer-sm"></div>
    <div class="spacer-sm"></div>
    <AltNews technology="Auracast" />
    <MainNews limit={6} />
    <section>
      <div class="w-layout-blockcontainer main-container w-container">
        <div class="related-block w-dyn-list">
          <div role="navigation" aria-label="List" class="w-pagination-wrapper">
            <a
              href="/news"
              aria-label="Next Page"
              class="w-pagination-next pagination-button-article"
            >
              <div class="text-h3 w-inline-block">More News</div>
            </a>
            <link rel="prerender" href="blog@33f22ee7_page=2.html" />
          </div>
        </div>
      </div>
    </section>
  </section>
</Layout>
