---
import AltNews from "../../components/AltNews.astro";
import AskIcon from "../../components/icons/AskIcon.astro";
import ListenIcon from "../../components/icons/ListenIcon.astro";
import LookIcon from "../../components/icons/LookIcon.astro";
import SwitchIcon from "../../components/icons/SwitchIcon.astro";
import VenuesIcon from "../../components/icons/VenuesIcon.astro";
import MainNews from "../../components/MainNews.astro";
import Telecoil from "../../components/Telecoil.astro";
import Layout from "../../layouts/Layout.astro";
---

<title>
  Auracast - IAHA: The International Association For Hearing Accessibility
</title>

<Layout>
  <section class="section home-b-hero">
    <div class="w-layout-grid home-b-hero-halves">
      <div class="home-b-hero-video">
        <div
          data-poster-url="/img/crowd.jpg"
          data-autoplay="true"
          data-loop="true"
          data-wf-ignore="true"
          class="video-cover w-background-video w-background-video-atom"
        >
          <video
            id="dd4a4a55-d02d-e713-cd77-aca276f208b2-video"
            autoplay=""
            loop=""
            muted=""
            playsinline=""
            data-wf-ignore="true"
            data-object-fit="cover"
          >
            <source src="/video/aura.mp4" data-wf-ignore="true" />
          </video>
        </div>
      </div>
      <div
        id="w-node-b3e792f4-cab4-dd11-8ea4-9fc938cf4fa3-e2064dc4"
        class="home-b-hero-right"
        style="background: #f3f6f3;"
      >
        <div class="headline-home-b">
          <div class="hero-home-b-top-tile">
            <div class="label">Assistive Listening Technology</div>
            <div class="home-b-heading">
              <h1 class="text-h0">Auracast</h1>
            </div>
            <div class="section-divider home-c-numbers"></div>
            <div class="text-h4">How it works</div>
            <p class="text-big">
              Audio from a source, such as a microphone, TV, or public address
              system, is transmitted wirelessly via an Auracast transmitter.
              This transmitter broadcasts the sound as a digital signal that
              multiple compatible devices can receive simultaneously. The
              broadcast is picked up directly by hearing aids, cochlear
              implants, earbuds, or headphones without the need for pairing, but
              currently an assistant device, such as a Smart Phone, is needed to
              select the required audio stream. Alternatively receivers with a
              stream (program) section facility built in are available.
            </p>

            <p class="text-big">
              Once received, each device decodes the signal and delivers clear,
              synchronised, low-latency audio straight to the listener. The
              exact latency will vary depending upon the transmitter and
              receiver (HA/HI/ earbud etc) but is typically with the range
              30-70ms.This enables shared listening in public spaces or private
              settings.
            </p>

            <div class="home-b-button-wrap">
              <a href="#part-2" class="cta-main accent w-inline-block">
                <div class="button-animation-hide">
                  <div class="button-animation-wrap">
                    <div class="button-content-tile">
                      <div>Find out more</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="button-content-tile">
                      <div>Find out more</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div
            data-w-id="1ffd7efb-f14d-f551-08f8-9dc596336054"
            style="opacity:0"
            class="rating"
          >
            <div class="rating-icon-wrap">
              <div class="icon-rating accent w-embed">
                <svg
                  width="100%"
                  height="100%"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7.9987 1.33203L10.0587 5.50536L14.6654 6.1787L11.332 9.42537L12.1187 14.012L7.9987 11.8454L3.8787 14.012L4.66536 9.42537L1.33203 6.1787L5.9387 5.50536L7.9987 1.33203Z"
                    fill="currentColor"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="w-layout-blockcontainer main-container right-padding-8 w-container"
    >
    </div>
  </section>

  <div class="spacer-sm"></div>

  <section class="section home-a-story-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid story-halves">
        <div class="headline-story">
          <div class="heading-story">
            <div class="spacer-sm"></div>
            <div class="section-divider home-c-numbers"></div>

            <h2 id="part-2" class="no-margins">
              Auracast compatible devices can receive the audio broadcast
              directly, but need an ‘assistant’ (often in the form of a smart
              phone) to select the audio stream to be listened to.
            </h2>
            <div class="spacer-sm"></div>
            <div class="section-divider home-c-numbers"></div>

            <h5>
              Auracast is based on Bluetooth LE (Low Energy) Audio, created by
              the Bluetooth Special Interest Group (SIG). Unlike traditional
              Bluetooth, which connects one device to a single receiver,
              Auracast lets one source, like a phone, TV, or speaker, stream
              audio simultaneously to many Auracsat compatible headphones,
              earbuds, or hearing devices.
            </h5>

            <h5>
              Auracast supports both public and encrypted private broadcasts.
              Multiple streams can operate simultaneously in the same space
              without interference, ensuring audio access in venues like
              airports and conference rooms.
            </h5>
          </div>
        </div>
        <div class="story-image-wrap">
          <img
            src="/img/alts/aura-group.jpeg"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
            alt="Auracsat in a group setting"
            class="image-cover"
          />
        </div>
      </div>
    </div>
  </section>
  <div class="spacer-sm"></div>
  <section class="section home-a-story-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid story-halves">
        <div class="story-image-wrap">
          <video
            src="/video/airport.mp4"
            autoplay
            muted
            loop
            playsinline
            class="image-cover"
            style="width: 100%; height: auto;"></video>
        </div>
        <div class="headline-story">
          <div class="heading-story">
            <h2 class="no-margins">
              Auracast enables multiple users to stream audio simultaneously
              from a single source.
            </h2>
          </div>
          <div class="spacer-xs"></div>
          <div class="section-divider home-c-numbers"></div>

          <h5>
            This one-to-many broadcast removes the need for individual device
            pairing and physical connections, allowing each listener to control
            their own volume. With a typical transmission range of up to 50m,
            depending, on the transmitter power, local conditions and aerial
            placement, users can potentially move freely within their
            environment without broadcast interruption
          </h5>
        </div>
      </div>
    </div>
  </section>

  <div class="spacer-sm"></div>

  <div class="spacer-sm"></div>

  <section class="section home-a-story-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid story-halves">
        <div class="headline-story">
          <div class="heading-story">
            <div class="section-divider home-c-numbers"></div>

            <h2 class="no-margins">
              Auracast is not set to replace existing assistive listening
              technologies.
            </h2>
            <div class="spacer-sm"></div>
            <div class="section-divider home-c-numbers"></div>

            <h5>
              Instead, both technologies can work together to provide the best
              listening experience.<br /> It will take time for venues, device makers,
              and users to adopt the necessary technology, and it’s important to
              ensure people who depend on telecoil hearing aids or don’t use smartphones
              remain supported.
            </h5>
            <h5>
              Adding Auracast as it becomes available will enhance
              accessibility, but only when it complements existing hearing loop
              systems rather than replacing them.
            </h5>
            <h5>
              Currently, the best approach is to maintain current loop systems
              and add Auracast transmitters to future-proof accessibility. For
              new installations, both technologies should be installed side by
              side wherever possible, ensuring inclusive access for all users.
            </h5>
            <h5>
              Bluetooth SIG <a
                class="teal-text"
                href="https://www.bluetooth.com/blog/why-auracast-broadcast-audio-needs-to-coexist-with-current-assistive-listening-technologies/"
              >
                emphasizes the importance of Auracast's ability to co-exist with
                other assistive listening technologies</a
              >, especially hearing loops, to ensure that all users, including
              those with telecoil-enabled devices, continue to have inclusive
              access to audio.
            </h5>
          </div>
        </div>
        <div class="story-image-wrap">
          <img
            src="/img/alts/aura-phone.jpg"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
            alt="assistive listening sign"
            class="image-cover"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- <div class="spacer-sm"></div>
  <section class="section home-a-about-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div id="access" class="text-h1">How to Access Auracast</div>
      <div class="spacer-sm"></div>
      <div class="spacer-sm"></div>
      <div class="w-layout-grid home-a-grid">
        <div class="home-a-feature-card first-card">
          <div class="card-header">
            <div class="home-a-feature-icon">
              <LookIcon />
            </div>
            <div class="text-h4">Look</div>
          </div>

          <div class="text-h6">
            Look for assistive listening, specifically Auracast, signage. <a
              href="/assistive-listening-technologies#signage"
              class="teal-text">(Find out more about signeage here)</a
            >
          </div>
        </div>
        <div class="home-a-feature-card second-card">
          <div class="card-header">
            <div class="home-a-feature-icon">
              <img src="/img/icons/how/connect.svg" alt="connect" />
            </div>
            <div class="text-h4">Connect</div>
          </div>
          <div class="text-h6">
            Open your device’s Bluetooth settings or Auracast assistant app to
            find and select the available Auracast audio broadcast.
          </div>
        </div>
        <div class="home-a-feature-card third-card">
          <div class="card-header">
            <div class="home-a-feature-icon">
              <img src="/img/icons/how/select.svg" alt="select" />
            </div>
            <div class="text-h4">Select</div>
          </div>

          <div class="text-h6">
            Select the broadcast you want to hear from the available Auracast
            streams shown on your device.
          </div>
        </div>
        <div class="home-a-feature-card fourth-card">
          <div class="card-header">
            <div class="home-a-feature-icon">
              <ListenIcon />
            </div>
            <div class="text-h4">Listen</div>
          </div>
          <div class="text-h6">
            Listen to clear, low-latency audio delivered directly to your
            device.
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="section about-b-numbers-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid numbers-halves">
        <div class="numbers-right">
          <div class="text-h1">Auracast Advantages</div>

          <div class="w-layout-grid number-features-grid">
            <div class="home-number-feature advantage">
              <div class="text-h4">Personalized Experience</div>
              <div class="text-small">
                Users can personalize their listening by adjusting volume and
                sound settings to their preferences using an appropriate App.
              </div>
            </div>
            <div class="home-number-feature advantage">
              <div class="text-h4">Flexible</div>
              <div class="text-small">
                Auracast can work across environments, from private home
                entertainment to public venues.
              </div>
            </div>
            <div class="home-number-feature advantage">
              <div class="text-h4">Reduced Battery Consumption</div>
              <div class="text-small">
                Auracast uses less power than traditional Bluetooth, reducing
                battery drain on hearing aids.
              </div>
            </div>
            <div class="home-number-feature advantage">
              <div class="text-h4">One-to-many Audio Streaming</div>
              <div class="text-small">
                Connects multiple devices to a single source simultaneously.
              </div>
            </div>
            <div class="home-number-feature advantage">
              <div class="text-h4">Multi-stream Coexistence</div>
              <div class="text-small">
                Multiple Auracast broadcasts can operate in the same space
                without interference.
              </div>
            </div>
            <div class="home-number-feature advantage">
              <div class="text-h4">
                Improved range over traditional Bluetooth
              </div>
              <div class="text-small">
                Supports listening up to typically 30 - 50m depending on
                transmitter power and local conditions.
              </div>
            </div>
          </div>
        </div>
        <div class="numbers-right">
          <div class="text-h1">Auracast Limitations</div>

          <div class="w-layout-grid number-features-grid">
            <div class="home-number-feature limitation">
              <div class="text-h4">Smartphone Dependency</div>
              <div class="text-small">
                Accessing Auracast broadcasts often requires a smartphone, which
                may limit use for individuals who are less familiar with ‘tech’
                devices. In many applications, such as in schools and other
                establishments, smart phones are not permitted.
              </div>
            </div>
            <div class="home-number-feature limitation">
              <div class="text-h4">Not a full replacement</div>
              <div class="text-small">
                Auracast must coexist with existing systems such as hearing
                loops for broad accessibility.
              </div>
            </div>
            <div class="home-number-feature limitation">
              <div class="text-h4">Device Availability</div>
              <div class="text-small">
                At present few devices are compatible with or are based on
                Auracast technology. It is expected to take around 7 to 10 years
                before sufficient Auracast compatible hearing devices (HA/CI)
                are available and so able to potentially displace Hearing Loops
                or other types of Assistive Listening technologies.
              </div>
            </div>
            <div class="home-number-feature limitation">
              <div class="text-h4">Potential Latency Issues</div>
              <div class="text-small">
                While Auracast aims for low latency, real-world performance will
                vary depending on device compatibility and implementation. The
                generally recognised maximum permissible end-to-end latency
                (transmitter. receiver and input source) is 40ms. In some
                situations, such as where a talker needs to hear the broadcast
                audio signal, a very much shorter latency than this is required.
              </div>
            </div>
            <div class="home-number-feature limitation">
              <div class="text-h4">Battery Consumption</div>
              <div class="text-small">
                Although Auracast is built for low power use, some devices may
                still see increased battery consumption with prolonged usage.
              </div>
            </div>
            <div class="home-number-feature limitation">
              <div class="text-h4">Early Stage Adoption</div>
              <div class="text-small">
                Auracast is built on emerging standards but is not yet fully
                standardized or widely supported across all devices.
              </div>
            </div>
            <div class="home-number-feature limitation">
              <div class="text-h4">Multiple transmitters</div>
              <div class="text-small">
                The use of multiple transmitters and seamless handover of audio
                streams in large spaces such as airports and shopping malls has
                yet to be developed.
              </div>
            </div>
            <div class="home-number-feature limitation">
              <div class="text-h4">Help Points, Counter Systems & Privacy</div>
              <div class="text-small">
                Techniques and equipment to cater for broadcast privacy at
                customer help points, counter systems such as at banks or health
                care situations have yet to be developed.
              </div>
            </div>
            <div class="home-number-feature limitation">
              <div class="text-h4">Privacy of Transmissions</div>
              <div class="text-small">
                it is important that only the intended or local audio stream can
                be heard. However, Auracast transmissions can readily travel
                through typical wall and floor consructions. Privacy provision
                implies the need for a smart phone or other assistant device to
                find, select and obtain the permitted stream. Whilst encryption
                is possible, the public interface with this still requires
                clarification. The use of QR codes for example is not permitted
                within many establishments and sites.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-home-c-tabs">
        <h3 class="text-h1">Common Auracast Applications</h3>
      </div>
      <div
        data-current="Tab 1"
        data-easing="ease"
        data-duration-in="300"
        data-duration-out="100"
        class="home-b-tabs w-tabs"
      >
        <div class="home-b-tab-menu w-tab-menu">
          <a
            data-w-tab="Tab 1"
            data-w-id="9717cd62-6764-10cd-fdbe-99fd64033c04"
            class="home-c-tab w-inline-block w-tab-link w--current"
          >
            <div class="tab-relative">
              <div class="tab-text-wrap">
                <VenuesIcon />
                <div class="text-h5">Public Spaces</div>
              </div>
            </div>
            <div class="tab-top-tile">
              <VenuesIcon />
              <div class="text-h4">Public Spaces</div>
            </div>
            <div class="tab-b-text-wrap">
              <div class="limit-520">
                <ul>
                  <li class="text-h5">Airports</li>
                  <li class="text-h5">Train & Bus Stations</li>
                  <li class="text-h5">Convention Centers</li>
                  <li class="text-h5">Civic Buildings</li>
                </ul>
              </div>
            </div><img
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, (max-width: 991px) 45vw, 29vw"
              alt="Auracast Applications"
              src="/img/alts/conference.jpg"
              loading="lazy"
              class="tab-b-image"
            />
            <div class="tab-b-overlay"></div>
          </a><a
            data-w-tab="Tab 2"
            class="home-c-tab w-inline-block w-tab-link"
          >
            <div class="tab-relative">
              <div class="tab-text-wrap">
                <VenuesIcon />
                <div class="text-h5">Education & Culture</div>
              </div>
            </div>
            <div class="tab-top-tile">
              <VenuesIcon />
              <div class="text-h4">Education & Culture</div>
            </div>
            <div class="tab-b-text-wrap">
              <div class="limit-520">
                <ul>
                  <li class="text-h5">Theatres</li>
                  <li class="text-h5">Theatres & Auditoriums</li>
                  <li class="text-h5">Lecture Halls</li>
                  <li class="text-h5">Museums</li>
                  <li class="text-h5">Visitor Centers</li>
                </ul>
              </div>
            </div><img
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, (max-width: 991px) 45vw, 21vw"
              alt="Auracast Applications"
              src="/img/alts/learning.webp"
              loading="lazy"
              class="tab-b-image"
            />
            <div class="tab-b-overlay"></div>
          </a><a
            data-w-tab="Tab 3"
            class="home-c-tab w-inline-block w-tab-link"
          >
            <div class="tab-relative">
              <div class="tab-text-wrap">
                <VenuesIcon />
                <div class="text-h5">Home & Social Listening</div>
              </div>
            </div>
            <div class="tab-top-tile">
              <VenuesIcon />
              <div class="text-h4">Home & Social Listening</div>
            </div>
            <div class="tab-b-text-wrap">
              <div class="limit-520">
                <ul>
                  <li class="text-h5">Theme Parks</li>
                  <li class="text-h5">Group Music Streaming</li>
                  <li class="text-h5">Movie Theatres</li>
                  <li class="text-h5">PA Announcements</li>
                </ul>
              </div>
            </div><img
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, (max-width: 991px) 45vw, 21vw"
              alt="Auracast Applications"
              src="/img/alts/auditorium.jpeg"
              loading="lazy"
              class="tab-b-image"
            />
            <div class="tab-b-overlay"></div>
          </a><a
            data-w-tab="Tab 4"
            class="home-c-tab w-inline-block w-tab-link"
          >
            <div class="tab-relative">
              <div class="tab-text-wrap">
                <VenuesIcon />
                <div class="text-h5">Group Environments</div>
              </div>
            </div>
            <div class="tab-top-tile">
              <VenuesIcon />
              <div class="text-h4">Group Environments</div>
            </div>
            <div class="tab-b-text-wrap">
              <div class="limit-520">
                <ul>
                  <li class="text-h5">Meeting Spaces</li>
                  <li class="text-h5">Conference Rooms</li>
                  <li class="text-h5">Gyms</li>
                  <li class="text-h5">Tour Experiences</li>
                </ul>
              </div>
            </div><img
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, (max-width: 991px) 45vw, 21vw"
              alt="Auracast Applications"
              src="/img/alts/meeting.avif"
              loading="lazy"
              class="tab-b-image"
            />
            <div class="tab-b-overlay"></div>
          </a>
        </div>
        <div class="w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active"></div>
          <div data-w-tab="Tab 2" class="w-tab-pane"></div>
          <div data-w-tab="Tab 3" class="w-tab-pane"></div>
          <div data-w-tab="Tab 4" class="w-tab-pane"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="section hero-product" style="margin-top: -1rem;">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-product">
        <h1 class="text-h1">Auracast Standards</h1>
        <div>
          <div class="home-b-button-wrap">
            <a
              href="../resources/standards"
              class="cta-main accent w-inline-block"
            >
              <div class="button-animation-hide">
                <div class="button-animation-wrap">
                  <div class="button-content-tile">
                    <div>Find out more about standards</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="button-content-tile">
                    <div>Find out more about standards</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="product-content-wrap">
        <div class="section-divider"></div>
        <div class="w-layout-grid product-halves">
          <div class="label">EQUIPMENT PERFORMANCE STANDARDS</div>
          <div class="w-richtext">
            <p>
              A correctly configured system is inherently compliant with
              Bluetooth Core Specification 5.2+ (LE Audio) and the Public
              Broadcast Profile (PBP)
            </p>
            <div class="section-divider"></div>
            <p style="margin-top:1rem;">
              Operates in the 2.4 GHz band in accordance with ETSI EN 300 328
              V2.2.2 and equivalent international standards for radio
              performance, where certified
            </p>
            <div class="section-divider"></div>
            <p style="margin-top:1rem;">
              All radio equipment operates in compliance with ETSI EN 300 328
              V2.2.2 (EU harmonised standard)
            </p>
          </div>
        </div>

        <div class="section-divider"></div>
        <div class="w-layout-grid product-halves">
          <div class="label">ACCESSIBILITY STANDARDS</div>
          <div class="w-richtext">
            <p>
              Supports inclusive audio access aligned with ADA Standard 219,
              pending formal recognition of LE Audio-based systems
            </p>
            <div class="section-divider"></div>
            <p style="margin-top:1rem;">
              Supports the intent of BS 8300 – Design of an accessible and
              inclusive built environment
            </p>
            <div class="section-divider"></div>
            <p style="margin-top:1rem;">
              <p style="margin-top:1rem;">
                Supports inclusive design principles consistent with the goals
                of IEC 63080 but is not formally addressed by that standard.
              </p>
            </p>
          </div>
        </div>

        <div class="section-divider"></div>
      </div>
    </div>
    <div class="spacer-sm"></div>
    <div class="spacer-sm"></div>
    <div class="spacer-sm"></div>
    <div id="news" class="spacer-sm"></div>
    <AltNews technology="Auracast" />
    <section>
      <div class="w-layout-blockcontainer main-container w-container">
        <div class="section-divider home-c-numbers"></div>
      </div>
    </section>
    <MainNews limit={6} />
    <section>
      <div class="w-layout-blockcontainer main-container w-container">
        <div class="related-block w-dyn-list">
          <div role="navigation" aria-label="List" class="w-pagination-wrapper">
            <a
              href="/news"
              aria-label="Next Page"
              class="w-pagination-next pagination-button-article"
            >
              <div class="text-h4 w-inline-block">
                <span class="teal-text">More News</span>
              </div>
            </a>
            <link rel="prerender" href="blog@33f22ee7_page=2.html" />
          </div>
        </div>
      </div>
    </section>
  </section>
</Layout>
