---
import MemberCta from "../../components/MemberCta.astro";
import Signage from "../../components/Signage.astro";
import SmallApplications from "../../components/SmallApplications.astro";
import Telecoil from "../../components/Telecoil.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="section hero-careers">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-careers">
        <div class="careers-top-tile">
          <div class="spacer-sm"></div>
          <div class="heading-careers">
            <div class="headline-blog">
              <div class="label">Assistive Listening Technologies</div>
              <h1 class="text-h1">
                Available Assistive Listening Technologies
              </h1>
            </div>
          </div>
        </div>

        <div class="home-b-button-wrap">
          <a href="#technologies" class="cta-main accent w-inline-block">
            <div class="button-animation-hide">
              <div class="button-animation-wrap">
                <div class="button-content-tile">
                  <div>See All Assistive Listening Technologies</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile">
                  <div>See All Assistive Listening Technologies</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="section-divider home-c-numbers"></div>
      </div>
    </div>
  </section>

  <section class="section home-a-story-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid story-halves">
        <div class="story-image-wrap">
          <video
            src="/video/audiologist.mp4"
            autoplay
            muted
            loop
            playsinline
            class="image-cover"
            style="width: 100%; height: auto;"></video>
        </div>
        <div class="headline-story">
          <div class="heading-story">
            <h2 class="no-margins">
              Assistive Listening Technologies are essential tools for improving
              speech clarity in spaces where acoustics or background noise make
              communication difficult.
            </h2>
            <div class="spacer-sm"></div>
            <div class="section-divider home-c-numbers"></div>

            <h5>
              In spaces like auditoriums, classrooms, houses of worship, or
              public venues, factors such as background noise, reverberation,
              and speaker-to-listener distance can make speech difficult to
              follow — even for individuals using hearing aids or cochlear
              implants.
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section home-a-story-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid story-halves">
        <div class="headline-story">
          <div class="heading-story">
            <div class="spacer-sm"></div>
            <div class="section-divider home-c-numbers"></div>

            <h2 class="no-margins">
              Assistive Listening Technologies help to address this problem by
              delivering sound directly to the listener, cutting through noise
              and reverberation to enhance intelligibility.
            </h2>
            <div class="spacer-sm"></div>
            <div class="section-divider home-c-numbers"></div>

            <h5>
              For organisations, installing an effective ALS isn’t just good
              practice — it’s a key part of meeting accessibility requirements
              and creating environments that are inclusive.
            </h5>

            <h5>
              A wide range of assistive listening technologies are available
              today, and navigating the options can often feel overwhelming. At
              IAHA, our goal is to make these systems easier to understand and
              to provide clear, practical guidance on choosing the right
              solution for your needs. The most commonly used assistive
              listening technologies include:
            </h5>
          </div>
        </div>
        <div class="story-image-wrap">
          <video
            src="/video/meeting.mp4"
            autoplay
            muted
            loop
            playsinline
            class="image-cover"></video>
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="technologies">
    <div class="w-layout-blockcontainer main-container w-container">
      <a href="/assistive-listening-technologies/hearing-loops">
        <div class="w-layout-grid home-b-features-halves">
          <div class="home-b-features-left">
            <div class="home-b-subheading">
              <h2 class="no-margins">Hearing Loops</h2>
              <p class="text-big _404-heading">
                Hearing loops, also known as induction loops, are assistive
                listening systems that use electromagnetic fields to transmit
                sound directly to hearing aids and cochlear implants equipped
                with telecoils (T-coils).
              </p>
              <div
                class="home-b-button-wrap"
                style="margin-bottom:2rem; margin-top:2rem;"
              >
                <div class="cta-main accent w-inline-block">
                  <div class="button-animation-hide">
                    <div class="button-animation-wrap">
                      <div class="button-content-tile">
                        <div>More Information on Hearing Loops</div>
                        <div class="button-arrow w-embed">
                          <svg
                            width="7"
                            height="10"
                            viewBox="0 0 7 10"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M1 9L5 5L1 1"
                              stroke="currentColor"
                              stroke-width="2"></path>
                          </svg>
                        </div>
                      </div>
                      <div class="button-content-tile">
                        <div>More Information on Hearing Loops</div>
                        <div class="button-arrow w-embed">
                          <svg
                            width="7"
                            height="10"
                            viewBox="0 0 7 10"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M1 9L5 5L1 1"
                              stroke="currentColor"
                              stroke-width="2"></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-divider"></div>
              <div class="w-layout-grid home-b-features-grid">
                <div class="home-b-feature-tile">
                  <div class="icon-home-b-feature w-embed">
                    <svg
                      width="100%"
                      height="100%"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_10002_225)">
                        <path
                          d="M20 6H22C23.103 6 24 5.103 24 4V2C24 0.897 23.103 0 22 0H20C18.897 0 18 0.897 18 2H6C6 0.897 5.103 0 4 0H2C0.897 0 0 0.897 0 2V4C0 5.103 0.897 6 2 6V18C0.897 18 0 18.897 0 20V22C0 23.103 0.897 24 2 24H4C5.103 24 6 23.103 6 22H18C18 23.103 18.897 24 20 24H22C23.103 24 24 23.103 24 22V20C24 18.897 23.103 18 22 18H20C19.763 18 19.536 18.042 19.325 18.118L15.513 14.306C15.816 13.955 16 13.499 16 13V11C16 10.501 15.816 10.045 15.513 9.694L19.325 5.882C19.536 5.958 19.763 6 20 6ZM19 2C19 1.449 19.449 1 20 1H22C22.551 1 23 1.449 23 2V4C23 4.551 22.551 5 22 5H20C19.449 5 19 4.551 19 4V2ZM1 4V2C1 1.449 1.449 1 2 1H4C4.551 1 5 1.449 5 2V4C5 4.551 4.551 5 4 5H2C1.449 5 1 4.551 1 4ZM5 22C5 22.551 4.551 23 4 23H2C1.449 23 1 22.551 1 22V20C1 19.449 1.449 19 2 19H4C4.551 19 5 19.449 5 20V22ZM6 21V20C6 18.897 5.103 18 4 18H3V6H4C5.103 6 6 5.103 6 4V3H18V4C18 4.499 18.184 4.955 18.487 5.306L14.675 9.118C14.464 9.042 14.237 9 14 9H12C10.897 9 10 9.897 10 11V13C10 14.103 10.897 15 12 15H14C14.237 15 14.464 14.958 14.675 14.882L18.487 18.694C18.184 19.045 18 19.501 18 20V21H6ZM15 11V13C15 13.551 14.551 14 14 14H12C11.449 14 11 13.551 11 13V11C11 10.449 11.449 10 12 10H14C14.551 10 15 10.449 15 11ZM22 19C22.551 19 23 19.449 23 20V22C23 22.551 22.551 23 22 23H20C19.449 23 19 22.551 19 22V20C19 19.449 19.449 19 20 19H22Z"
                          fill="currentColor"></path>
                      </g>
                      <defs>
                        <clipPath id="clip0_10002_225">
                          <rect width="100%" height="100%" fill="currentColor"
                          ></rect>
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                  <div class="text-h6">Zero Latency</div>
                </div>
                <div class="home-b-feature-tile">
                  <div class="icon-home-b-feature w-embed">
                    <svg
                      width="100%"
                      height="100%"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_10002_1253)">
                        <path
                          d="M20.5 14H10V3.5C10 1.57 8.43 0 6.5 0H3.5C1.57 0 0 1.57 0 3.5V19.5C0 21.981 2.019 24 4.5 24H20.5C22.43 24 24 22.43 24 20.5V17.5C24 15.57 22.43 14 20.5 14ZM23 20.5C23 21.879 21.879 23 20.5 23H4.5C2.57 23 1 21.43 1 19.5V3.5C1 2.121 2.122 1 3.5 1H6.5C7.878 1 9 2.121 9 3.5V4H6.5C6.224 4 6 4.224 6 4.5C6 4.776 6.224 5 6.5 5H9V9H6.5C6.224 9 6 9.224 6 9.5C6 9.776 6.224 10 6.5 10H9V14H6.5C6.224 14 6 14.224 6 14.5C6 14.776 6.224 15 6.5 15H9V17.5C9 17.776 9.224 18 9.5 18C9.776 18 10 17.776 10 17.5V15H14V17.5C14 17.776 14.224 18 14.5 18C14.776 18 15 17.776 15 17.5V15H19V17.5C19 17.776 19.224 18 19.5 18C19.776 18 20 17.776 20 17.5V15H20.5C21.879 15 23 16.121 23 17.5V20.5Z"
                          fill="currentColor"></path>
                      </g>
                      <defs>
                        <clipPath id="clip0_10002_1253">
                          <rect width="100%" height="100%" fill="currentColor"
                          ></rect>
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                  <div class="text-h6">Direct Hearing Aid Integration</div>
                </div>
                <div class="home-b-feature-tile">
                  <div class="icon-home-b-feature w-embed">
                    <svg
                      width="100%"
                      height="100%"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_8121_3092)">
                        <path
                          d="M4.5 15H12.5C13.327 15 14 14.327 14 13.5V12.5C14 11.673 13.327 11 12.5 11H4.5C3.673 11 3 11.673 3 12.5V13.5C3 14.327 3.673 15 4.5 15ZM4 12.5C4 12.224 4.224 12 4.5 12H12.5C12.776 12 13 12.224 13 12.5V13.5C13 13.776 12.776 14 12.5 14H4.5C4.224 14 4 13.776 4 13.5V12.5ZM16.5 20H19.5C20.327 20 21 19.327 21 18.5V12.5C21 11.673 20.327 11 19.5 11H16.5C15.673 11 15 11.673 15 12.5V18.5C15 19.327 15.673 20 16.5 20ZM16 12.5C16 12.224 16.224 12 16.5 12H19.5C19.776 12 20 12.224 20 12.5V18.5C20 18.776 19.776 19 19.5 19H16.5C16.224 19 16 18.776 16 18.5V12.5ZM4.5 20H12.5C13.327 20 14 19.327 14 18.5V17.5C14 16.673 13.327 16 12.5 16H4.5C3.673 16 3 16.673 3 17.5V18.5C3 19.327 3.673 20 4.5 20ZM4 17.5C4 17.224 4.224 17 4.5 17H12.5C12.776 17 13 17.224 13 17.5V18.5C13 18.776 12.776 19 12.5 19H4.5C4.224 19 4 18.776 4 18.5V17.5ZM19.5 1H4.5C2.019 1 0 3.019 0 5.5V18.5C0 20.981 2.019 23 4.5 23H19.5C21.981 23 24 20.981 24 18.5V5.5C24 3.019 21.981 1 19.5 1ZM23 18.5C23 20.43 21.43 22 19.5 22H4.5C2.57 22 1 20.43 1 18.5V9H23V18.5ZM23 8H1V5.5C1 3.57 2.57 2 4.5 2H19.5C21.43 2 23 3.57 23 5.5V8ZM11 5C11 5.552 10.552 6 10 6C9.448 6 9 5.552 9 5C9 4.448 9.448 4 10 4C10.552 4 11 4.448 11 5ZM5 5C5 5.552 4.552 6 4 6C3.448 6 3 5.552 3 5C3 4.448 3.448 4 4 4C4.552 4 5 4.448 5 5ZM8 5C8 5.552 7.552 6 7 6C6.448 6 6 5.552 6 5C6 4.448 6.448 4 7 4C7.552 4 8 4.448 8 5Z"
                          fill="currentColor"></path>
                      </g>
                      <defs>
                        <clipPath id="clip0_8121_3092">
                          <rect width="100%" height="100%" fill="currentColor"
                          ></rect>
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                  <div class="text-h6">Simple to Use</div>
                </div>
                <div class="home-b-feature-tile">
                  <div class="icon-home-b-feature w-embed">
                    <svg
                      width="100%"
                      height="100%"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_10002_1285)">
                        <path
                          d="M10.239 14.782C10.726 15.259 11.367 15.496 12.006 15.496C12.638 15.496 13.268 15.263 13.742 14.799L16.949 11.95C18.271 10.628 19 8.87 19 7C19 5.13 18.271 3.373 16.949 2.05C15.628 0.728 13.87 0 12 0C10.13 0 8.372 0.728 7.05 2.05C4.321 4.779 4.321 9.22 7.071 11.97L10.239 14.782ZM7.757 2.757C8.891 1.624 10.398 1 12 1C13.602 1 15.109 1.624 16.242 2.757C17.376 3.89 18 5.397 18 7C18 8.603 17.376 10.109 16.264 11.222L13.061 14.067C12.477 14.64 11.525 14.637 10.921 14.05L7.757 11.242C5.418 8.903 5.418 5.096 7.757 2.757ZM12 9.98C13.648 9.98 14.99 8.639 14.99 6.99C14.99 5.341 13.648 4 12 4C10.352 4 9.01 5.341 9.01 6.99C9.01 8.639 10.352 9.98 12 9.98ZM12 5C13.098 5 13.99 5.893 13.99 6.99C13.99 8.087 13.097 8.98 12 8.98C10.903 8.98 10.01 8.087 10.01 6.99C10.01 5.893 10.903 5 12 5ZM24 17.016C24 17.192 23.908 17.355 23.757 17.445L13.447 23.631C13.001 23.899 12.501 24.033 12 24.033C11.499 24.033 10.999 23.898 10.553 23.631L0.243 17.444C0.092 17.354 0 17.191 0 17.015C0 16.839 0.092 16.676 0.243 16.586L5.243 13.586C5.477 13.443 5.787 13.521 5.929 13.758C6.072 13.994 5.994 14.302 5.757 14.444L1.472 17.015L11.067 22.772C11.643 23.118 12.358 23.118 12.934 22.772L22.529 17.015L18.218 14.428C17.981 14.286 17.904 13.979 18.046 13.742C18.189 13.505 18.498 13.428 18.732 13.57L23.757 16.586C23.908 16.677 24 16.839 24 17.015V17.016Z"
                          fill="currentColor"></path>
                      </g>
                      <defs>
                        <clipPath id="clip0_10002_1285">
                          <rect width="100%" height="100%" fill="currentColor"
                          ></rect>
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                  <div class="text-h6">Flexible, multi-environment use</div>
                </div>
              </div>
              <div class="section-divider"></div>
            </div>
          </div>
          <div class="home-b-features-image">
            <img
              src="/img/meeting-group.avif"
              loading="lazy"
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
              alt=""
              class="image-cover"
            />
          </div>
        </div>
      </a>

      <a href="/assistive-listening-technologies/infrared">
        <div class="w-layout-grid home-b-features-halves">
          <div class="home-b-features-left">
            <div class="home-b-features-top-tile">
              <div class="home-b-subheading">
                <h2 class="no-margins">Infrared</h2>
                <p class="text-big _404-heading">
                  Infrared (IR) systems are assistive listening technologies
                  that use invisible light waves to transmit sound from a source
                  to a receiver worn by the listener. These systems require a
                  direct line of sight between the transmitter and receiver and
                  are commonly used in places where privacy and signal
                  containment are important.
                </p>
                <div
                  class="home-b-button-wrap"
                  style="margin-bottom:2rem; margin-top:2rem;"
                >
                  <div class="cta-main accent w-inline-block">
                    <div class="button-animation-hide">
                      <div class="button-animation-wrap">
                        <div class="button-content-tile">
                          <div>More Information on Infrared</div>
                          <div class="button-arrow w-embed">
                            <svg
                              width="7"
                              height="10"
                              viewBox="0 0 7 10"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M1 9L5 5L1 1"
                                stroke="currentColor"
                                stroke-width="2"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="button-content-tile">
                          <div>More Information on Infrared</div>
                          <div class="button-arrow w-embed">
                            <svg
                              width="7"
                              height="10"
                              viewBox="0 0 7 10"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M1 9L5 5L1 1"
                                stroke="currentColor"
                                stroke-width="2"></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section-divider"></div>
                <div class="w-layout-grid home-b-features-grid">
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_10002_225)">
                          <path
                            d="M20 6H22C23.103 6 24 5.103 24 4V2C24 0.897 23.103 0 22 0H20C18.897 0 18 0.897 18 2H6C6 0.897 5.103 0 4 0H2C0.897 0 0 0.897 0 2V4C0 5.103 0.897 6 2 6V18C0.897 18 0 18.897 0 20V22C0 23.103 0.897 24 2 24H4C5.103 24 6 23.103 6 22H18C18 23.103 18.897 24 20 24H22C23.103 24 24 23.103 24 22V20C24 18.897 23.103 18 22 18H20C19.763 18 19.536 18.042 19.325 18.118L15.513 14.306C15.816 13.955 16 13.499 16 13V11C16 10.501 15.816 10.045 15.513 9.694L19.325 5.882C19.536 5.958 19.763 6 20 6ZM19 2C19 1.449 19.449 1 20 1H22C22.551 1 23 1.449 23 2V4C23 4.551 22.551 5 22 5H20C19.449 5 19 4.551 19 4V2ZM1 4V2C1 1.449 1.449 1 2 1H4C4.551 1 5 1.449 5 2V4C5 4.551 4.551 5 4 5H2C1.449 5 1 4.551 1 4ZM5 22C5 22.551 4.551 23 4 23H2C1.449 23 1 22.551 1 22V20C1 19.449 1.449 19 2 19H4C4.551 19 5 19.449 5 20V22ZM6 21V20C6 18.897 5.103 18 4 18H3V6H4C5.103 6 6 5.103 6 4V3H18V4C18 4.499 18.184 4.955 18.487 5.306L14.675 9.118C14.464 9.042 14.237 9 14 9H12C10.897 9 10 9.897 10 11V13C10 14.103 10.897 15 12 15H14C14.237 15 14.464 14.958 14.675 14.882L18.487 18.694C18.184 19.045 18 19.501 18 20V21H6ZM15 11V13C15 13.551 14.551 14 14 14H12C11.449 14 11 13.551 11 13V11C11 10.449 11.449 10 12 10H14C14.551 10 15 10.449 15 11ZM22 19C22.551 19 23 19.449 23 20V22C23 22.551 22.551 23 22 23H20C19.449 23 19 22.551 19 22V20C19 19.449 19.449 19 20 19H22Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_10002_225">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">Private</div>
                  </div>
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_10002_1253)">
                          <path
                            d="M20.5 14H10V3.5C10 1.57 8.43 0 6.5 0H3.5C1.57 0 0 1.57 0 3.5V19.5C0 21.981 2.019 24 4.5 24H20.5C22.43 24 24 22.43 24 20.5V17.5C24 15.57 22.43 14 20.5 14ZM23 20.5C23 21.879 21.879 23 20.5 23H4.5C2.57 23 1 21.43 1 19.5V3.5C1 2.121 2.122 1 3.5 1H6.5C7.878 1 9 2.121 9 3.5V4H6.5C6.224 4 6 4.224 6 4.5C6 4.776 6.224 5 6.5 5H9V9H6.5C6.224 9 6 9.224 6 9.5C6 9.776 6.224 10 6.5 10H9V14H6.5C6.224 14 6 14.224 6 14.5C6 14.776 6.224 15 6.5 15H9V17.5C9 17.776 9.224 18 9.5 18C9.776 18 10 17.776 10 17.5V15H14V17.5C14 17.776 14.224 18 14.5 18C14.776 18 15 17.776 15 17.5V15H19V17.5C19 17.776 19.224 18 19.5 18C19.776 18 20 17.776 20 17.5V15H20.5C21.879 15 23 16.121 23 17.5V20.5Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_10002_1253">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">Low latency</div>
                  </div>
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_8121_3092)">
                          <path
                            d="M4.5 15H12.5C13.327 15 14 14.327 14 13.5V12.5C14 11.673 13.327 11 12.5 11H4.5C3.673 11 3 11.673 3 12.5V13.5C3 14.327 3.673 15 4.5 15ZM4 12.5C4 12.224 4.224 12 4.5 12H12.5C12.776 12 13 12.224 13 12.5V13.5C13 13.776 12.776 14 12.5 14H4.5C4.224 14 4 13.776 4 13.5V12.5ZM16.5 20H19.5C20.327 20 21 19.327 21 18.5V12.5C21 11.673 20.327 11 19.5 11H16.5C15.673 11 15 11.673 15 12.5V18.5C15 19.327 15.673 20 16.5 20ZM16 12.5C16 12.224 16.224 12 16.5 12H19.5C19.776 12 20 12.224 20 12.5V18.5C20 18.776 19.776 19 19.5 19H16.5C16.224 19 16 18.776 16 18.5V12.5ZM4.5 20H12.5C13.327 20 14 19.327 14 18.5V17.5C14 16.673 13.327 16 12.5 16H4.5C3.673 16 3 16.673 3 17.5V18.5C3 19.327 3.673 20 4.5 20ZM4 17.5C4 17.224 4.224 17 4.5 17H12.5C12.776 17 13 17.224 13 17.5V18.5C13 18.776 12.776 19 12.5 19H4.5C4.224 19 4 18.776 4 18.5V17.5ZM19.5 1H4.5C2.019 1 0 3.019 0 5.5V18.5C0 20.981 2.019 23 4.5 23H19.5C21.981 23 24 20.981 24 18.5V5.5C24 3.019 21.981 1 19.5 1ZM23 18.5C23 20.43 21.43 22 19.5 22H4.5C2.57 22 1 20.43 1 18.5V9H23V18.5ZM23 8H1V5.5C1 3.57 2.57 2 4.5 2H19.5C21.43 2 23 3.57 23 5.5V8ZM11 5C11 5.552 10.552 6 10 6C9.448 6 9 5.552 9 5C9 4.448 9.448 4 10 4C10.552 4 11 4.448 11 5ZM5 5C5 5.552 4.552 6 4 6C3.448 6 3 5.552 3 5C3 4.448 3.448 4 4 4C4.552 4 5 4.448 5 5ZM8 5C8 5.552 7.552 6 7 6C6.448 6 6 5.552 6 5C6 4.448 6.448 4 7 4C7.552 4 8 4.448 8 5Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_8121_3092">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">Multi-Channel Audio</div>
                  </div>
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_10002_1285)">
                          <path
                            d="M10.239 14.782C10.726 15.259 11.367 15.496 12.006 15.496C12.638 15.496 13.268 15.263 13.742 14.799L16.949 11.95C18.271 10.628 19 8.87 19 7C19 5.13 18.271 3.373 16.949 2.05C15.628 0.728 13.87 0 12 0C10.13 0 8.372 0.728 7.05 2.05C4.321 4.779 4.321 9.22 7.071 11.97L10.239 14.782ZM7.757 2.757C8.891 1.624 10.398 1 12 1C13.602 1 15.109 1.624 16.242 2.757C17.376 3.89 18 5.397 18 7C18 8.603 17.376 10.109 16.264 11.222L13.061 14.067C12.477 14.64 11.525 14.637 10.921 14.05L7.757 11.242C5.418 8.903 5.418 5.096 7.757 2.757ZM12 9.98C13.648 9.98 14.99 8.639 14.99 6.99C14.99 5.341 13.648 4 12 4C10.352 4 9.01 5.341 9.01 6.99C9.01 8.639 10.352 9.98 12 9.98ZM12 5C13.098 5 13.99 5.893 13.99 6.99C13.99 8.087 13.097 8.98 12 8.98C10.903 8.98 10.01 8.087 10.01 6.99C10.01 5.893 10.903 5 12 5ZM24 17.016C24 17.192 23.908 17.355 23.757 17.445L13.447 23.631C13.001 23.899 12.501 24.033 12 24.033C11.499 24.033 10.999 23.898 10.553 23.631L0.243 17.444C0.092 17.354 0 17.191 0 17.015C0 16.839 0.092 16.676 0.243 16.586L5.243 13.586C5.477 13.443 5.787 13.521 5.929 13.758C6.072 13.994 5.994 14.302 5.757 14.444L1.472 17.015L11.067 22.772C11.643 23.118 12.358 23.118 12.934 22.772L22.529 17.015L18.218 14.428C17.981 14.286 17.904 13.979 18.046 13.742C18.189 13.505 18.498 13.428 18.732 13.57L23.757 16.586C23.908 16.677 24 16.839 24 17.015V17.016Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_10002_1285">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">Good Alternative to Hearing Loops</div>
                  </div>
                </div>
                <div class="section-divider"></div>
              </div>
            </div>
          </div>
          <div class="home-b-features-image">
            <img
              src="/img/alts/infrared.webp"
              loading="lazy"
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
              alt=""
              class="image-cover"
            />
          </div>
        </div>
      </a>

      <a href="/assistive-listening-technologies/fm-radio">
        <div class="w-layout-grid home-b-features-halves">
          <div class="home-b-features-left">
            <div class="home-b-features-top-tile">
              <div class="home-b-subheading">
                <h2 class="no-margins">FM / Radio</h2>
                <p class="text-big _404-heading">
                  FM (radio frequency) systems are assistive listening
                  technologies that use radio waves to transmit sound from a
                  source to a receiver worn by the listener. These systems are
                  less affected by physical obstructions and are well suited to
                  settings where users may move around and can be used outdoors.
                </p>
                <div
                  class="home-b-button-wrap"
                  style="margin-bottom:2rem; margin-top:2rem;"
                >
                  <div class="cta-main accent w-inline-block">
                    <div class="button-animation-hide">
                      <div class="button-animation-wrap">
                        <div class="button-content-tile">
                          <div>More Information on FM / Radio</div>
                          <div class="button-arrow w-embed">
                            <svg
                              width="7"
                              height="10"
                              viewBox="0 0 7 10"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M1 9L5 5L1 1"
                                stroke="currentColor"
                                stroke-width="2"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="button-content-tile">
                          <div>More Information on FM / Radio</div>
                          <div class="button-arrow w-embed">
                            <svg
                              width="7"
                              height="10"
                              viewBox="0 0 7 10"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M1 9L5 5L1 1"
                                stroke="currentColor"
                                stroke-width="2"></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section-divider"></div>
                <div class="w-layout-grid home-b-features-grid">
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_10002_225)">
                          <path
                            d="M20 6H22C23.103 6 24 5.103 24 4V2C24 0.897 23.103 0 22 0H20C18.897 0 18 0.897 18 2H6C6 0.897 5.103 0 4 0H2C0.897 0 0 0.897 0 2V4C0 5.103 0.897 6 2 6V18C0.897 18 0 18.897 0 20V22C0 23.103 0.897 24 2 24H4C5.103 24 6 23.103 6 22H18C18 23.103 18.897 24 20 24H22C23.103 24 24 23.103 24 22V20C24 18.897 23.103 18 22 18H20C19.763 18 19.536 18.042 19.325 18.118L15.513 14.306C15.816 13.955 16 13.499 16 13V11C16 10.501 15.816 10.045 15.513 9.694L19.325 5.882C19.536 5.958 19.763 6 20 6ZM19 2C19 1.449 19.449 1 20 1H22C22.551 1 23 1.449 23 2V4C23 4.551 22.551 5 22 5H20C19.449 5 19 4.551 19 4V2ZM1 4V2C1 1.449 1.449 1 2 1H4C4.551 1 5 1.449 5 2V4C5 4.551 4.551 5 4 5H2C1.449 5 1 4.551 1 4ZM5 22C5 22.551 4.551 23 4 23H2C1.449 23 1 22.551 1 22V20C1 19.449 1.449 19 2 19H4C4.551 19 5 19.449 5 20V22ZM6 21V20C6 18.897 5.103 18 4 18H3V6H4C5.103 6 6 5.103 6 4V3H18V4C18 4.499 18.184 4.955 18.487 5.306L14.675 9.118C14.464 9.042 14.237 9 14 9H12C10.897 9 10 9.897 10 11V13C10 14.103 10.897 15 12 15H14C14.237 15 14.464 14.958 14.675 14.882L18.487 18.694C18.184 19.045 18 19.501 18 20V21H6ZM15 11V13C15 13.551 14.551 14 14 14H12C11.449 14 11 13.551 11 13V11C11 10.449 11.449 10 12 10H14C14.551 10 15 10.449 15 11ZM22 19C22.551 19 23 19.449 23 20V22C23 22.551 22.551 23 22 23H20C19.449 23 19 22.551 19 22V20C19 19.449 19.449 19 20 19H22Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_10002_225">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">Flexible</div>
                  </div>
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_10002_1253)">
                          <path
                            d="M20.5 14H10V3.5C10 1.57 8.43 0 6.5 0H3.5C1.57 0 0 1.57 0 3.5V19.5C0 21.981 2.019 24 4.5 24H20.5C22.43 24 24 22.43 24 20.5V17.5C24 15.57 22.43 14 20.5 14ZM23 20.5C23 21.879 21.879 23 20.5 23H4.5C2.57 23 1 21.43 1 19.5V3.5C1 2.121 2.122 1 3.5 1H6.5C7.878 1 9 2.121 9 3.5V4H6.5C6.224 4 6 4.224 6 4.5C6 4.776 6.224 5 6.5 5H9V9H6.5C6.224 9 6 9.224 6 9.5C6 9.776 6.224 10 6.5 10H9V14H6.5C6.224 14 6 14.224 6 14.5C6 14.776 6.224 15 6.5 15H9V17.5C9 17.776 9.224 18 9.5 18C9.776 18 10 17.776 10 17.5V15H14V17.5C14 17.776 14.224 18 14.5 18C14.776 18 15 17.776 15 17.5V15H19V17.5C19 17.776 19.224 18 19.5 18C19.776 18 20 17.776 20 17.5V15H20.5C21.879 15 23 16.121 23 17.5V20.5Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_10002_1253">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">Low latency</div>
                  </div>
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_8121_3092)">
                          <path
                            d="M4.5 15H12.5C13.327 15 14 14.327 14 13.5V12.5C14 11.673 13.327 11 12.5 11H4.5C3.673 11 3 11.673 3 12.5V13.5C3 14.327 3.673 15 4.5 15ZM4 12.5C4 12.224 4.224 12 4.5 12H12.5C12.776 12 13 12.224 13 12.5V13.5C13 13.776 12.776 14 12.5 14H4.5C4.224 14 4 13.776 4 13.5V12.5ZM16.5 20H19.5C20.327 20 21 19.327 21 18.5V12.5C21 11.673 20.327 11 19.5 11H16.5C15.673 11 15 11.673 15 12.5V18.5C15 19.327 15.673 20 16.5 20ZM16 12.5C16 12.224 16.224 12 16.5 12H19.5C19.776 12 20 12.224 20 12.5V18.5C20 18.776 19.776 19 19.5 19H16.5C16.224 19 16 18.776 16 18.5V12.5ZM4.5 20H12.5C13.327 20 14 19.327 14 18.5V17.5C14 16.673 13.327 16 12.5 16H4.5C3.673 16 3 16.673 3 17.5V18.5C3 19.327 3.673 20 4.5 20ZM4 17.5C4 17.224 4.224 17 4.5 17H12.5C12.776 17 13 17.224 13 17.5V18.5C13 18.776 12.776 19 12.5 19H4.5C4.224 19 4 18.776 4 18.5V17.5ZM19.5 1H4.5C2.019 1 0 3.019 0 5.5V18.5C0 20.981 2.019 23 4.5 23H19.5C21.981 23 24 20.981 24 18.5V5.5C24 3.019 21.981 1 19.5 1ZM23 18.5C23 20.43 21.43 22 19.5 22H4.5C2.57 22 1 20.43 1 18.5V9H23V18.5ZM23 8H1V5.5C1 3.57 2.57 2 4.5 2H19.5C21.43 2 23 3.57 23 5.5V8ZM11 5C11 5.552 10.552 6 10 6C9.448 6 9 5.552 9 5C9 4.448 9.448 4 10 4C10.552 4 11 4.448 11 5ZM5 5C5 5.552 4.552 6 4 6C3.448 6 3 5.552 3 5C3 4.448 3.448 4 4 4C4.552 4 5 4.448 5 5ZM8 5C8 5.552 7.552 6 7 6C6.448 6 6 5.552 6 5C6 4.448 6.448 4 7 4C7.552 4 8 4.448 8 5Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_8121_3092">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">Can Be Used Outdoors</div>
                  </div>
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_10002_1285)">
                          <path
                            d="M10.239 14.782C10.726 15.259 11.367 15.496 12.006 15.496C12.638 15.496 13.268 15.263 13.742 14.799L16.949 11.95C18.271 10.628 19 8.87 19 7C19 5.13 18.271 3.373 16.949 2.05C15.628 0.728 13.87 0 12 0C10.13 0 8.372 0.728 7.05 2.05C4.321 4.779 4.321 9.22 7.071 11.97L10.239 14.782ZM7.757 2.757C8.891 1.624 10.398 1 12 1C13.602 1 15.109 1.624 16.242 2.757C17.376 3.89 18 5.397 18 7C18 8.603 17.376 10.109 16.264 11.222L13.061 14.067C12.477 14.64 11.525 14.637 10.921 14.05L7.757 11.242C5.418 8.903 5.418 5.096 7.757 2.757ZM12 9.98C13.648 9.98 14.99 8.639 14.99 6.99C14.99 5.341 13.648 4 12 4C10.352 4 9.01 5.341 9.01 6.99C9.01 8.639 10.352 9.98 12 9.98ZM12 5C13.098 5 13.99 5.893 13.99 6.99C13.99 8.087 13.097 8.98 12 8.98C10.903 8.98 10.01 8.087 10.01 6.99C10.01 5.893 10.903 5 12 5ZM24 17.016C24 17.192 23.908 17.355 23.757 17.445L13.447 23.631C13.001 23.899 12.501 24.033 12 24.033C11.499 24.033 10.999 23.898 10.553 23.631L0.243 17.444C0.092 17.354 0 17.191 0 17.015C0 16.839 0.092 16.676 0.243 16.586L5.243 13.586C5.477 13.443 5.787 13.521 5.929 13.758C6.072 13.994 5.994 14.302 5.757 14.444L1.472 17.015L11.067 22.772C11.643 23.118 12.358 23.118 12.934 22.772L22.529 17.015L18.218 14.428C17.981 14.286 17.904 13.979 18.046 13.742C18.189 13.505 18.498 13.428 18.732 13.57L23.757 16.586C23.908 16.677 24 16.839 24 17.015V17.016Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_10002_1285">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">Relatively Simple Installation</div>
                  </div>
                </div>
                <div class="section-divider"></div>
              </div>
            </div>
          </div>
          <div class="home-b-features-image">
            <img
              src="/img/alts/fmradio.jpg"
              loading="lazy"
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
              alt="FM / Radio"
              class="image-cover"
            />
          </div>
        </div>
      </a>

      <a href="/assistive-listening-technologies/audio-over-wifi">
        <div class="w-layout-grid home-b-features-halves">
          <div class="home-b-features-left">
            <div class="home-b-features-top-tile">
              <div class="home-b-subheading">
                <h2 class="no-margins">Audio Over WiFi</h2>
                <p class="text-big _404-heading">
                  Audio over Wi-Fi systems are assistive listening technologies
                  that transmit sound via a wireless internet connection to a
                  listener’s personal device, such as a smartphone or tablet.
                  These systems offer flexibility and discretion, making them
                  ideal for venues where users prefer to use their own equipment
                  and where Wi-Fi infrastructure is already in place.
                </p>
                <div
                  class="home-b-button-wrap"
                  style="margin-bottom:2rem; margin-top:2rem;"
                >
                  <div class="cta-main accent w-inline-block">
                    <div class="button-animation-hide">
                      <div class="button-animation-wrap">
                        <div class="button-content-tile">
                          <div>More Information on FM / Radio</div>
                          <div class="button-arrow w-embed">
                            <svg
                              width="7"
                              height="10"
                              viewBox="0 0 7 10"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M1 9L5 5L1 1"
                                stroke="currentColor"
                                stroke-width="2"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="button-content-tile">
                          <div>More Information on FM / Radio</div>
                          <div class="button-arrow w-embed">
                            <svg
                              width="7"
                              height="10"
                              viewBox="0 0 7 10"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M1 9L5 5L1 1"
                                stroke="currentColor"
                                stroke-width="2"></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section-divider"></div>
                <div class="w-layout-grid home-b-features-grid">
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_10002_225)">
                          <path
                            d="M20 6H22C23.103 6 24 5.103 24 4V2C24 0.897 23.103 0 22 0H20C18.897 0 18 0.897 18 2H6C6 0.897 5.103 0 4 0H2C0.897 0 0 0.897 0 2V4C0 5.103 0.897 6 2 6V18C0.897 18 0 18.897 0 20V22C0 23.103 0.897 24 2 24H4C5.103 24 6 23.103 6 22H18C18 23.103 18.897 24 20 24H22C23.103 24 24 23.103 24 22V20C24 18.897 23.103 18 22 18H20C19.763 18 19.536 18.042 19.325 18.118L15.513 14.306C15.816 13.955 16 13.499 16 13V11C16 10.501 15.816 10.045 15.513 9.694L19.325 5.882C19.536 5.958 19.763 6 20 6ZM19 2C19 1.449 19.449 1 20 1H22C22.551 1 23 1.449 23 2V4C23 4.551 22.551 5 22 5H20C19.449 5 19 4.551 19 4V2ZM1 4V2C1 1.449 1.449 1 2 1H4C4.551 1 5 1.449 5 2V4C5 4.551 4.551 5 4 5H2C1.449 5 1 4.551 1 4ZM5 22C5 22.551 4.551 23 4 23H2C1.449 23 1 22.551 1 22V20C1 19.449 1.449 19 2 19H4C4.551 19 5 19.449 5 20V22ZM6 21V20C6 18.897 5.103 18 4 18H3V6H4C5.103 6 6 5.103 6 4V3H18V4C18 4.499 18.184 4.955 18.487 5.306L14.675 9.118C14.464 9.042 14.237 9 14 9H12C10.897 9 10 9.897 10 11V13C10 14.103 10.897 15 12 15H14C14.237 15 14.464 14.958 14.675 14.882L18.487 18.694C18.184 19.045 18 19.501 18 20V21H6ZM15 11V13C15 13.551 14.551 14 14 14H12C11.449 14 11 13.551 11 13V11C11 10.449 11.449 10 12 10H14C14.551 10 15 10.449 15 11ZM22 19C22.551 19 23 19.449 23 20V22C23 22.551 22.551 23 22 23H20C19.449 23 19 22.551 19 22V20C19 19.449 19.449 19 20 19H22Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_10002_225">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">Flexible</div>
                  </div>
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_10002_1253)">
                          <path
                            d="M20.5 14H10V3.5C10 1.57 8.43 0 6.5 0H3.5C1.57 0 0 1.57 0 3.5V19.5C0 21.981 2.019 24 4.5 24H20.5C22.43 24 24 22.43 24 20.5V17.5C24 15.57 22.43 14 20.5 14ZM23 20.5C23 21.879 21.879 23 20.5 23H4.5C2.57 23 1 21.43 1 19.5V3.5C1 2.121 2.122 1 3.5 1H6.5C7.878 1 9 2.121 9 3.5V4H6.5C6.224 4 6 4.224 6 4.5C6 4.776 6.224 5 6.5 5H9V9H6.5C6.224 9 6 9.224 6 9.5C6 9.776 6.224 10 6.5 10H9V14H6.5C6.224 14 6 14.224 6 14.5C6 14.776 6.224 15 6.5 15H9V17.5C9 17.776 9.224 18 9.5 18C9.776 18 10 17.776 10 17.5V15H14V17.5C14 17.776 14.224 18 14.5 18C14.776 18 15 17.776 15 17.5V15H19V17.5C19 17.776 19.224 18 19.5 18C19.776 18 20 17.776 20 17.5V15H20.5C21.879 15 23 16.121 23 17.5V20.5Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_10002_1253">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">BYOD convenience</div>
                  </div>
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_8121_3092)">
                          <path
                            d="M4.5 15H12.5C13.327 15 14 14.327 14 13.5V12.5C14 11.673 13.327 11 12.5 11H4.5C3.673 11 3 11.673 3 12.5V13.5C3 14.327 3.673 15 4.5 15ZM4 12.5C4 12.224 4.224 12 4.5 12H12.5C12.776 12 13 12.224 13 12.5V13.5C13 13.776 12.776 14 12.5 14H4.5C4.224 14 4 13.776 4 13.5V12.5ZM16.5 20H19.5C20.327 20 21 19.327 21 18.5V12.5C21 11.673 20.327 11 19.5 11H16.5C15.673 11 15 11.673 15 12.5V18.5C15 19.327 15.673 20 16.5 20ZM16 12.5C16 12.224 16.224 12 16.5 12H19.5C19.776 12 20 12.224 20 12.5V18.5C20 18.776 19.776 19 19.5 19H16.5C16.224 19 16 18.776 16 18.5V12.5ZM4.5 20H12.5C13.327 20 14 19.327 14 18.5V17.5C14 16.673 13.327 16 12.5 16H4.5C3.673 16 3 16.673 3 17.5V18.5C3 19.327 3.673 20 4.5 20ZM4 17.5C4 17.224 4.224 17 4.5 17H12.5C12.776 17 13 17.224 13 17.5V18.5C13 18.776 12.776 19 12.5 19H4.5C4.224 19 4 18.776 4 18.5V17.5ZM19.5 1H4.5C2.019 1 0 3.019 0 5.5V18.5C0 20.981 2.019 23 4.5 23H19.5C21.981 23 24 20.981 24 18.5V5.5C24 3.019 21.981 1 19.5 1ZM23 18.5C23 20.43 21.43 22 19.5 22H4.5C2.57 22 1 20.43 1 18.5V9H23V18.5ZM23 8H1V5.5C1 3.57 2.57 2 4.5 2H19.5C21.43 2 23 3.57 23 5.5V8ZM11 5C11 5.552 10.552 6 10 6C9.448 6 9 5.552 9 5C9 4.448 9.448 4 10 4C10.552 4 11 4.448 11 5ZM5 5C5 5.552 4.552 6 4 6C3.448 6 3 5.552 3 5C3 4.448 3.448 4 4 4C4.552 4 5 4.448 5 5ZM8 5C8 5.552 7.552 6 7 6C6.448 6 6 5.552 6 5C6 4.448 6.448 4 7 4C7.552 4 8 4.448 8 5Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_8121_3092">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">Discreet user experience</div>
                  </div>
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_10002_1285)">
                          <path
                            d="M10.239 14.782C10.726 15.259 11.367 15.496 12.006 15.496C12.638 15.496 13.268 15.263 13.742 14.799L16.949 11.95C18.271 10.628 19 8.87 19 7C19 5.13 18.271 3.373 16.949 2.05C15.628 0.728 13.87 0 12 0C10.13 0 8.372 0.728 7.05 2.05C4.321 4.779 4.321 9.22 7.071 11.97L10.239 14.782ZM7.757 2.757C8.891 1.624 10.398 1 12 1C13.602 1 15.109 1.624 16.242 2.757C17.376 3.89 18 5.397 18 7C18 8.603 17.376 10.109 16.264 11.222L13.061 14.067C12.477 14.64 11.525 14.637 10.921 14.05L7.757 11.242C5.418 8.903 5.418 5.096 7.757 2.757ZM12 9.98C13.648 9.98 14.99 8.639 14.99 6.99C14.99 5.341 13.648 4 12 4C10.352 4 9.01 5.341 9.01 6.99C9.01 8.639 10.352 9.98 12 9.98ZM12 5C13.098 5 13.99 5.893 13.99 6.99C13.99 8.087 13.097 8.98 12 8.98C10.903 8.98 10.01 8.087 10.01 6.99C10.01 5.893 10.903 5 12 5ZM24 17.016C24 17.192 23.908 17.355 23.757 17.445L13.447 23.631C13.001 23.899 12.501 24.033 12 24.033C11.499 24.033 10.999 23.898 10.553 23.631L0.243 17.444C0.092 17.354 0 17.191 0 17.015C0 16.839 0.092 16.676 0.243 16.586L5.243 13.586C5.477 13.443 5.787 13.521 5.929 13.758C6.072 13.994 5.994 14.302 5.757 14.444L1.472 17.015L11.067 22.772C11.643 23.118 12.358 23.118 12.934 22.772L22.529 17.015L18.218 14.428C17.981 14.286 17.904 13.979 18.046 13.742C18.189 13.505 18.498 13.428 18.732 13.57L23.757 16.586C23.908 16.677 24 16.839 24 17.015V17.016Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_10002_1285">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">Flexible infrastructure use</div>
                  </div>
                </div>
                <div class="section-divider"></div>
              </div>
            </div>
          </div>
          <div class="home-b-features-image">
            <img
              src="/img/alts/audiowifi.avif"
              loading="lazy"
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
              alt=""
              class="image-cover"
            />
          </div>
        </div>
      </a>

      <a href="/assistive-listening-technologies/auracast">
        <div class="w-layout-grid home-b-features-halves">
          <div class="home-b-features-left">
            <div class="home-b-features-top-tile">
              <div class="home-b-subheading">
                <h2 class="no-margins">Auracast</h2>
                <p class="text-big _404-heading">
                  Auracast is a next-generation assistive listening technology
                  that uses Bluetooth to broadcast audio from one source to many
                  receivers, without the need for individual pairing. Compatible
                  with hearing aids, cochlear implants, earbuds, and headphones,
                  it enables users to connect directly to public or private
                  audio streams.
                </p>
                <div
                  class="home-b-button-wrap"
                  style="margin-bottom:2rem; margin-top:2rem;"
                >
                  <div class="cta-main accent w-inline-block">
                    <div class="button-animation-hide">
                      <div class="button-animation-wrap">
                        <div class="button-content-tile">
                          <div>More Information on Auracast</div>
                          <div class="button-arrow w-embed">
                            <svg
                              width="7"
                              height="10"
                              viewBox="0 0 7 10"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M1 9L5 5L1 1"
                                stroke="currentColor"
                                stroke-width="2"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="button-content-tile">
                          <div>More Information on Auracast</div>
                          <div class="button-arrow w-embed">
                            <svg
                              width="7"
                              height="10"
                              viewBox="0 0 7 10"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M1 9L5 5L1 1"
                                stroke="currentColor"
                                stroke-width="2"></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section-divider"></div>
                <div class="w-layout-grid home-b-features-grid">
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_10002_225)">
                          <path
                            d="M20 6H22C23.103 6 24 5.103 24 4V2C24 0.897 23.103 0 22 0H20C18.897 0 18 0.897 18 2H6C6 0.897 5.103 0 4 0H2C0.897 0 0 0.897 0 2V4C0 5.103 0.897 6 2 6V18C0.897 18 0 18.897 0 20V22C0 23.103 0.897 24 2 24H4C5.103 24 6 23.103 6 22H18C18 23.103 18.897 24 20 24H22C23.103 24 24 23.103 24 22V20C24 18.897 23.103 18 22 18H20C19.763 18 19.536 18.042 19.325 18.118L15.513 14.306C15.816 13.955 16 13.499 16 13V11C16 10.501 15.816 10.045 15.513 9.694L19.325 5.882C19.536 5.958 19.763 6 20 6ZM19 2C19 1.449 19.449 1 20 1H22C22.551 1 23 1.449 23 2V4C23 4.551 22.551 5 22 5H20C19.449 5 19 4.551 19 4V2ZM1 4V2C1 1.449 1.449 1 2 1H4C4.551 1 5 1.449 5 2V4C5 4.551 4.551 5 4 5H2C1.449 5 1 4.551 1 4ZM5 22C5 22.551 4.551 23 4 23H2C1.449 23 1 22.551 1 22V20C1 19.449 1.449 19 2 19H4C4.551 19 5 19.449 5 20V22ZM6 21V20C6 18.897 5.103 18 4 18H3V6H4C5.103 6 6 5.103 6 4V3H18V4C18 4.499 18.184 4.955 18.487 5.306L14.675 9.118C14.464 9.042 14.237 9 14 9H12C10.897 9 10 9.897 10 11V13C10 14.103 10.897 15 12 15H14C14.237 15 14.464 14.958 14.675 14.882L18.487 18.694C18.184 19.045 18 19.501 18 20V21H6ZM15 11V13C15 13.551 14.551 14 14 14H12C11.449 14 11 13.551 11 13V11C11 10.449 11.449 10 12 10H14C14.551 10 15 10.449 15 11ZM22 19C22.551 19 23 19.449 23 20V22C23 22.551 22.551 23 22 23H20C19.449 23 19 22.551 19 22V20C19 19.449 19.449 19 20 19H22Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_10002_225">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">Compatible with Many Devices</div>
                  </div>
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_10002_1253)">
                          <path
                            d="M20.5 14H10V3.5C10 1.57 8.43 0 6.5 0H3.5C1.57 0 0 1.57 0 3.5V19.5C0 21.981 2.019 24 4.5 24H20.5C22.43 24 24 22.43 24 20.5V17.5C24 15.57 22.43 14 20.5 14ZM23 20.5C23 21.879 21.879 23 20.5 23H4.5C2.57 23 1 21.43 1 19.5V3.5C1 2.121 2.122 1 3.5 1H6.5C7.878 1 9 2.121 9 3.5V4H6.5C6.224 4 6 4.224 6 4.5C6 4.776 6.224 5 6.5 5H9V9H6.5C6.224 9 6 9.224 6 9.5C6 9.776 6.224 10 6.5 10H9V14H6.5C6.224 14 6 14.224 6 14.5C6 14.776 6.224 15 6.5 15H9V17.5C9 17.776 9.224 18 9.5 18C9.776 18 10 17.776 10 17.5V15H14V17.5C14 17.776 14.224 18 14.5 18C14.776 18 15 17.776 15 17.5V15H19V17.5C19 17.776 19.224 18 19.5 18C19.776 18 20 17.776 20 17.5V15H20.5C21.879 15 23 16.121 23 17.5V20.5Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_10002_1253">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">New & Emerging Technology</div>
                  </div>
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_8121_3092)">
                          <path
                            d="M4.5 15H12.5C13.327 15 14 14.327 14 13.5V12.5C14 11.673 13.327 11 12.5 11H4.5C3.673 11 3 11.673 3 12.5V13.5C3 14.327 3.673 15 4.5 15ZM4 12.5C4 12.224 4.224 12 4.5 12H12.5C12.776 12 13 12.224 13 12.5V13.5C13 13.776 12.776 14 12.5 14H4.5C4.224 14 4 13.776 4 13.5V12.5ZM16.5 20H19.5C20.327 20 21 19.327 21 18.5V12.5C21 11.673 20.327 11 19.5 11H16.5C15.673 11 15 11.673 15 12.5V18.5C15 19.327 15.673 20 16.5 20ZM16 12.5C16 12.224 16.224 12 16.5 12H19.5C19.776 12 20 12.224 20 12.5V18.5C20 18.776 19.776 19 19.5 19H16.5C16.224 19 16 18.776 16 18.5V12.5ZM4.5 20H12.5C13.327 20 14 19.327 14 18.5V17.5C14 16.673 13.327 16 12.5 16H4.5C3.673 16 3 16.673 3 17.5V18.5C3 19.327 3.673 20 4.5 20ZM4 17.5C4 17.224 4.224 17 4.5 17H12.5C12.776 17 13 17.224 13 17.5V18.5C13 18.776 12.776 19 12.5 19H4.5C4.224 19 4 18.776 4 18.5V17.5ZM19.5 1H4.5C2.019 1 0 3.019 0 5.5V18.5C0 20.981 2.019 23 4.5 23H19.5C21.981 23 24 20.981 24 18.5V5.5C24 3.019 21.981 1 19.5 1ZM23 18.5C23 20.43 21.43 22 19.5 22H4.5C2.57 22 1 20.43 1 18.5V9H23V18.5ZM23 8H1V5.5C1 3.57 2.57 2 4.5 2H19.5C21.43 2 23 3.57 23 5.5V8ZM11 5C11 5.552 10.552 6 10 6C9.448 6 9 5.552 9 5C9 4.448 9.448 4 10 4C10.552 4 11 4.448 11 5ZM5 5C5 5.552 4.552 6 4 6C3.448 6 3 5.552 3 5C3 4.448 3.448 4 4 4C4.552 4 5 4.448 5 5ZM8 5C8 5.552 7.552 6 7 6C6.448 6 6 5.552 6 5C6 4.448 6.448 4 7 4C7.552 4 8 4.448 8 5Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_8121_3092">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">Low Barrier to Entry</div>
                  </div>
                  <div class="home-b-feature-tile">
                    <div class="icon-home-b-feature w-embed">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_10002_1285)">
                          <path
                            d="M10.239 14.782C10.726 15.259 11.367 15.496 12.006 15.496C12.638 15.496 13.268 15.263 13.742 14.799L16.949 11.95C18.271 10.628 19 8.87 19 7C19 5.13 18.271 3.373 16.949 2.05C15.628 0.728 13.87 0 12 0C10.13 0 8.372 0.728 7.05 2.05C4.321 4.779 4.321 9.22 7.071 11.97L10.239 14.782ZM7.757 2.757C8.891 1.624 10.398 1 12 1C13.602 1 15.109 1.624 16.242 2.757C17.376 3.89 18 5.397 18 7C18 8.603 17.376 10.109 16.264 11.222L13.061 14.067C12.477 14.64 11.525 14.637 10.921 14.05L7.757 11.242C5.418 8.903 5.418 5.096 7.757 2.757ZM12 9.98C13.648 9.98 14.99 8.639 14.99 6.99C14.99 5.341 13.648 4 12 4C10.352 4 9.01 5.341 9.01 6.99C9.01 8.639 10.352 9.98 12 9.98ZM12 5C13.098 5 13.99 5.893 13.99 6.99C13.99 8.087 13.097 8.98 12 8.98C10.903 8.98 10.01 8.087 10.01 6.99C10.01 5.893 10.903 5 12 5ZM24 17.016C24 17.192 23.908 17.355 23.757 17.445L13.447 23.631C13.001 23.899 12.501 24.033 12 24.033C11.499 24.033 10.999 23.898 10.553 23.631L0.243 17.444C0.092 17.354 0 17.191 0 17.015C0 16.839 0.092 16.676 0.243 16.586L5.243 13.586C5.477 13.443 5.787 13.521 5.929 13.758C6.072 13.994 5.994 14.302 5.757 14.444L1.472 17.015L11.067 22.772C11.643 23.118 12.358 23.118 12.934 22.772L22.529 17.015L18.218 14.428C17.981 14.286 17.904 13.979 18.046 13.742C18.189 13.505 18.498 13.428 18.732 13.57L23.757 16.586C23.908 16.677 24 16.839 24 17.015V17.016Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_10002_1285">
                            <rect width="100%" height="100%" fill="currentColor"
                            ></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="text-h6">Future-Ready Compatibility</div>
                  </div>
                </div>
                <div class="section-divider"></div>
              </div>
            </div>
          </div>
          <div class="home-b-features-image">
            <img
              src="/img/alts/emerging.avif"
              loading="lazy"
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
              alt="Auracast"
              class="image-cover"
            />
          </div>
        </div>
      </a>
    </div>
  </section>

  <section class="section home-c-numbers-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid numbers-halves">
        <div class="numbers-left">
          <div class="home-b-about-image-2">
            <video
              src="/video/important.mp4"
              autoplay
              muted
              loop
              playsinline
              class="image-cover"></video>
          </div>
        </div>
        <div class="numbers-right">
          <div class="section-divider"></div>
          <h2 class="no-margins">
            Why are Assistive Listening Technologies so important?
          </h2>
          <div class="section-divider"></div>
          <div class="text-h4">
            Assistive listening systems help to safeguard people who experience
            hearing loss. In law, their rights include:
          </div>
          <div class="w-layout-grid number-features-grid">
            <div class="home-number-feature">
              <div class="text-h4 teal-text">Equality</div>
              <div>Equality before the law without discrimination.</div>
            </div>
            <div class="home-number-feature">
              <div class="text-h4 teal-text">Inclusivity</div>
              <div>Inclusive education and a decent standard of living.</div>
            </div>
            <div class="home-number-feature">
              <div class="text-h4 teal-text">Support</div>
              <div>
                Support to participate in society and live in the community.
              </div>
            </div>
            <div class="home-number-feature">
              <div class="text-h4 teal-text">Accessiblity</div>
              <div>Accessible physical environments and information.</div>
            </div>
          </div>
          <div class="text-h5">
            If used correctly, such systems consistently meet or exceed
            nationally and internationally agreed performance <a
              href="/resources/standards"
              class="teal-text">standards</a
            >.
          </div>
        </div>
      </div>
    </div>
  </section>

  <Signage />
  <div class="spacer-lg"></div>
  <Telecoil />

  <section class="section hero-faq">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid faq-halves">
        <div class="faq-left">
          <div class="label">FAQ</div>
          <div class="faq-heading">
            <h1>
              Some Frequently Asked Questions About Assistive Listening Systems
            </h1>
          </div>
        </div>
        <div
          id="w-node-_5d2379a6-d067-2bd0-b2a0-dab4130fbf03-e2064dd1"
          class="faq-right"
        >
          <div class="faq-tile">
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">
                    What is assistive listening technology?
                  </div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Assistive listening technology (ALT) refers to tools and
                    devices that enhance sound clarity for individuals who
                    experience difficulty hearing. These technologies make it
                    easier to understand speech, music, and environmental
                    sounds, allowing for fuller participation in daily life at
                    home, work, school, and public places.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">
                    Who can benefit from assistive listening technology?
                  </div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    ALT can be helpful for anyone experiencing hearing
                    challenges—whether you have mild hearing loss or use hearing
                    aids or cochlear implants. The right solution depends on
                    your hearing needs and the environments where you need
                    support.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">
                    What are assistive listening devices (ALDs)?
                  </div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    ALDs are personal devices designed to improve communication
                    in small group settings or one-on-one conversations. They
                    typically include a microphone for the speaker and a
                    receiver or amplifier to help the listener hear more
                    clearly. They’re especially useful in noisy places or for
                    direct communication.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">
                    What are assistive listening technologies (ALTs)?
                  </div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    ALTs are designed for use in larger public spaces, such as
                    theaters, places of worship, airports, or lecture halls.
                    They capture sound from a microphone or sound system and
                    send it directly to hearing aids, cochlear implants,
                    receivers worn by the listener, or digital devices like
                    phones. These systems minimize background noise and improve
                    clarity.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">
                    What are the main types of assistive listening systems?
                  </div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    The three primary ALS technologies are:<br />
                    <strong>Hearing loops:</strong> Use magnetic fields to transmit
                    sound to hearing aids or cochlear implants with a telecoil setting.<br
                    />
                    <strong>FM or DM systems:</strong> Use radio signals to transmit
                    sound from a source to personal receivers, often used in classrooms
                    or meetings.<br />
                    <strong>Infrared (IR) systems:</strong> Use light waves to send
                    sound to a receiver. These require a clear line of sight and
                    are often used in settings like cinemas or conference rooms.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">How do hearing loops work?</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    A hearing loop system sends audio directly into a hearing
                    aid or cochlear implant via a magnetic signal. Users must
                    switch their device to the "T" (telecoil) setting to receive
                    the signal. Hearing loops are commonly found in theaters,
                    auditoriums, and other public venues.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">
                    What is a personal infrared loop system?
                  </div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    This system uses infrared light to wirelessly send sound to
                    a portable receiver worn around the neck. The receiver has a
                    built-in loop that sends the audio directly to a hearing
                    aid’s telecoil. These are often available in classrooms or
                    lecture halls.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">
                    Are there smartphone apps that help with hearing?
                  </div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Yes. Many mobile apps offer features such as real-time
                    captioning, sound amplification, or audio streaming. Some
                    are designed to work with hearing aids or implants, while
                    others function independently to improve listening in
                    specific environments.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">
                    Can phones work with assistive listening technology?
                  </div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Yes. By law, phones must be compatible with hearing aids.
                    Most modern smartphones, including iPhones and Androids,
                    offer either <strong>acoustic coupling</strong> (amplifies surrounding
                    and phone audio) or <strong>telecoil compatibility</strong> (direct
                    connection for clearer sound without background noise). Ask your
                    audiologist if your device’s telecoil feature is activated.
                  </p>
                </div>
              </div>

              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">
                    Do I still need assistive listening devices if I use hearing
                    aids?
                  </div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Possibly. While hearing aids offer excellent amplification,
                    they may not always be enough—especially in noisy
                    environments or public venues. ALDs and ALSs complement your
                    hearing aids by providing clearer sound in specific
                    settings.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">
                    How do these technologies help in daily life?
                  </div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Assistive listening tools make activities like attending
                    religious services, watching movies, riding public
                    transport, or participating in meetings more accessible.
                    They reduce listening fatigue, improve comprehension, and
                    help users feel more connected and independent.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">
                    Are public venues required to offer assistive listening
                    systems?
                  </div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    In many countries, yes. Laws such as the Americans with
                    Disabilities Act (ADA) in the U.S., the UK Equality Act
                    2010, and Australia’s Disability Discrimination Act require
                    public facilities to provide ALS options for people with
                    hearing loss.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">
                    Are there standards for assistive listening systems?
                  </div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Yes. International standards like <strong>IEC60118-4</strong
                    > ensure that systems—especially hearing loops—are properly installed
                    and effective. These regulations promote high-quality experiences
                    and prevent low-performance installations that fail to meet users’
                    needs.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Which type of system is best?</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    It depends on the environment and the user’s preferences.
                    Hearing loops are widely favored by users for their
                    simplicity and effectiveness, but FM, DM, and IR systems
                    also offer benefits in specific settings. A hearing care
                    professional can help determine what suits your needs best.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">
                    How do assistive listening systems work with hearing aids?
                  </div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Most systems transmit sound directly to hearing aids using a
                    telecoil or Bluetooth feature. If your device has a
                    telecoil, connecting to a hearing loop is often as simple as
                    switching to the "T" setting. Otherwise, a neckloop or
                    dedicated receiver may be needed.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="spacer-sm"></div>
  <MemberCta />
  <div class="spacer-sm"></div>
  <div class="spacer-sm"></div>
</Layout>
