---
import AboutUsMore from "../components/AboutUsMore.astro";
import MainNews from "../components/MainNews.astro";
import MemberCta from "../components/MemberCta.astro";
import Standards from "../components/Standards.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="section hero-careers">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-careers">
        <div class="careers-top-tile">
          <div class="spacer-sm"></div>
          <div class="heading-careers">
            <div class="headline-blog">
              <div class="label">About IAHA</div>
              <h1 class="text-h1">
                The International Association for Hearing Accessibility
              </h1>
            </div>
          </div>
        </div>

        <div class="home-b-button-wrap">
          <a href="#aims" class="cta-main accent w-inline-block">
            <div class="button-animation-hide">
              <div class="button-animation-wrap">
                <div class="button-content-tile">
                  <div>See our Aims</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile">
                  <div>See our Aims</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="section-divider home-c-numbers"></div>
      </div>
    </div>
  </section>

  <section class="section home-a-story-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid story-halves">
        <div class="story-image-wrap">
          <video
            src="/video/about.mp4"
            autoplay
            muted
            loop
            playsinline
            class="image-cover"
            style="width: 100%; height: auto;"></video>
        </div>
        <div class="headline-story">
          <div class="heading-story">
            <h2 class="no-margins">
              IAHA is a global association dedicated to improving hearing
              accessibility through the promotion and support of assistive
              listening technologies.
            </h2>
            <div class="spacer-sm"></div>
            <div class="section-divider home-c-numbers"></div>

            <div class="spacer-sm"></div>
            <h5>
              As hearing needs evolve across all age groups, from older adults
              to younger people with hearing loss, IAHA seeks to bring together
              manufacturers, experts, and advocates to ensure inclusive access
              in public spaces and beyond.
            </h5>
          </div>
        </div>
      </div>

      <section id="aims" class="section home-a-bento-section">
        <div class="w-layout-blockcontainer main-container w-container">
          <div class="headline-home-c-features">
            <div class="label">IAHA's Purpose</div>
            <div class="heading-home-c-features">
              <h2 class="no-margins">Our Aims</h2>
            </div>
          </div>
          <div
            id="standards"
            class="w-layout-grid feature-grid-home-c"
            style="margin-top:6rem;"
          >
            <div
              id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73028-e2064dab"
              class="feature-card-home-c"
            >
              <div class="label">One</div>
              <div class="feature-card-bottom-tile">
                <h4 class="no-margins">
                  To be the credible <span class="teal-text"
                    >Voice of the industry</span
                  > to government and its agencies, legislators, standards agencies,
                  advocacy organisations, specifiers and other interested parties.
                </h4>
              </div>
            </div>

            <div class="feature-card-home-c">
              <div class="label">Two</div>
              <div class="feature-card-bottom-tile">
                <h4 class="no-margins">
                  To provide information to <span class="teal-text"
                    >facilitate the promotion</span
                  > of Assistive Listening technologies and their applications.
                </h4>
              </div>
            </div>

            <div
              id="w-node-_335d5572-f17e-b978-95fe-23ad4ef7301a-e2064dab"
              class="features-video-home-c"
            >
              <img
                src="/img/audience.jpg"
                loading="lazy"
                sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
                alt=""
                class="image-cover"
              />
            </div>

            <div class="feature-card-home-c">
              <div class="label">Three</div>
              <div class="feature-card-bottom-tile">
                <h4 class="no-margins">
                  To collect and present <span class="teal-text"
                    >information and statistics</span
                  > on hearing assistance and Assistive Listening technologies.
                </h4>
              </div>
            </div>

            <div class="feature-card-image">
              <img
                src="/img/shopping.jpg"
                loading="lazy"
                sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
                -
                alt="Our Aims - IAHA"
                class="image-cover"
              />
            </div>

            <div
              id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73026-e2064dab"
              class="feature-card-image"
            >
              <img
                src="/img/customer.jpeg"
                loading="lazy"
                sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
                alt="woman with hearing aid"
                class="image-cover"
              />
            </div>
          </div>
          <!-- PART 2 -->
          <div
            class="w-layout-grid feature-grid-home-c"
            style="margin-top:1rem;"
          >
            <div class="feature-card-home-c">
              <div class="label">Four</div>
              <div class="feature-card-bottom-tile">
                <h4 class="no-margins">
                  To act as a <span class="teal-text">technical centre</span> to
                  provide commentary, guidance and advice on technical, regulatory
                  and legal aspects of Assistive Listening technologies and systems.
                </h4>
              </div>
            </div>

            <div
              id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73028-e2064dab"
              class="feature-card-home-c accent"
            >
              <div class="label">Five</div>
              <div class="feature-card-bottom-tile">
                <h4 class="no-margins">
                  To define <span class="teal-text"
                    >standards of excellence and best-practice</span
                  > for the assistive listening industries, including a code-of-practice
                  for its members.
                </h4>
              </div>
            </div>

            <div class="feature-card-home-c">
              <div class="label">Six</div>
              <div class="feature-card-bottom-tile">
                <h4 class="no-margins">
                  To provide a <span class="teal-text">forum</span> for the sharing
                  of information across members.
                </h4>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

  <AboutUsMore />

  <section class="section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="section-divider home-c-numbers"></div>
      <div class="w-layout-grid numbers-halves">
        <div class="numbers-left">
          <div class="label">
            What Assistive Listening Technology is best for my needs?
          </div>
        </div>
        <div class="numbers-right">
          <div class="text-h4">
            To help dispel some of the confusion over which assistive listening
            technology should be used in any given situation, IAHA, in
            collaboration with contributors from around the globe, have created
            this resource.
          </div>

          <div class="text-h5">
            There is a myriad of assistive listening technologies available
            today and some exciting developments to come. IAHA seeks to
            demystify them all.
          </div>
        </div>
      </div>
    </div>
    <div class="spacer-sm"></div>
    <div class="spacer-sm"></div>
    <div class="section-divider home-c-numbers"></div>
  </section>
  <MemberCta />
  <MainNews limit={3} />
</Layout>
