---
import Bento from "../components/homepage/Bento.astro";
import Hero from "../components/homepage/Hero.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Hero />
  <div class="section-spacer"></div>
  <section class="section services-home-a">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="about-text-master">
        <div class="label">OUR MISSION</div>
        <div class="about-text-wrap">
          <div class="text-h2">terra–tory™</div>
          <div class="text-h2">is</div>
          <div class="text-h2">more</div>
          <div class="text-h2">than</div>
          <div class="text-h2">a</div>
          <div class="text-h2">template,</div>
          <div class="text-h2">it&#x27; s</div>
          <div class="text-h2">a</div>
          <div class="text-h2">commitment</div>
          <div class="text-h2">to</div>
          <div class="text-h2">our</div>
          <div class="about-text-image">
            <img
              src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/6735175c7301ee0bb2a7a86a_Carousel%20Image.webp"
              loading="lazy"
              sizes="(max-width: 479px) 56px, 72px"
              srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/6735175c7301ee0bb2a7a86a_Carousel%2520Image-p-500.png 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/6735175c7301ee0bb2a7a86a_Carousel%2520Image-p-800.png 800w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/6735175c7301ee0bb2a7a86a_Carousel%20Image.webp 1004w"
              alt=""
              class="image-cover"
            />
          </div>
          <div class="text-h2">planet.</div>
          <div class="text-h2">Designed</div>
          <div class="text-h2">for</div>
          <div class="text-h2">those</div>
          <div class="text-h2">who</div>
          <div class="text-h2">build</div>
          <div class="text-h2">with</div>
          <div class="text-h2">purpose,</div>
          <div class="text-h2">each</div>
          <div class="text-h2">element</div>
          <div class="text-h2">reflects</div>
          <div class="text-h2">our</div>
          <div class="about-text-image">
            <img
              src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/673507cdce2af0291e8278e8_Tomato.avif"
              loading="lazy"
              alt=""
              class="image-cover"
            />
          </div>
          <div class="text-h2">dedication</div>
          <div class="text-h2">to</div>
          <div class="text-h2">sustainability</div>
          <div class="text-h2">and</div>
          <div class="text-h2">thougtful</div>
          <div class="text-h2">design.</div>
        </div>
      </div>
    </div>
  </section>
  <section class="section home-a-about-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid home-a-grid">
        <div class="home-a-feature-card first-card">
          <div class="home-a-feature-icon w-embed">
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 32 32"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_10002_1140)">
                <path
                  d="M16.6667 32C16.596 32.0253 16.8467 32 16.6667 32V32ZM16.6667 32C6.66667 32 0 24.8227 0 16C0 7.17733 7.17733 0 16 0C24.8227 0 32 7.17733 32 16C32 25.3333 24.6667 32 16.6667 32ZM21.9067 5.33333H20.6667C19.564 5.33333 18.6667 6.23067 18.6667 7.33333V8.66667C18.6667 9.76933 17.7693 10.6667 16.6667 10.6667C15.564 10.6667 14.6667 11.564 14.6667 12.6667V14C14.6667 15.1027 15.564 16 16.6667 16H20.6667C22.5053 16 24 17.4947 24 19.3333V20C24 20.1413 24.0733 23.4347 27.3653 25.2547C29.4267 22.728 30.6667 19.508 30.6667 16C30.6667 11.0787 28.2227 6.72667 24.4933 4.06533C23.864 4.85333 22.9267 5.33333 21.9067 5.33333ZM16 23.3333C16 22.2307 15.1027 21.3333 14 21.3333H9.656C8.428 21.3333 7.22533 20.8347 6.356 19.9667L1.384 14.9947C1.36133 15.328 1.33333 15.6613 1.33333 16.0013C1.33333 24.088 7.91333 30.668 16 30.668V23.3333ZM26.4533 26.2693C22.72 24.0347 22.6667 20.1707 22.6667 20V19.3333C22.6667 18.2307 21.7693 17.3333 20.6667 17.3333H16.6667C14.828 17.3333 13.3333 15.8373 13.3333 14V12.6667C13.3333 10.8293 14.828 9.33333 16.6667 9.33333C17.0333 9.33333 17.3333 9.03467 17.3333 8.66667V7.33333C17.3333 5.496 18.828 4 20.6667 4H21.9067C22.4733 4 22.996 3.752 23.372 3.34C21.2027 2.072 18.6893 1.33333 16.0013 1.33333C8.83067 1.33333 2.85733 6.50667 1.59067 13.3147L7.29867 19.0227C7.92 19.644 8.77733 19.9987 9.656 19.9987H14C15.8387 19.9987 17.3333 21.4933 17.3333 23.332V30.5973C20.8907 30.2747 24.084 28.6813 26.4533 26.2693Z"
                  fill="currentColor"></path>
              </g>
              <defs>
                <clipPath id="clip0_10002_1140">
                  <rect width="100%" height="100%" fill="currentColor"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="text-h6">
            terra–tory™ enhances digital ecosystems by supporting sustainable
            development, empowering brands.
          </div>
        </div>
        <div class="home-a-feature-card second-card">
          <div class="home-a-feature-icon w-embed">
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 32 32"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_10002_1819)">
                <path
                  d="M27.8933 13.6413L27.88 13.62L22.036 5.23597C20.9147 3.62797 19.0747 2.66797 17.1147 2.66797H10.6667C8.18933 2.66797 5.93333 4.22397 5.056 6.5413L2.216 14.032C0.886667 14.856 0 16.3266 0 18.0013V21.3346C0 22.8053 1.196 24.0013 2.66667 24.0013V25.3346C2.66667 27.54 4.46133 29.3346 6.66667 29.3346C8.872 29.3346 10.6667 27.54 10.6667 25.3346V24.0013H21.3333V25.3346C21.3333 27.54 23.128 29.3346 25.3333 29.3346C27.5387 29.3346 29.3333 27.54 29.3333 25.3346V24.0013C30.804 24.0013 32 22.8053 32 21.3346V19.3346C32 16.688 30.2773 14.436 27.8933 13.6413ZM20.9427 5.99997L26.056 13.336H14.6667V4.0013H17.1147C18.64 4.0013 20.0707 4.74797 20.9427 5.99997ZM6.304 7.01464C6.98667 5.21197 8.74 4.00264 10.6667 4.00264H13.3333V13.336H4.66667C4.39867 13.336 4.13733 13.3586 3.88133 13.4026L6.30267 7.01597L6.304 7.01464ZM9.33333 25.336C9.33333 26.8066 8.13733 28.0026 6.66667 28.0026C5.196 28.0026 4 26.8066 4 25.336V24.0026H9.33333V25.336ZM28 25.336C28 26.8066 26.804 28.0026 25.3333 28.0026C23.8627 28.0026 22.6667 26.8066 22.6667 25.336V24.0026H28V25.336ZM30.6667 21.336C30.6667 22.0706 30.0693 22.6693 29.3333 22.6693H2.66667C1.93067 22.6693 1.33333 22.0706 1.33333 21.336V18.0026C1.33333 16.1653 2.828 14.6693 4.66667 14.6693H26C28.5733 14.6693 30.6667 16.7626 30.6667 19.336V21.336Z"
                  fill="currentColor"></path>
              </g>
              <defs>
                <clipPath id="clip0_10002_1819">
                  <rect width="100%" height="100%" fill="currentColor"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="text-h6">
            With technology designed to respect natural processes, terra–tory™
            provides tools and systems.
          </div>
        </div>
        <div class="home-a-feature-card third-card">
          <div class="home-a-feature-icon w-embed">
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 32 32"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_10002_686)">
                <path
                  d="M29.3346 13.0019C29.3346 10.2459 27.0906 8.0019 24.3346 8.0019C22.632 8.0019 21.08 8.85523 20.1653 10.2379C19.3866 9.0699 18.1306 8.2459 16.6786 8.04723C16.852 2.76856 19.2373 1.3339 20.668 1.3339C21.7706 1.3339 22.668 2.23123 22.668 3.3339C22.668 3.70056 22.368 4.00056 22.0013 4.00056C21.6346 4.00056 21.3346 4.29923 21.3346 4.66723C21.3346 5.03523 21.6333 5.3339 22.0013 5.3339C23.104 5.3339 24.0013 4.43656 24.0013 3.3339C24.0013 1.49523 22.5066 0.000562423 20.668 0.000562423C19.168 0.000562423 16.88 1.04856 15.8586 4.53123C15.0293 2.59523 13.5866 1.04723 11.6333 0.0698958C11.304 -0.0941043 10.904 0.0405624 10.7386 0.368562C10.5746 0.697896 10.708 1.0979 11.0373 1.26323C13.6386 2.56323 15.1413 4.9579 15.3173 8.04723C13.868 8.24723 12.6146 9.0699 11.8373 10.2366C10.9226 8.8539 9.37064 8.00056 7.66797 8.00056C4.91197 8.00056 2.66797 10.2446 2.66797 13.0006C2.66797 15.6179 4.69064 17.7726 7.25464 17.9832C6.87197 18.6992 6.66797 19.5032 6.66797 20.3339C6.66797 22.8139 8.4853 24.8792 10.8573 25.2672C10.732 25.7206 10.668 26.1886 10.668 26.6672C10.668 29.6086 13.06 32.0006 16.0013 32.0006C18.9426 32.0006 21.3346 29.6086 21.3346 26.6672C21.3346 26.1886 21.2706 25.7206 21.1453 25.2672C23.5173 24.8792 25.3346 22.8139 25.3346 20.3339C25.3346 19.4979 25.132 18.6966 24.7506 17.9832C27.3133 17.7712 29.3346 15.6166 29.3346 13.0006V13.0019ZM16.0013 9.33523C18.024 9.33523 19.668 10.9792 19.668 13.0019C19.668 15.0246 18.024 16.6686 16.0013 16.6686C13.9786 16.6686 12.3346 15.0246 12.3346 13.0019C12.3346 10.9792 13.9786 9.33523 16.0013 9.33523ZM4.0013 13.0019C4.0013 10.9792 5.6453 9.33523 7.66797 9.33523C9.15197 9.33523 10.4813 10.2206 11.0533 11.5912C11.08 11.6552 11.1146 11.7126 11.1573 11.7619C11.056 12.1579 11.0013 12.5739 11.0013 13.0019C11.0013 13.4299 11.056 13.8446 11.1573 14.2419C11.116 14.2912 11.08 14.3486 11.0533 14.4126C10.4813 15.7832 9.15197 16.6686 7.66797 16.6686C5.6453 16.6686 4.0013 15.0246 4.0013 13.0019ZM8.0013 20.3352C8.0013 19.3966 8.35597 18.5059 8.99864 17.8219C10.1586 17.5032 11.168 16.7766 11.836 15.7646C12.4 16.6112 13.2146 17.2779 14.1733 17.6552C14.184 17.6672 14.1946 17.6792 14.2053 17.6899C14.932 18.3859 15.3333 19.3272 15.3333 20.3339C15.3333 22.3566 13.6893 24.0006 11.6666 24.0006C9.64397 24.0006 7.99997 22.3566 7.99997 20.3339L8.0013 20.3352ZM16.0013 30.6686C13.796 30.6686 12.0013 28.8739 12.0013 26.6686C12.0013 26.1952 12.0853 25.7379 12.248 25.3019C13.852 25.1152 15.228 24.1659 16.0013 22.8272C16.7746 24.1659 18.1493 25.1152 19.7546 25.3019C19.9186 25.7379 20.0013 26.1966 20.0013 26.6686C20.0013 28.8739 18.2066 30.6686 16.0013 30.6686ZM20.3346 24.0019C18.312 24.0019 16.668 22.3579 16.668 20.3352C16.668 19.3846 17.0306 18.4832 17.6893 17.7979C17.7266 17.7592 17.756 17.7179 17.7826 17.6739C18.7613 17.2992 19.5933 16.6259 20.1666 15.7659C20.836 16.7779 21.8453 17.5046 23.0053 17.8232C23.6493 18.5046 24.0013 19.3899 24.0013 20.3352C24.0013 22.3579 22.3573 24.0019 20.3346 24.0019ZM24.3346 16.6686C24.08 16.6686 23.8293 16.6419 23.5866 16.5912C23.5213 16.5646 23.4533 16.5486 23.3826 16.5432C22.3013 16.2539 21.3946 15.4806 20.9493 14.4112C20.9226 14.3472 20.888 14.2912 20.8453 14.2406C20.9466 13.8446 21.0013 13.4286 21.0013 13.0006C21.0013 12.5726 20.9466 12.1579 20.8453 11.7606C20.8866 11.7112 20.9226 11.6539 20.9493 11.5899C21.5213 10.2192 22.8506 9.3339 24.3346 9.3339C26.3573 9.3339 28.0013 10.9779 28.0013 13.0006C28.0013 15.0232 26.3573 16.6672 24.3346 16.6672V16.6686Z"
                  fill="currentColor"></path>
              </g>
              <defs>
                <clipPath id="clip0_10002_686">
                  <rect width="100%" height="100%" fill="currentColor"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="text-h6">
            Embracing circular economy values, terra–tory™ promotes waste
            reduction and resource regeneration.
          </div>
        </div>
        <div class="home-a-feature-card fourth-card">
          <div class="home-a-feature-icon w-embed">
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 32 32"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_10002_1287)">
                <path
                  d="M29.9868 19.616C29.9308 19.5693 24.4455 15.0627 20.2868 12.412C19.7695 7.508 18.1815 0.588 18.1655 0.517333L18.0468 0H13.9548L13.8361 0.517333C13.8201 0.588 12.2321 7.508 11.7148 12.412C7.55614 15.0627 2.0708 19.5693 2.0148 19.616L1.60547 19.9533L3.4308 23.616L3.9468 23.492C4.24014 23.4213 10.7508 21.8493 15.3468 20.156L15.3068 30.6667H9.27347V32H22.6668V30.6667H16.6388L16.6788 20.1653C21.2748 21.8547 27.7615 23.42 28.0548 23.492L28.5708 23.616L30.3961 19.9533L29.9868 19.616ZM27.8521 22.0693C26.1361 21.6427 20.5108 20.2013 16.6855 18.7453L16.0015 18.48C16.0015 18.48 15.6001 18.636 15.5228 18.6667C15.5228 18.6667 5.8708 21.6427 4.14947 22.0707L3.27347 20.3133C4.6548 19.196 9.22947 15.5427 12.6988 13.3693L12.9761 13.196L13.0081 12.8693C13.4055 8.79467 14.6348 3.07067 15.0188 1.33733H16.9841C17.3681 3.07067 18.5975 8.796 18.9948 12.8693L19.0268 13.196L19.3041 13.3693C22.7748 15.5427 27.3495 19.196 28.7295 20.3133L27.8535 22.0707L27.8521 22.0693ZM17.3335 14.668C17.3335 15.404 16.7361 16.0013 16.0001 16.0013C15.2641 16.0013 14.6668 15.404 14.6668 14.668C14.6668 13.932 15.2641 13.3347 16.0001 13.3347C16.7361 13.3347 17.3335 13.932 17.3335 14.668Z"
                  fill="currentColor"></path>
              </g>
              <defs>
                <clipPath id="clip0_10002_1287">
                  <rect width="100%" height="100%" fill="currentColor"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="text-h6">
            Powered by nature’s energy—solar, wind, and water—terra–tory™ fuels
            digital growth sustainably.
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section features-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid feature-halves-home-b">
        <div class="feature-left-home-b">
          <div class="headline-features-home-b">
            <div class="label">OUR VALUES</div>
            <div class="heading-features-home-b">
              <div class="text-h1">Creating</div>
              <div class="text-h1">solutions</div>
              <div class="heading-line-semi-light"></div>
              <div class="text-h1">for</div>
              <div class="text-h1">a</div>
              <div class="text-h1">future</div>
            </div>
          </div>
          <div class="features-list-home-b">
            <div class="feature-item-home-b">
              <div class="feature-top-tile">
                <div class="tick-features w-embed">
                  <svg
                    width="100%"
                    height="100%"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M20 6L9 17L4 12"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
                <div class="text-h6">Innovate with purpose</div>
              </div>
              <div class="feature-bottom-text">
                <p class="text-big text-semi-light">
                  By combining biological insights with advanced technology, we
                  develop solutions that are sustainable and human-first.
                </p>
              </div>
            </div>
            <div class="feature-item-home-b">
              <div class="feature-top-tile">
                <div class="tick-features w-embed">
                  <svg
                    width="100%"
                    height="100%"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M20 6L9 17L4 12"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
                <div class="text-h6">Enhance efficiency naturally</div>
              </div>
              <div class="feature-bottom-text">
                <p class="text-big text-semi-light">
                  Our systems streamline operations using biological principles,
                  optimizing workflows for agility.
                </p>
              </div>
            </div>
            <div class="feature-item-home-b">
              <div class="feature-top-tile">
                <div class="tick-features w-embed">
                  <svg
                    width="100%"
                    height="100%"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M20 6L9 17L4 12"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
                <div class="text-h6">Grow sustainably</div>
              </div>
              <div class="feature-bottom-text">
                <p class="text-big text-semi-light">
                  Leverage the power of biology and data to grow your business
                  in a way that prioritizes both innovation and environmental
                  responsibility.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="features-image-home-b">
          <div
            data-poster-url="https://cdn.prod.website-files.com/67337f627413b847e2064cec%2F67358bbaaa6a76230ffee9fc_-00b6-45b0-b4a3-bf49ee158a55-poster-00001.jpg"
            data-video-urls="https://cdn.prod.website-files.com/67337f627413b847e2064cec%2F67358bbaaa6a76230ffee9fc_-00b6-45b0-b4a3-bf49ee158a55-transcode.mp4,https://cdn.prod.website-files.com/67337f627413b847e2064cec%2F67358bbaaa6a76230ffee9fc_-00b6-45b0-b4a3-bf49ee158a55-transcode.webm"
            data-autoplay="true"
            data-loop="true"
            class="video-cover w-background-video w-background-video-atom"
          >
            <video
              id="9d6804fe-193f-9e11-89e0-21c371f110fe-video"
              autoplay=""
              loop=""
              style='background-image:url(https://terra-tory-template.webflow.io/homepage/"https://cdn.prod.website-files.com/67337f627413b847e2064cec%2F67358bbaaa6a76230ffee9fc_-00b6-45b0-b4a3-bf49ee158a55-poster-00001.jpg")'
              muted=""
              playsinline=""
              data-object-fit="cover"
            >
              <source
                src="https://cdn.prod.website-files.com/67337f627413b847e2064cec%2F67358bbaaa6a76230ffee9fc_-00b6-45b0-b4a3-bf49ee158a55-transcode.mp4"
              />
              <source
                src="https://cdn.prod.website-files.com/67337f627413b847e2064cec%2F67358bbaaa6a76230ffee9fc_-00b6-45b0-b4a3-bf49ee158a55-transcode.webm"
              />
            </video>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section home-a-story-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-story">
        <div class="section-divider"></div>
        <div class="heading-story">
          <h2 class="no-margins">
            By blending ecological insights with advanced digital design,
            terra–tory™ offers the ultimate template for businesses driven by
            sustainability and positive impact.
          </h2>
        </div>
      </div>
      <div class="w-layout-grid story-halves">
        <div class="story-image-wrap">
          <img
            src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill.jpg"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
            srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-500.jpg 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-800.jpg 800w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-1600.jpg 1600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-2000.jpg 2000w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-2600.jpg 2600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-3200.jpg 3200w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill.jpg 4891w"
            alt=""
            class="image-cover"
          />
        </div>
        <div class="story-right">
          <div class="story-text">
            <p class="text-big">
              With terra–tory™, you’re choosing a template built to enhance
              your business’s credibility and appeal. Designed for companies at
              the forefront of environmental change, terra–tory™ supports your
              journey toward sustainable growth and innovation, helping you
              connect authentically with like-minded customers.
            </p>
          </div><a
            href="../contact/contact-a.html"
            class="cta-main accent w-inline-block"
          >
            <div class="button-animation-hide">
              <div class="button-animation-wrap">
                <div class="button-content-tile">
                  <div>Get Started</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile">
                  <div>Get Started</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <Bento />
  <section class="section home-a-features-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid feature-halves-home-b">
        <div class="feature-left-home-b">
          <div class="headline-features-home-b">
            <div class="label">crafted for businesses</div>
            <div class="limit-528">
              <div class="heading-features-home-b">
                <div class="text-h1">Designing</div>
                <div class="text-h1">for</div>
                <div class="heading-line-semi-light"></div>
                <div class="text-h1">tomorrow</div>
              </div>
            </div>
          </div>
          <div class="home-a-features-grid">
            <div class="home-a-about-card">
              <div class="icon-home-a-feature w-embed">
                <svg
                  width="100%"
                  height="100%"
                  viewBox="0 0 32 32"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_10002_1171)">
                    <path
                      d="M27.8933 13.6413L27.88 13.62L22.036 5.23597C20.9147 3.62797 19.0747 2.66797 17.1147 2.66797H10.6667C8.18933 2.66797 5.93333 4.22397 5.056 6.5413L2.216 14.032C0.886667 14.856 0 16.3266 0 18.0013V21.3346C0 22.8053 1.196 24.0013 2.66667 24.0013V25.3346C2.66667 27.54 4.46133 29.3346 6.66667 29.3346C8.872 29.3346 10.6667 27.54 10.6667 25.3346V24.0013H21.3333V25.3346C21.3333 27.54 23.128 29.3346 25.3333 29.3346C27.5387 29.3346 29.3333 27.54 29.3333 25.3346V24.0013C30.804 24.0013 32 22.8053 32 21.3346V19.3346C32 16.688 30.2773 14.436 27.8933 13.6413ZM20.9427 5.99997L26.056 13.336H14.6667V4.0013H17.1147C18.64 4.0013 20.0707 4.74797 20.9427 5.99997ZM6.304 7.01464C6.98667 5.21197 8.74 4.00264 10.6667 4.00264H13.3333V13.336H4.66667C4.39867 13.336 4.13733 13.3586 3.88133 13.4026L6.30267 7.01597L6.304 7.01464ZM9.33333 25.336C9.33333 26.8066 8.13733 28.0026 6.66667 28.0026C5.196 28.0026 4 26.8066 4 25.336V24.0026H9.33333V25.336ZM28 25.336C28 26.8066 26.804 28.0026 25.3333 28.0026C23.8627 28.0026 22.6667 26.8066 22.6667 25.336V24.0026H28V25.336ZM30.6667 21.336C30.6667 22.0706 30.0693 22.6693 29.3333 22.6693H2.66667C1.93067 22.6693 1.33333 22.0706 1.33333 21.336V18.0026C1.33333 16.1653 2.828 14.6693 4.66667 14.6693H26C28.5733 14.6693 30.6667 16.7626 30.6667 19.336V21.336Z"
                      fill="currentColor"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_10002_1171">
                      <rect width="100%" height="100%" fill="currentColor"
                      ></rect>
                    </clipPath>
                  </defs>
                </svg>
              </div>
              <div class="home-a-feature-bottom-tile">
                <div class="text-h6">Eco development</div>
                <div class="text-body about-a-features-grid">
                  Designed to empower green businesses, terra–tory™ prioritizes
                  sustainability.
                </div>
              </div>
            </div>
            <div class="home-a-about-card">
              <div class="icon-home-a-feature w-embed">
                <svg
                  width="100%"
                  height="100%"
                  viewBox="0 0 32 32"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_8009_5099)">
                    <g clip-path="url(#clip1_8009_5099)">
                      <path
                        d="M29.3346 13.0019C29.3346 10.2459 27.0906 8.0019 24.3346 8.0019C22.632 8.0019 21.08 8.85523 20.1653 10.2379C19.3866 9.0699 18.1306 8.2459 16.6786 8.04723C16.852 2.76856 19.2373 1.3339 20.668 1.3339C21.7706 1.3339 22.668 2.23123 22.668 3.3339C22.668 3.70056 22.368 4.00056 22.0013 4.00056C21.6346 4.00056 21.3346 4.29923 21.3346 4.66723C21.3346 5.03523 21.6333 5.3339 22.0013 5.3339C23.104 5.3339 24.0013 4.43656 24.0013 3.3339C24.0013 1.49523 22.5066 0.000562423 20.668 0.000562423C19.168 0.000562423 16.88 1.04856 15.8586 4.53123C15.0293 2.59523 13.5866 1.04723 11.6333 0.0698958C11.304 -0.0941043 10.904 0.0405624 10.7386 0.368562C10.5746 0.697896 10.708 1.0979 11.0373 1.26323C13.6386 2.56323 15.1413 4.9579 15.3173 8.04723C13.868 8.24723 12.6146 9.0699 11.8373 10.2366C10.9226 8.8539 9.37064 8.00056 7.66797 8.00056C4.91197 8.00056 2.66797 10.2446 2.66797 13.0006C2.66797 15.6179 4.69064 17.7726 7.25464 17.9832C6.87197 18.6992 6.66797 19.5032 6.66797 20.3339C6.66797 22.8139 8.4853 24.8792 10.8573 25.2672C10.732 25.7206 10.668 26.1886 10.668 26.6672C10.668 29.6086 13.06 32.0006 16.0013 32.0006C18.9426 32.0006 21.3346 29.6086 21.3346 26.6672C21.3346 26.1886 21.2706 25.7206 21.1453 25.2672C23.5173 24.8792 25.3346 22.8139 25.3346 20.3339C25.3346 19.4979 25.132 18.6966 24.7506 17.9832C27.3133 17.7712 29.3346 15.6166 29.3346 13.0006V13.0019ZM16.0013 9.33523C18.024 9.33523 19.668 10.9792 19.668 13.0019C19.668 15.0246 18.024 16.6686 16.0013 16.6686C13.9786 16.6686 12.3346 15.0246 12.3346 13.0019C12.3346 10.9792 13.9786 9.33523 16.0013 9.33523ZM4.0013 13.0019C4.0013 10.9792 5.6453 9.33523 7.66797 9.33523C9.15197 9.33523 10.4813 10.2206 11.0533 11.5912C11.08 11.6552 11.1146 11.7126 11.1573 11.7619C11.056 12.1579 11.0013 12.5739 11.0013 13.0019C11.0013 13.4299 11.056 13.8446 11.1573 14.2419C11.116 14.2912 11.08 14.3486 11.0533 14.4126C10.4813 15.7832 9.15197 16.6686 7.66797 16.6686C5.6453 16.6686 4.0013 15.0246 4.0013 13.0019ZM8.0013 20.3352C8.0013 19.3966 8.35597 18.5059 8.99864 17.8219C10.1586 17.5032 11.168 16.7766 11.836 15.7646C12.4 16.6112 13.2146 17.2779 14.1733 17.6552C14.184 17.6672 14.1946 17.6792 14.2053 17.6899C14.932 18.3859 15.3333 19.3272 15.3333 20.3339C15.3333 22.3566 13.6893 24.0006 11.6666 24.0006C9.64397 24.0006 7.99997 22.3566 7.99997 20.3339L8.0013 20.3352ZM16.0013 30.6686C13.796 30.6686 12.0013 28.8739 12.0013 26.6686C12.0013 26.1952 12.0853 25.7379 12.248 25.3019C13.852 25.1152 15.228 24.1659 16.0013 22.8272C16.7746 24.1659 18.1493 25.1152 19.7546 25.3019C19.9186 25.7379 20.0013 26.1966 20.0013 26.6686C20.0013 28.8739 18.2066 30.6686 16.0013 30.6686ZM20.3346 24.0019C18.312 24.0019 16.668 22.3579 16.668 20.3352C16.668 19.3846 17.0306 18.4832 17.6893 17.7979C17.7266 17.7592 17.756 17.7179 17.7826 17.6739C18.7613 17.2992 19.5933 16.6259 20.1666 15.7659C20.836 16.7779 21.8453 17.5046 23.0053 17.8232C23.6493 18.5046 24.0013 19.3899 24.0013 20.3352C24.0013 22.3579 22.3573 24.0019 20.3346 24.0019ZM24.3346 16.6686C24.08 16.6686 23.8293 16.6419 23.5866 16.5912C23.5213 16.5646 23.4533 16.5486 23.3826 16.5432C22.3013 16.2539 21.3946 15.4806 20.9493 14.4112C20.9226 14.3472 20.888 14.2912 20.8453 14.2406C20.9466 13.8446 21.0013 13.4286 21.0013 13.0006C21.0013 12.5726 20.9466 12.1579 20.8453 11.7606C20.8866 11.7112 20.9226 11.6539 20.9493 11.5899C21.5213 10.2192 22.8506 9.3339 24.3346 9.3339C26.3573 9.3339 28.0013 10.9779 28.0013 13.0006C28.0013 15.0232 26.3573 16.6672 24.3346 16.6672V16.6686Z"
                        fill="currentColor"></path>
                    </g>
                  </g>
                  <defs>
                    <clipPath id="clip0_8009_5099">
                      <rect width="100%" height="100%" fill="currentColor"
                      ></rect>
                    </clipPath>
                    <clipPath id="clip1_8009_5099">
                      <rect width="100%" height="100%" fill="currentColor"
                      ></rect>
                    </clipPath>
                  </defs>
                </svg>
              </div>
              <div class="home-a-feature-bottom-tile">
                <div class="text-h6">Nature technology</div>
                <div class="text-body about-a-features-grid">
                  Harnessing technology that respects nature, terra–tory™
                  aligns your digital presence .
                </div>
              </div>
            </div>
            <div class="home-a-about-card">
              <div class="icon-home-a-feature w-embed">
                <svg
                  width="100%"
                  height="100%"
                  viewBox="0 0 32 32"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_10002_1175)">
                    <path
                      d="M29.9868 19.616C29.9308 19.5693 24.4455 15.0627 20.2868 12.412C19.7695 7.508 18.1815 0.588 18.1655 0.517333L18.0468 0H13.9548L13.8361 0.517333C13.8201 0.588 12.2321 7.508 11.7148 12.412C7.55614 15.0627 2.0708 19.5693 2.0148 19.616L1.60547 19.9533L3.4308 23.616L3.9468 23.492C4.24014 23.4213 10.7508 21.8493 15.3468 20.156L15.3068 30.6667H9.27347V32H22.6668V30.6667H16.6388L16.6788 20.1653C21.2748 21.8547 27.7615 23.42 28.0548 23.492L28.5708 23.616L30.3961 19.9533L29.9868 19.616ZM27.8521 22.0693C26.1361 21.6427 20.5108 20.2013 16.6855 18.7453L16.0015 18.48C16.0015 18.48 15.6001 18.636 15.5228 18.6667C15.5228 18.6667 5.8708 21.6427 4.14947 22.0707L3.27347 20.3133C4.6548 19.196 9.22947 15.5427 12.6988 13.3693L12.9761 13.196L13.0081 12.8693C13.4055 8.79467 14.6348 3.07067 15.0188 1.33733H16.9841C17.3681 3.07067 18.5975 8.796 18.9948 12.8693L19.0268 13.196L19.3041 13.3693C22.7748 15.5427 27.3495 19.196 28.7295 20.3133L27.8535 22.0707L27.8521 22.0693ZM17.3335 14.668C17.3335 15.404 16.7361 16.0013 16.0001 16.0013C15.2641 16.0013 14.6668 15.404 14.6668 14.668C14.6668 13.932 15.2641 13.3347 16.0001 13.3347C16.7361 13.3347 17.3335 13.932 17.3335 14.668Z"
                      fill="currentColor"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_10002_1175">
                      <rect width="100%" height="100%" fill="currentColor"
                      ></rect>
                    </clipPath>
                  </defs>
                </svg>
              </div>
              <div class="home-a-feature-bottom-tile">
                <div class="text-h6">Circular economy</div>
                <div class="text-body about-a-features-grid">
                  Supporting the circular economy, terra–tory™ helps reduce
                  waste.
                </div>
              </div>
            </div>
            <div class="home-a-about-card">
              <div class="icon-home-a-feature w-embed">
                <svg
                  width="100%"
                  height="100%"
                  viewBox="0 0 32 32"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_10002_1179)">
                    <path
                      d="M16.6667 32C16.596 32.0253 16.8467 32 16.6667 32V32ZM16.6667 32C6.66667 32 0 24.8227 0 16C0 7.17733 7.17733 0 16 0C24.8227 0 32 7.17733 32 16C32 25.3333 24.6667 32 16.6667 32ZM21.9067 5.33333H20.6667C19.564 5.33333 18.6667 6.23067 18.6667 7.33333V8.66667C18.6667 9.76933 17.7693 10.6667 16.6667 10.6667C15.564 10.6667 14.6667 11.564 14.6667 12.6667V14C14.6667 15.1027 15.564 16 16.6667 16H20.6667C22.5053 16 24 17.4947 24 19.3333V20C24 20.1413 24.0733 23.4347 27.3653 25.2547C29.4267 22.728 30.6667 19.508 30.6667 16C30.6667 11.0787 28.2227 6.72667 24.4933 4.06533C23.864 4.85333 22.9267 5.33333 21.9067 5.33333ZM16 23.3333C16 22.2307 15.1027 21.3333 14 21.3333H9.656C8.428 21.3333 7.22533 20.8347 6.356 19.9667L1.384 14.9947C1.36133 15.328 1.33333 15.6613 1.33333 16.0013C1.33333 24.088 7.91333 30.668 16 30.668V23.3333ZM26.4533 26.2693C22.72 24.0347 22.6667 20.1707 22.6667 20V19.3333C22.6667 18.2307 21.7693 17.3333 20.6667 17.3333H16.6667C14.828 17.3333 13.3333 15.8373 13.3333 14V12.6667C13.3333 10.8293 14.828 9.33333 16.6667 9.33333C17.0333 9.33333 17.3333 9.03467 17.3333 8.66667V7.33333C17.3333 5.496 18.828 4 20.6667 4H21.9067C22.4733 4 22.996 3.752 23.372 3.34C21.2027 2.072 18.6893 1.33333 16.0013 1.33333C8.83067 1.33333 2.85733 6.50667 1.59067 13.3147L7.29867 19.0227C7.92 19.644 8.77733 19.9987 9.656 19.9987H14C15.8387 19.9987 17.3333 21.4933 17.3333 23.332V30.5973C20.8907 30.2747 24.084 28.6813 26.4533 26.2693Z"
                      fill="currentColor"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_10002_1179">
                      <rect width="100%" height="100%" fill="currentColor"
                      ></rect>
                    </clipPath>
                  </defs>
                </svg>
              </div>
              <div class="home-a-feature-bottom-tile">
                <div class="text-h6">Renewable energy</div>
                <div class="text-body about-a-features-grid">
                  Inspired by the power of solar, wind, and water, terra–tory™
                  drives growth.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="home-a-features-image">
          <div
            data-poster-url="https://cdn.prod.website-files.com/67337f627413b847e2064cec%2F67352e2e93015edef00e8c12_-1614-457c-ad9e-12b699823904-poster-00001.jpg"
            data-video-urls="https://cdn.prod.website-files.com/67337f627413b847e2064cec%2F67352e2e93015edef00e8c12_-1614-457c-ad9e-12b699823904-transcode.mp4,https://cdn.prod.website-files.com/67337f627413b847e2064cec%2F67352e2e93015edef00e8c12_-1614-457c-ad9e-12b699823904-transcode.webm"
            data-autoplay="true"
            data-loop="true"
            class="video-cover w-background-video w-background-video-atom"
          >
            <video
              id="caa6f97a-dadf-ff25-88e7-922be656fe97-video"
              autoplay=""
              loop=""
              style='background-image:url(https://terra-tory-template.webflow.io/homepage/"https://cdn.prod.website-files.com/67337f627413b847e2064cec%2F67352e2e93015edef00e8c12_-1614-457c-ad9e-12b699823904-poster-00001.jpg")'
              muted=""
              playsinline=""
              data-object-fit="cover"
            >
              <source
                src="https://cdn.prod.website-files.com/67337f627413b847e2064cec%2F67352e2e93015edef00e8c12_-1614-457c-ad9e-12b699823904-transcode.mp4"
              />
              <source
                src="https://cdn.prod.website-files.com/67337f627413b847e2064cec%2F67352e2e93015edef00e8c12_-1614-457c-ad9e-12b699823904-transcode.webm"
              />
            </video>
          </div>
        </div>
      </div>
    </div>
    <div
      data-w-id="64989bf9-3525-44a2-a9a7-77c69845b5f5"
      class="circle-home-a-features"
    >
    </div>
  </section>

  <section class="section about-a-services-section">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid about-a-services-halves">
        <div class="about-a-services-image">
          <img
            src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734653c96c925d22249f409_Earth.jpg"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, 640px"
            srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734653c96c925d22249f409_Earth-p-500.jpg 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734653c96c925d22249f409_Earth-p-800.jpg 800w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734653c96c925d22249f409_Earth-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734653c96c925d22249f409_Earth-p-1600.jpg 1600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734653c96c925d22249f409_Earth-p-2000.jpg 2000w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734653c96c925d22249f409_Earth-p-2600.jpg 2600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734653c96c925d22249f409_Earth-p-3200.jpg 3200w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734653c96c925d22249f409_Earth.jpg 5464w"
            alt=""
            class="image-cover"
          />
        </div>
        <div class="about-a-services-right">
          <div class="headline-services-about-a">
            <div class="label">ALT Resources</div>
          </div>
          <div class="heading-story">
            <h2 class="no-margins">
              We seek to make Assistive Listening Technologies clearer by
              cuttintg throught the confusion...
            </h2>
          </div>
          <div class="service-list-about-a">
            <a href="about-a.html#" class="text-blured text-h0">Standards</a><a
              href="about-a.html#"
              class="text-blured text-h0">Links</a
            ><a href="about-a.html#" class="text-blured text-h0">Glossary</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section cta-section">
    <div class="cta-video">
      <div class="w-layout-blockcontainer main-container w-container">
        <div class="cta-master">
          <div class="cta-top-tile">
            <div class="label">terra–tory™</div>
            <div class="heading-cta">
              <div class="text-h1">Uncover your website’s potential</div>
            </div>
          </div>
          <div class="cta-button-wrap">
            <a
              href="https://webflow.com/templates/designers/byq-studio"
              target="_blank"
              class="cta-main accent w-inline-block"
            >
              <div class="button-animation-hide">
                <div class="button-animation-wrap">
                  <div class="button-content-tile">
                    <div>Buy Template</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="button-content-tile bottom-tile">
                    <div>Buy Template</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a><a
              href="../contact/contact-a.html"
              class="cta-booking w-inline-block"
            >
              <div class="cta-image-wrap">
                <img
                  src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67337f627413b847e2064f0f_Button%20Image.webp"
                  loading="lazy"
                  alt=""
                  class="image-cover"
                />
              </div>
              <div class="text-body semibold">Book an intro call</div>
            </a>
          </div>
        </div>
      </div>
      <div
        data-w-id="6d31e448-0cad-78cf-9898-37953bfbda47"
        class="cta-circle-regular"
      >
      </div>
      <div
        data-w-id="5705fcc2-f633-58e3-1c4e-f911fd308ab2"
        class="cta-circle-big"
      >
      </div>
      <div
        data-w-id="6fae3469-06b3-95c8-5c38-abda8ce051ed"
        class="cta-circle-small"
      >
      </div>
    </div>
  </section>
</Layout>
