---
import AboutUsMore from "../components/AboutUsMore.astro";
import Bento from "../components/homepage/Bento.astro";
import Hero from "../components/homepage/Hero.astro";
import MainNews from "../components/MainNews.astro";
import MemberCta from "../components/MemberCta.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Hero />
  <div class="section-spacer"></div>
  <section id="welcome" class="section services-home-a">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid story-halves">
        <div class="">
          <div class="headline-careers">
            <div class="careers-top-tile">
              <div class="spacer-sm"></div>
              <div class="heading-careers">
                <div class="headline-blog">
                  <div class="label">
                    Welcome to The International Association for Hearing
                    Accessibility.
                  </div>
                  <h1 class="text-h1">
                    Access to intelligible broadcast audio signals is a right
                    not a privilege.
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="headline-story">
          <div class="heading-story">
            <h2 class="no-margins">
              IAHA is a global association dedicated to improving hearing
              accessibility through the promotion and support of assistive
              listening technologies.
            </h2>
            <div class="spacer-sm"></div>
            <div class="section-divider home-c-numbers"></div>

            <div class="spacer-sm"></div>
            <h5>
              As hearing needs evolve across all age groups, from older adults
              to younger people with hearing loss, IAHA seeks to bring together
              manufacturers, experts, and advocates to ensure inclusive access
              in public spaces and beyond, as well as support good quality
              assistive listening system installations around the world.
            </h5>
            <h5>
              Find out more about our <a href="/about#aims" class="teal-text"
                >purpose</a
              >.
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid team-grid">
        <a
          href="/assistive-listening-technologies"
          id="w-node-e922f43c-b316-26c2-2d33-7849ab629291-b235a4dc"
          class="feat-card"
        >
          <div class="feat-image">
            <img
              src="/img/alts-thumb.jpg"
              loading="lazy"
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 96vw"
              alt=""
              class="image-cover"
            />
          </div>
          <div class="member-info-tile">
            <div class="text-h5 teal-text">
              Assistive Listening Technologies
            </div>
            <div class="text-p">
              Explore available Assistive Listening Technologies. A clear
              overview of how they work, and how they compare.
            </div>
          </div>
        </a>
        <a
          href="/resources"
          id="w-node-e922f43c-b316-26c2-2d33-7849ab629291-b235a4dc"
          class="feat-card"
        >
          <div class="feat-image">
            <img
              src="/img/guide.jpg"
              loading="lazy"
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 96vw"
              alt=""
              class="image-cover"
            />
          </div>
          <div class="member-info-tile">
            <div class="text-h5 teal-text">Download Our Guide</div>
            <div class="text-p">
              We've produced a handy guide covering the latest Assistive
              Listening Technologies, and how they compare. Get it here.
            </div>
          </div>
        </a>
        <a
          href="/news"
          id="w-node-e922f43c-b316-26c2-2d33-7849ab629291-b235a4dc"
          class="feat-card"
        >
          <div class="feat-image">
            <img
              src="/img/news.jpg"
              loading="lazy"
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 96vw"
              alt=""
              class="image-cover"
            />
          </div>
          <div class="member-info-tile">
            <div class="text-h5 teal-text">See the Latest News</div>
            <div class="text-p">
              The latest industry news, articles, information on Assistive
              Technologies, as well as any IAHA updates.
            </div>
          </div>
        </a>

        <a
          href="/contact"
          id="w-node-e922f43c-b316-26c2-2d33-7849ab629291-b235a4dc"
          class="feat-card"
        >
          <div class="feat-image">
            <img
              src="/img/contact.jpg"
              loading="lazy"
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 96vw"
              alt=""
              class="image-cover"
            />
          </div>
          <div class="member-info-tile">
            <div class="text-h5 teal-text">Get in touch with IAHA</div>
            <div class="text-p">
              Happy to help with any enquiries regarding Assistive Listening
              Technologies.
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <AboutUsMore />

  <Bento />

  <section class="">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid team-grid">
        <a
          href="/resources/standards"
          id="w-node-_73fefbbb-0330-2f67-2787-7348b235a4dd-b235a4dc"
          class="member-card"
        >
          <div class="member-image big">
            <img
              src="/img/standards-thumb.jpg"
              loading="lazy"
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 96vw"
              alt="Assistive Listening standards"
              class="image-cover"
            />
          </div>
          <div class="member-info-tile">
            <div class="text-h5 teal-text">Assistive Listening Standards</div>
            <div class="text-p">
              Find out about Assistive Listening Standards, what they're for,
              and why they're so important for ensuring consistent accessibility
              in public spaces for people with hearing loss
            </div>
          </div>
        </a>
        <a
          href="/assistive-listening-technologies#telecoil"
          id="w-node-_73fefbbb-0330-2f67-2787-7348b235a4dd-b235a4dc"
          class="member-card"
        >
          <div class="member-image big">
            <img
              src="/img/telecoil-thumb-2.jpg"
              loading="lazy"
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 96vw"
              alt="Telecoils"
              class="image-cover"
            />
          </div>
          <div class="member-info-tile">
            <div class="text-h5 teal-text">Telecoils</div>
            <div class="text-p">
              What's a Telecoil? built into most hearing aids and cochlear
              implants, they can provide direct, latency-free audio access in
              public spaces, but not many people know what they are.
            </div>
          </div>
        </a>
        <a
          href="/assistive-listening-technologies#signage"
          id="w-node-_73fefbbb-0330-2f67-2787-7348b235a4dd-b235a4dc"
          class="member-card"
        >
          <div class="member-image big">
            <img
              src="/img/finding-assistive-hearing.jpeg"
              loading="lazy"
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 96vw"
              alt="Finding an assistive listening system"
              class="image-cover"
            />
          </div>
          <div class="member-info-tile">
            <div class="text-h5 teal-text">
              Finding an Assitive Listening System
            </div>
            <div class="text-p">
              Find out how to locate Assistive Listening Systems and why signage
              is crucial to ensuring people with hearing loss know they’re
              available.
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <div class="" style="margin-top: -3rem;">
    <MainNews frontPage showHeader limit={6} />
  </div>

  <section class="about-a-services-section">
    <div class="spacer-sm"></div>
    <div class="spacer-sm"></div>
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="section-divider home-c-numbers"></div>
      <div class="spacer-sm"></div>
      <div class="w-layout-grid about-a-services-halves">
        <div class="about-a-services-image">
          <img
            src="/img/portable-loop.jpg"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, 640px"
            alt="Assistive listening technologies"
            class="image-cover"
          />
        </div>
        <div class="">
          <div class="headline-services-about-a">
            <div class="label">Assistive Listening Resources</div>
          </div>
          <div class="spacer-sm"></div>
          <div class="headline-story">
            <div class="heading-story">
              <h3 class="no-margins">
                The International Association for Hearing Accessibility seeks to
                clear up confusion around assistive listening technologies.
              </h3>
              <div class="spacer-sm"></div>
              <h5>
                This includes supporting greater awareness, implementation, and
                accessibility for people with hearing loss. Here's some more
                links that may help that.
              </h5>
            </div>

            <div class="service-list-about-a">
              <div
                class="section-divider"
                style="margin-top:0.5rem; margin-bottom: 0.5rem;"
              >
              </div>
              <a
                href="/about"
                class="text-blured text-h0"
                style="font-size:36px;">About IAHA</a
              >
              <div
                class="section-divider"
                style="margin-top:0.5rem; margin-bottom: 0.5rem;"
              >
              </div>
              <a
                href="/assistive-listening-systems"
                class="text-blured text-h0"
                style="font-size:36px;">Available Assistive Listening Systems</a
              >
              <div
                class="section-divider"
                style="margin-top:0.5rem; margin-bottom: 0.5rem;"
              >
              </div>
              <a
                href="/standards"
                class="text-blured text-h0"
                style="font-size:36px;">Standards</a
              >
              <div
                class="section-divider"
                style="margin-top:0.5rem; margin-bottom: 0.5rem;"
              >
              </div>
              <a
                href="/contact"
                class="text-blured text-h0"
                style="font-size:36px;">Technical Documents</a
              >
              <div
                class="section-divider"
                style="margin-top:0.5rem; margin-bottom: 0.5rem;"
              >
              </div>
              <a
                href="/contact"
                class="text-blured text-h0"
                style="font-size:36px;">Useful Links</a
              >
              <div
                class="section-divider"
                style="margin-top:0.5rem; margin-bottom: 0.5rem;"
              >
              </div>
              <a
                href="/contact"
                class="text-blured text-h0"
                style="font-size:36px;">Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <MemberCta />
  <div class="spacer-sm"></div>
  <div class="spacer-sm"></div>
</Layout>
