---
import MainNews from "../components/MainNews.astro";
import Layout from "../layouts/Layout.astro";
const allPosts = Object.values(
  import.meta.glob("../pages/posts/*.md", { eager: true })
).filter((post) => {
  const isScheduled = new Date(post.frontmatter.pubDate).getTime() > Date.now();
  return !isScheduled;
});
---

<Layout>
  <body>
    <section class="section hero-blog">
      <div class="w-layout-blockcontainer main-container w-container">
        <div class="headline-blog">
          <div class="label">Assistive Listening News</div>
          <h1 class="text-h1">News &amp; Articles</h1>
        </div>
        <div class="related-block w-dyn-list">
          <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
              <a
                href={allPosts[0].url}
                class="article-tile pinned w-inline-block"
              >
                <div class="image-wrap-blog pinned">
                  <img
                    alt=""
                    loading="lazy"
                    src={allPosts[0].frontmatter.image.url}
                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, 54vw"
                    class="image-cover"
                  />
                </div>
                <div class="article-info-wrap">
                  <div class="article-category-wrap">
                    <div class="text-small opacity-50">·</div>
                    <div class="text-small">
                      {allPosts[0].frontmatter.alt}
                    </div>
                  </div>
                  <div class="text-h3">
                    {allPosts[0].frontmatter.description}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <MainNews limit={9} />
  </body>
</Layout>
