---
import MainNews from "../../components/MainNews.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="section hero-careers">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-careers">
        <div class="careers-top-tile">
          <div class="spacer-sm"></div>
          <div class="heading-careers">
            <div class="headline-blog">
              <div class="label">Resources</div>
              <h1 class="text-h1">Assistive Listening Resources</h1>
            </div>
          </div>
        </div>

        <div class="home-b-button-wrap">
          <a
            href="../resources/standards"
            class="cta-main accent w-inline-block"
          >
            <div class="button-animation-hide">
              <div class="button-animation-wrap">
                <div class="button-content-tile">
                  <div>See all Resources</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile">
                  <div>See all Resources</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="section-divider home-c-numbers"></div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid numbers-halves">
        <div class="numbers-left"></div>
        <div class="numbers-right">
          <div class="heading-story">
            <h2 class="no-margins">
              Further your knowledge of Assistive Listening Technologies with
              useful resources provided by industry experts.
            </h2>
          </div>
        </div>
      </div>
      <div class="w-layout-grid feature-grid-home-c" style="margin-top:8rem;">
        <div class="feature-card-home-c">
          <div class="label"></div>
          <div class="feature-card-bottom-tile">
            <h2 class="no-margins">Standards</h2>
            <div class="text-body">
              Standards are established guidelines and criteria that define the
              parameters for the design and performance of a hearing loop
              system.
            </div>
            <div class="home-b-button-wrap">
              <a
                href="../resources/standards"
                class="cta-main accent w-inline-block"
              >
                <div class="button-animation-hide">
                  <div class="button-animation-wrap">
                    <div class="button-content-tile">
                      <div>More on Standards</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="button-content-tile">
                      <div>More on Standards</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_335d5572-f17e-b978-95fe-23ad4ef7301a-e2064dab"
          class="features-video-home-c"
        >
          <img
            src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf.jpg"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
            srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-500.jpg 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-800.jpg 800w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-1600.jpg 1600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-2000.jpg 2000w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-2600.jpg 2600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf.jpg 3024w"
            alt=""
            class="image-cover"
          />
        </div>
        <div class="feature-card-home-c">
          <div class="label"></div>
          <div class="feature-card-bottom-tile">
            <h2 class="no-margins">Technical Documents</h2>
            <div class="text-body">
              A range of technical resources and documentation aimed at
              demystifying ALTs.
            </div>
            <div class="home-b-button-wrap">
              <a
                href="../resources/technical-documents"
                class="cta-main accent w-inline-block"
              >
                <div class="button-animation-hide">
                  <div class="button-animation-wrap">
                    <div class="button-content-tile">
                      <div>See Technical Documents</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="button-content-tile">
                      <div>See Technical Documents</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="feature-card-image">
          <img
            src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow.avif"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
            srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow-p-500.jpg 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow-p-800.jpg 800w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow.avif 3888w"
            alt=""
            class="image-cover"
          />
        </div>
        <div
          id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73026-e2064dab"
          class="feature-card-image"
        >
          <img
            src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734f06f9f734cc9c75f9cd7_Article%20Thumbnail%204.avif"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
            srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734f06f9f734cc9c75f9cd7_Article%20Thumbnail%204-p-500.avif 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734f06f9f734cc9c75f9cd7_Article%20Thumbnail%204.avif 1263w"
            alt=""
            class="image-cover"
          />
        </div>
        <div
          id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73028-e2064dab"
          class="feature-card-home-c accent"
        >
          <div class="label"></div>
          <div class="feature-card-bottom-tile">
            <h2 class="no-margins">Useful Links</h2>
            <div class="text-body">
              Custom layouts tailored to green initiatives.
            </div>
            <div class="home-b-button-wrap">
              <a
                href="../resources/standards"
                class="cta-main accent w-inline-block"
              >
                <div class="button-animation-hide">
                  <div class="button-animation-wrap">
                    <div class="button-content-tile">
                      <div>See Links</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="button-content-tile">
                      <div>See Links</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div
            data-w-id="335d5572-f17e-b978-95fe-23ad4ef73030"
            class="circle-feature-card"
          >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="glossary" class="section hero-faq">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid faq-halves">
        <div class="faq-left">
          <div class="label">ALT Terminology Explained</div>
          <div class="faq-heading">
            <h1>Glossary</h1>
          </div>
        </div>
        <div
          id="w-node-_5d2379a6-d067-2bd0-b2a0-dab4130fbf03-e2064dd1"
          class="faq-right"
        >
          <div class="faq-tile">
            <div class="text-h4">A</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">ADA Standard 219</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Refers to the American Disabilities Act (ADA) General
                    Guidelines (2010) Section 219 which require assistive
                    listening systems in spaces where communication is integral
                    to the space and audio amplification is provided and in
                    courtrooms.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Assistive Listening Technology</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    A device or system that enables people with hearing loss to
                    access sound being transmitted through a sound system or
                    public address system.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Audio over WiFi</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Enables wireless transmission of audio via a WiFi network,
                    allowing the user’s own device (smartphone or tablet) to act
                    as the receiver.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">B</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Bluetooth / Bluetooth Classic</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    The Bluetooth Classic radio, also referred to as Bluetooth
                    Basic Rate/ Enhanced Data Rate (BR/EDR), is a low power
                    radio that can continuously stream data over 79 channels in
                    the 2.4GHz unlicensed industrial, scientific, and medical
                    (ISM) frequency band.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Bluetooth LE (BLE):</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    The Bluetooth Low Energy (LE) radio is designed for very low
                    power operation. Transmitting data over 40 channels in the
                    2.4GHz unlicensed ISM frequency band like Classic Bluetooth.
                    However, BLE remains in sleep mode constantly except for
                    when a connection is initiated. Power consumption is lower
                    and data rates are higher than Classic Bluetooth but
                    connection is not continuous
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">BS 8300</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Design of buildings and their approaches to meet the needs
                    of disabled people. Code of practice. BS 8300 looks at the
                    design of buildings and their ability to meet the
                    requirements of disabled people. By offering best-practice
                    recommendations, this standard explains how architectural
                    design and the built environment can help disabled people to
                    make the most of their surroundings.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">D</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Decibels (dB)</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    A decibel (dB) is a unit measurement of amplitude, or the
                    intensity, pressure or forcefulness of a sound. 0dB is near
                    silence, 10dB is 10x louder than near silence, but as the dB
                    scale is logarithmic 20dB is 100x louder than near silence.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">E</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Electromagnetic interference (EMI)</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    EMI is the interference caused by one electrical or
                    electronic device to another by the electromagnetic fields
                    generated by its operation.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">BS EN 17210</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Accessibility and usability of the built environment.
                    Functional requirement. This document describes basic,
                    minimum functional requirements and recommendations for an
                    accessible and usable built environment which will
                    facilitate equitable and safe use for a wide range of users,
                    including persons with disabilities.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">F</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">FM (frequency modulation) radio</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Radio waves are electromagnetic waves of frequency between
                    30 hertz (Hz) and 300 gigahertz (GHz). Frequency modulation
                    or FM is a form of modulation of a radio signal which
                    conveys information by varying the frequency of a carrier
                    wave.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="faq-tile">
            <div class="text-h4">H</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Hearing Loop</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Hearing loops, audio induction loops, or audio frequency
                    induction loops (AFILs) are an assistive listening
                    technology that uses a loop or loops of cable or copper tape
                    around a room or area. An amplified sound signal from a
                    sound system or microphone is input into a hearing loop
                    driver or amplifier which in turn drives a current around
                    the loop creating an electromagnetic field. That field can
                    then be picked up by a Telecoil / T-coil in a hearing aid,
                    cochlear implant or loop receiver which transmits the
                    received signal into the devices amplifier and speaker and
                    into the ear.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Hearing Loss</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Hearing loss is a common problem caused by noise, aging,
                    disease, trauma and heredity. The four different levels of
                    hearing loss are defined as: Mild (25-45dB loss), Moderate
                    (40-75dB loss), Severe (75-90dB loss) and Profound (>90dB
                    loss.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="faq-tile">
            <div class="text-h4">I</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">IEC60118-4</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    System performance requirements. Electroacoustics – Hearing
                    aids – Part 4: Induction-loop systems for hearing aid
                    purposes. The performance criteria for hearing loops are set
                    out in standard IEC- 60118-4 and include:<br /><br /> • low magnetic
                    background noise - for intelligibility and comfort <br /><br
                    />• correct field strength - setting a suitable signal level <br
                    /><br />• even field strength - for consistency of signal <br
                    /><br /> • flat frequency response - essential to maintain intelligibility
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">IEC 62489-1</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Electroacoustics - Audio-frequency induction loop systems
                    for assisted hearing - Part 1: Methods of measuring and
                    specifying the performance of system components This
                    standard applies to the components of audio-frequency
                    induction￾loop systems for assisted hearing. This standard
                    is intended to encourage accurate and uniform presentation
                    of manufacturers’ specifications, which can be verified by
                    standardized methods of measurement.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Infrared</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Infrared (IR), sometimes called infrared light, is
                    electromagnetic radiation (EMR) with wavelengths longer than
                    those of visible light. It is therefore invisible to the
                    human eye. An infrared sound system consists of infrared
                    transmitters, radiators and receivers. The radiator produces
                    infrared light from an input source supplied via the
                    transmitter and captured via a microphone or PA source.
                    Wireless, IR receivers convert the light signal into an
                    audio signal that can be listened to using headphones or
                    connected to a hearing aid via neck-loop.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">L</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Latency</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Latency is a short period of delay (usually measured in
                    milliseconds) between when an audio signal enters a system
                    and when it emerges. Potential contributors to latency in an
                    audio system include analog￾to-digital conversion,
                    buffering, digital signal processing, transmission time,
                    digital-to-analog conversion and the speed of sound in the
                    transmission medium. Latency can be a critical for assistive
                    listening solutions and sound reinforcement systems.
                    Excessive audio latency can significantly a users
                    experience.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Loop receiver</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    A loop receiver is a device fitted with a Telecoil / T-coil
                    allowing it to pick up signals from a hearing loop. This
                    enables those without hearing aids or cochlear implants to
                    hear the audio output of a loop system.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">O</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">OEM</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    An original equipment manufacturer (OEM) is generally
                    perceived as a company that produces parts and equipment
                    that may be marketed by another manufacturer.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">S</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Signage</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Signs indicating the availability of a hearing loop or other
                    assistive listening technology are an essential part of an
                    assistive listening system. It allows users to identify
                    where a service is available and, in the case of hearing
                    loops, hearing aids and cochlear implants, discreetly switch
                    their device over to the T or MT setting giving them access
                    to the audio output of the loop. For WiFi systems signs can
                    point to an app using a QR code or web link. For other
                    technologies such as Infrared or FM/Radio correct signage
                    indicates a service is available and where to obtain a
                    receiver.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Signal to noise ratio</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    SNR or signal-to-noise ratio is the ratio between the
                    desired information or the power of a signal and the
                    undesired signal or the power of the background noise.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">T</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Telecoils, T-coils</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    A telecoil is a small coil of wire wrapped around a small
                    rod inside most behind the ear, receiver in the ear and open
                    fit hearing aids. The coil works as a small receiver which
                    picks up signals from a hearing loop system or neck loop
                    that acts as an electromagnetic field. Hearing aids with an
                    activated telecoil can convert this electromagnetic field
                    into a sound signal.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">W</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">WiFi</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    WiFi: WiFi is a family of wireless network protocols, based
                    on the IEEE 802.11 family of standards, which are commonly
                    used for local area network￾ing of devices and Internet
                    access, allowing nearby digital devices to exchange data by
                    radio waves.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <MainNews limit={3} />
</Layout>
