---
import MainNews from "../../components/MainNews.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="section hero-careers">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-careers">
        <div class="careers-top-tile">
          <div class="spacer-sm"></div>
          <div class="heading-careers">
            <div class="headline-blog">
              <div class="label">News</div>
              <h1 class="text-h1">Latest News<br /> and Articles</h1>
            </div>
          </div>
        </div>

        <div class="home-b-button-wrap">
          <a
            href="/assistive-listening-technologies"
            class="cta-main accent w-inline-block"
          >
            <div class="button-animation-hide">
              <div class="button-animation-wrap">
                <div class="button-content-tile">
                  <div>See Assistive Listening Technologies</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile">
                  <div>See Assistive Listening Technologies</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="section-divider home-c-numbers"></div>
      </div>
    </div>
  </section>
  <MainNews showHeader limit={9} showPagination />
</Layout>
