<section class="section home-a-story-section">
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="headline-story">
      <div class="section-divider"></div>
      <div class="heading-story">
        <h2 class="no-margins">
          Only 22% of hearing aid recipients are actually told about hearing aid
          accessories.
        </h2>
      </div>
      <div class="w-layout-grid story-halves">
        <div class="story-image-wrap">
          <video
            src="/video/mother.mp4"
            autoplay
            muted
            loop
            playsinline
            class="image-cover"
            style="width: 100%; height: auto;"></video>
        </div>
        <div class="story-right">
          <div class="">
            <div class="heading-story">
              <h5>
                There are a number of factors affecting a user’s compliance with
                their hearing device, including first impressions, utility, and
                perceived benefit. If a user’s initial experience with assistive
                listening technology is poor, they are unlikely to use the
                feature again—greatly reducing the long-term value of assistive
                listening Technologies.
              </h5>
              <div class="spacer-sm"></div>
              <div class="section-divider home-c-numbers"></div>
            </div>
          </div>
          <div class="story-text">
            <p class="text-big">
              Therefore, we are seeking a renewed commitment from the hearing
              instrument manufacturing and dispensing community to raise
              awareness and improve equality of access to audio for everyone
              with hearing loss. We provide support and guidance to anyone
              interested in Assistive Listening Systems. Our goal is to help
              ensure accessible, compliant, and effective solutions for all
              environments.
            </p>
          </div><a href="/contact" class="cta-main accent w-inline-block">
            <div class="button-animation-hide">
              <div class="button-animation-wrap">
                <div class="button-content-tile">
                  <div>Get in touch with IAHA</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile">
                  <div>Get in touch with IAHA</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
