<div class="w-layout-grid feature-grid-side2" style="margin-top: 3rem;">
  <div class="code-card">
    <div class="feature-bottom-tile">
      <div class="feature-subtitle">
        <div class="text-h5 teal-text">
          Provide a genuine benefit to end-users
        </div>
      </div>
      <p class="text-body">
        Provide a genuine benefit to end-users by delivering clear, practical
        improvements to their experience,whether through accessibility, ease of
        use, or meaningful functionality.
      </p>
    </div>
  </div>

  <div class="code-card">
    <div class="feature-bottom-tile">
      <div class="feature-subtitle">
        <div class="text-h5 teal-text">
          Be compliant with relevant performance standards
        </div>
      </div>
      <p class="text-body">
        Ensure compliance with relevant performance standards to meet industry
        expectations and support reliability, safety, and user confidence.
      </p>
    </div>
  </div>
  <div class="code-card">
    <div class="feature-bottom-tile">
      <div class="feature-subtitle">
        <div class="text-h5 teal-text">
          Be compliant with relevant accessibility legislation
        </div>
      </div>
      <p class="text-body">
        Ensure compliance with relevant accessibility legislation to meet legal
        obligations and support inclusive access for all users.
      </p>
    </div>
  </div>
  <div class="code-card">
    <div class="feature-bottom-tile">
      <div class="feature-subtitle">
        <div class="text-h5 teal-text">Have clear and visible signage</div>
      </div>
      <p class="text-body">
        Provide clear and visible signage to indicate the presence and use of
        assistive listening technology, ensuring users are aware of available
        support.
      </p>
    </div>
  </div>
  <div class="code-card">
    <div class="feature-bottom-tile">
      <div class="feature-subtitle">
        <div class="text-h5 teal-text">
          Be installed and commissioned by suitably competent personnel
        </div>
      </div>
      <p class="text-body">
        Be installed and commissioned by suitably competent personnel to ensure
        proper functionality, safety, and compliance with relevant standards.
      </p>
    </div>
  </div>
  <div class="code-card">
    <div class="feature-bottom-tile">
      <div class="feature-subtitle">
        <div class="text-h5 teal-text">
          Be properly managed and maintained by suitably competent personnel
        </div>
      </div>
      <p class="text-body">
        Be properly managed and maintained by suitably competent personnel to
        ensure ongoing performance, reliability, and compliance.
      </p>
    </div>
  </div>
</div>
