<section class="footer">
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="w-layout-grid footer-halves">
      <div class="footer-left">
        <a href="../index.html" class="brand-link w-inline-block"
          ><img
            loading="lazy"
            src="/img/logo-footer.svg"
            alt=""
            class="brand-navbar"
            style="width: 200px; height: auto; transform: scale(1.5);"
          /></a
        >
        <div class="newsletter-form-block w-form">
          <div id="email-form" class="newsletter-form">
            <div class="newsletter-form-top">
              <div class="label">Subscribe to our newsletter</div>
              <form
                class="newsletter-field-master"
                action="https://ihlma.us4.list-manage.com/subscribe/post?u=a8cfeb9788ab28ef56499580d&id=151fd16fcc&f_id=00f46ceaf0"
                method="post"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="validate"
                target="_self"
                novalidate=""
              >
                <input
                  class="text-field w-input"
                  type="email"
                  name="EMAIL"
                  class="required email"
                  id="mce-EMAIL"
                  required=""
                  value=""
                />
                <div
                  style="position: absolute; left: -5000px;"
                  aria-hidden="true"
                >
                  /* real people should not fill this in and expect good things
                  - do not remove this or risk form bot signups */
                  <input
                    type="text"
                    name="b_a8cfeb9788ab28ef56499580d_151fd16fcc"
                    tabindex="-1"
                    value=""
                  />
                </div>
                <div class="submit-button-wrap">
                  <input
                    type="submit"
                    name="subscribe"
                    id="mc-embedded-subscribe"
                    value="Subscribe"
                    data-wait="Please wait..."
                    class="submit-button w-button"
                  />
                  <div class="cta-arrow w-embed">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5 12L18 12"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="square"
                        stroke-linejoin="round"></path>
                      <path
                        d="M13 6L19 12"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="square"
                        stroke-linejoin="round"></path>
                      <path
                        d="M13 18L19 12"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="square"
                        stroke-linejoin="round"></path>
                    </svg>
                  </div>
                </div>
                <div id="mce-responses" class="clear foot">
                  <div
                    class="response"
                    id="mce-error-response"
                    style="display: none;"
                  >
                  </div>
                  <div
                    class="response"
                    id="mce-success-response"
                    style="display: none;"
                  >
                  </div>
                </div>
              </form>
            </div>
            <div class="text-small opacity-50">
              Your information is never disclosed to third parties and we don't
              spam.
            </div>
          </div>
          <div class="success-message-newsletter w-form-done">
            <div>Thanks! You're now subscribed to our Newsletter.</div>
          </div>
          <div class="error-message-2 w-form-fail">
            <div>Oops ! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div
        id="w-node-_0cd23656-5bb2-adc0-9378-f277e86f1ff3-c5ff4adf"
        class="footer-right"
      >
        <div class="footer-column">
          <div class="label opacity-50">IAHA</div>
          <div class="footer-links-column">
            <a href="/about" aria-current="page" class="footer-link w--current"
              >About IAHA</a
            ><a href="/about#aims" class="footer-link">Our Aims</a>
            <a href="/members" class="footer-link">Membership</a>
            <a href="/members" class="footer-link">Code of Practice</a>
          </div>
        </div>
        <div class="footer-column">
          <div class="label opacity-50">Technologies</div>
          <div class="footer-links-column">
            <a href="/news" class="footer-link">News</a>
            <a href="/assistive-listening-technologies" class="footer-link"
              >Assistive Listening Technologies</a
            ><a href="/resources" class="footer-link">Resources</a><a
              href="/standards"
              class="footer-link">Standards</a
            ><a href="/resources#glossary" class="footer-link">Glossary</a>
          </div>
        </div>
        <div class="footer-column">
          <div class="label opacity-50">Get in Touch</div>
          <div class="footer-links-column">
            <a href="/contact" class="footer-link">Contact Us</a><a
              href="./privacy-policy"
              class="footer-link">Privacy Policy</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-tile">
      <div class="footer-bottom-wrap">
        <div class="footer-last-block">
          <div class="footer-rights-wrap">
            <div class="footer-social-wrap">
              <a
                href="http://facebook.com"
                target="_blank"
                class="social-link w-inline-block"
              >
                <div class="icon-social w-embed">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_2001_2292)">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M11.9617 0.36377C14.1251 0.388457 16.0796 0.920165 17.825 1.95889C19.5497 2.97688 20.9843 4.42031 21.9918 6.15114C23.0242 7.90712 23.5527 9.87341 23.5773 12.05C23.516 15.0281 22.5767 17.5718 20.7594 19.6808C18.942 21.7899 16.6144 23.0948 14.2049 23.595V15.2452H16.4829L16.9981 11.964H13.5487V9.81485C13.5295 9.36932 13.6704 8.93164 13.9459 8.58095C14.2218 8.2293 14.7075 8.04448 15.4032 8.02648H17.4862V5.15218C17.4563 5.14256 17.1727 5.10454 16.6354 5.0381C16.0261 4.96681 15.4133 4.92873 14.7998 4.92403C13.4113 4.93043 12.3131 5.32211 11.5054 6.09906C10.6976 6.87579 10.285 7.99956 10.2675 9.47035V11.964H7.64246V15.2452H10.2675V23.595C7.30895 23.0948 4.98137 21.7899 3.16402 19.6808C1.34668 17.5718 0.407399 15.0281 0.346077 12.05C0.370611 9.87331 0.899105 7.90702 1.93156 6.15114C2.93903 4.42031 4.3737 2.97689 6.09836 1.95889C7.84378 0.920365 9.79822 0.388657 11.9617 0.36377Z"
                        fill="currentColor"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_2001_2292">
                        <rect width="24" height="24" fill="currentColor"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </a><a
                href="home-a.html#"
                target="_blank"
                class="social-link w-inline-block"
              >
                <div class="icon-social w-embed">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_2001_2294)">
                      <g clip-path="url(#clip1_2001_2294)">
                        <path
                          d="M10.5053 14.248L14.4088 11.9999L10.5053 9.75171V14.248Z"
                          fill="currentColor"></path>
                        <path
                          d="M12 0C5.3736 0 0 5.3736 0 12C0 18.6264 5.3736 24 12 24C18.6264 24 24 18.6264 24 12C24 5.3736 18.6264 0 12 0ZM19.4982 12.0123C19.4982 12.0123 19.4982 14.4459 19.1895 15.6194C19.0164 16.2618 18.5099 16.7682 17.8676 16.9411C16.6941 17.25 12 17.25 12 17.25C12 17.25 7.31818 17.25 6.13239 16.9288C5.49005 16.756 4.98358 16.2493 4.81055 15.607C4.50165 14.4459 4.50165 12 4.50165 12C4.50165 12 4.50165 9.56653 4.81055 8.39301C4.9834 7.75067 5.50232 7.23175 6.13239 7.0589C7.30591 6.75 12 6.75 12 6.75C12 6.75 16.6941 6.75 17.8676 7.07117C18.5099 7.24402 19.0164 7.75067 19.1895 8.39301C19.5106 9.56653 19.4982 12.0123 19.4982 12.0123Z"
                          fill="currentColor"></path>
                      </g>
                    </g>
                    <defs>
                      <clipPath id="clip0_2001_2294">
                        <rect width="24" height="24" fill="currentColor"></rect>
                      </clipPath>
                      <clipPath id="clip1_2001_2294">
                        <rect width="24" height="24" fill="currentColor"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </a><a
                href="http://linkedin.com"
                target="_blank"
                class="social-link w-inline-block"
              >
                <div class="icon-social w-embed">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_2001_2298)">
                      <g clip-path="url(#clip1_2001_2298)">
                        <path
                          d="M12 0C5.3736 0 0 5.3736 0 12C0 18.6264 5.3736 24 12 24C18.6264 24 24 18.6264 24 12C24 5.3736 18.6264 0 12 0ZM8.51294 18.1406H5.59039V9.34808H8.51294V18.1406ZM7.05176 8.14746H7.03271C6.052 8.14746 5.41772 7.47235 5.41772 6.6286C5.41772 5.76581 6.07141 5.10938 7.07117 5.10938C8.07092 5.10938 8.68616 5.76581 8.7052 6.6286C8.7052 7.47235 8.07092 8.14746 7.05176 8.14746ZM19.051 18.1406H16.1288V13.4368C16.1288 12.2547 15.7057 11.4485 14.6483 11.4485C13.8409 11.4485 13.3601 11.9923 13.1488 12.5173C13.0715 12.7051 13.0527 12.9677 13.0527 13.2305V18.1406H10.1303C10.1303 18.1406 10.1686 10.173 10.1303 9.34808H13.0527V10.593C13.441 9.9939 14.1359 9.14172 15.6865 9.14172C17.6093 9.14172 19.051 10.3984 19.051 13.099V18.1406Z"
                          fill="currentColor"></path>
                      </g>
                    </g>
                    <defs>
                      <clipPath id="clip0_2001_2298">
                        <rect width="24" height="24" fill="currentColor"></rect>
                      </clipPath>
                      <clipPath id="clip1_2001_2298">
                        <rect width="24" height="24" fill="currentColor"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </a>
            </div>

            <div class="text-small">
              © IAHA {new Date().getFullYear()}. All Rights Reserved
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
