<section class="footer">
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="w-layout-grid footer-halves">
      <div class="footer-left">
        <a href="../index.html" class="brand-link w-inline-block"
          ><img
            loading="lazy"
            src="/img/logo-footer.svg"
            alt=""
            class="brand-navbar"
            style="width: 200px; height: auto; transform: scale(1.5);"
          /></a
        >
        <div class="newsletter-form-block w-form">
          <div id="email-form" class="newsletter-form">
            <div class="newsletter-form-top">
              <div class="label">Subscribe to our newsletter</div>
              <form
                class="newsletter-field-master"
                action="https://ihlma.us4.list-manage.com/subscribe/post?u=a8cfeb9788ab28ef56499580d&id=151fd16fcc&f_id=00f46ceaf0"
                method="post"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="validate"
                target="_self"
                novalidate=""
              >
                <input
                  class="text-field w-input"
                  type="email"
                  name="EMAIL"
                  class="required email"
                  id="mce-EMAIL"
                  required=""
                  value=""
                />
                <div
                  style="position: absolute; left: -5000px;"
                  aria-hidden="true"
                >
                  /* real people should not fill this in and expect good things
                  - do not remove this or risk form bot signups */
                  <input
                    type="text"
                    name="b_a8cfeb9788ab28ef56499580d_151fd16fcc"
                    tabindex="-1"
                    value=""
                  />
                </div>
                <div class="submit-button-wrap">
                  <input
                    type="submit"
                    name="subscribe"
                    id="mc-embedded-subscribe"
                    value="Subscribe"
                    data-wait="Please wait..."
                    class="submit-button w-button"
                  />
                  <div class="cta-arrow w-embed">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5 12L18 12"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="square"
                        stroke-linejoin="round"></path>
                      <path
                        d="M13 6L19 12"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="square"
                        stroke-linejoin="round"></path>
                      <path
                        d="M13 18L19 12"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="square"
                        stroke-linejoin="round"></path>
                    </svg>
                  </div>
                </div>
                <div id="mce-responses" class="clear foot">
                  <div
                    class="response"
                    id="mce-error-response"
                    style="display: none;"
                  >
                  </div>
                  <div
                    class="response"
                    id="mce-success-response"
                    style="display: none;"
                  >
                  </div>
                </div>
              </form>
            </div>
            <div class="text-small opacity-50">
              Your information is never disclosed to third parties and we don't
              spam.
            </div>
          </div>
          <div class="success-message-newsletter w-form-done">
            <div>Thanks! You're now subscribed to our Newsletter.</div>
          </div>
          <div class="error-message-2 w-form-fail">
            <div>Oops ! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div
        id="w-node-_0cd23656-5bb2-adc0-9378-f277e86f1ff3-c5ff4adf"
        class="footer-right"
      >
        <div class="footer-column">
          <div class="label opacity-50">IAHA</div>
          <div class="footer-links-column">
            <a href="/about" aria-current="page" class="footer-link w--current"
              >About IAHA</a
            ><a href="/about#aims" class="footer-link">Our Aims</a>
            <a href="/members" class="footer-link">Membership</a>
            <a href="/members/code-of-practice" class="footer-link"
              >Code of Practice</a
            >
          </div>
        </div>
        <div class="footer-column">
          <div class="label opacity-50">Technologies</div>
          <div class="footer-links-column">
            <a href="/news" class="footer-link">News</a>
            <a href="/assistive-listening-technologies" class="footer-link"
              >Assistive Listening Technologies</a
            ><a href="/resources" class="footer-link">Resources</a><a
              href="/resources/standards"
              class="footer-link">Standards</a
            ><a href="/resources#glossary" class="footer-link">Glossary</a>
          </div>
        </div>
        <div class="footer-column">
          <div class="label opacity-50">Get in Touch</div>
          <div class="footer-links-column">
            <a href="/contact" class="footer-link">Contact Us</a><a
              href="./privacy-policy"
              class="footer-link">Privacy Policy</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-tile">
      <div class="footer-bottom-wrap">
        <div class="footer-last-block">
          <div class="footer-rights-wrap">
            <div class="footer-social-wrap"></div>

            <div class="text-small">
              © IAHA {new Date().getFullYear()}. All Rights Reserved
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
