<section class="section hero-careers">
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="headline-careers">
      <div class="careers-top-tile">
        <div class="spacer-sm"></div>
      </div>

      <div class="section-divider home-c-numbers"></div>
    </div>
  </div>
</section>
