<section class="section hero-pricing" id="become-a-member">
  <div class="w-layout-blockcontainer main-container w-container">
    <div
      data-current="Tab 1"
      data-easing="ease"
      data-duration-in="300"
      data-duration-out="100"
      class="pricing-tabs w-tabs"
    >
      <div class="tabs-content-pricing w-tab-content">
        <div
          data-w-tab="Tab 1"
          class="tab-pane-pricing w-tab-pane w--tab-active"
        >
          <div class="w-layout-grid product-thirds">
            <div class="products w-dyn-list">
              <div role="list" class="product-list w-dyn-items">
                <div role="listitem" class="product-item w-dyn-item">
                  <div class="heading-story">
                    <h1 class="no-margins">
                      Become an <br />IAHA Member
                    </h1>
                    <div class="spacer-sm"></div>
                    <div class="section-divider home-c-numbers"></div>

                    <h5>
                      IAHA membership is open to those who have a role or
                      interest in the assistive listening technology (ALT)
                      sector. Members should have a common aim of ultimately
                      improving accessibility and inclusion for people with
                      hearing loss.
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="products w-dyn-list">
              <div role="list" class="product-list w-dyn-items">
                <div role="listitem" class="product-item w-dyn-item">
                  <div class="pricing-card middle">
                    <div class="plan-header">
                      <div class="plan-name-wrap">
                        <div class="plan-title">
                          <div class="text-h3">Associate Membership</div>
                        </div>
                        <div class="text-small">
                          All applications shall be approved by the IAHA
                          committee and an annual fee of £300 is payable on
                          confirmation of acceptance.
                        </div>
                      </div>
                      <div class="section-divider plan-divider"></div>
                    </div>

                    <div class="check-list">
                      <div class="check-wrap">
                        <div class="check-icon-wrap">
                          <div class="tick w-embed">
                            <svg
                              width="14"
                              viewBox="0 0 18 13"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M17 1L6 12L1 7"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="text-body">Enhanced Reputation</div>
                      </div>
                      <div class="check-wrap">
                        <div class="check-icon-wrap">
                          <div class="tick w-embed">
                            <svg
                              width="14"
                              viewBox="0 0 18 13"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M17 1L6 12L1 7"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="text-body">Guidance & Advice</div>
                      </div>
                      <div class="check-wrap">
                        <div class="check-icon-wrap">
                          <div class="tick w-embed">
                            <svg
                              width="14"
                              viewBox="0 0 18 13"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M17 1L6 12L1 7"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="text-body">
                          full access to all resources from IAHA
                        </div>
                      </div>
                      <div class="check-wrap">
                        <div class="check-icon-wrap">
                          <div class="tick w-embed">
                            <svg
                              width="14"
                              viewBox="0 0 18 13"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M17 1L6 12L1 7"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="text-body">
                          Promotion of your Organization
                        </div>
                      </div>
                      <div class="check-wrap">
                        <div class="check-icon-wrap">
                          <div class="tick w-embed">
                            <svg
                              width="14"
                              viewBox="0 0 18 13"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M17 1L6 12L1 7"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="text-body">
                          A Seat at All General Meetings
                        </div>
                      </div>
                      <div class="check-wrap w-condition-invisible">
                        <div class="check-icon-wrap">
                          <div class="tick w-embed">
                            <svg
                              width="14"
                              viewBox="0 0 18 13"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M17 1L6 12L1 7"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>

                        <div class="text-body w-dyn-bind-empty"></div>
                      </div>
                      <div class="check-wrap w-condition-invisible">
                        <div class="check-icon-wrap">
                          <div class="tick w-embed">
                            <svg
                              width="14"
                              viewBox="0 0 18 13"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M17 1L6 12L1 7"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="text-body w-dyn-bind-empty"></div>
                      </div>
                    </div>
                    <div class="plan-bottom-tile">
                      <div class="plan-button-wrap">
                        <div class="price-wrap"></div><a
                          href="/members/become-an-associate-member.html"
                          class="cta-main w-inline-block"
                        >
                          <div class="button-animation-hide">
                            <div class="button-animation-wrap">
                              <div class="button-content-tile">
                                <div>Become an Associate Member</div>
                                <div class="button-arrow w-embed">
                                  <svg
                                    width="7"
                                    height="10"
                                    viewBox="0 0 7 10"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M1 9L5 5L1 1"
                                      stroke="currentColor"
                                      stroke-width="2"></path>
                                  </svg>
                                </div>
                              </div>
                              <div class="button-content-tile bottom-tile">
                                <div>Become an Associate Member</div>
                                <div class="button-arrow w-embed">
                                  <svg
                                    width="7"
                                    height="10"
                                    viewBox="0 0 7 10"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M1 9L5 5L1 1"
                                      stroke="currentColor"
                                      stroke-width="2"></path>
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="section-divider plan-divider-2"></div>
                      <div class="label text-semi-dark">Who it’s for:</div>
                      <p class="text-small">
                        small to medium size industry integrators, individuals,
                        action groups and organisations, audiologists and
                        service providers.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="products w-dyn-list">
              <div role="list" class="product-list w-dyn-items">
                <div role="listitem" class="product-item w-dyn-item">
                  <div class="pricing-card last">
                    <div class="plan-header">
                      <div class="plan-name-wrap">
                        <div class="plan-title">
                          <div class="text-h3">Full Membership</div>
                        </div>
                        <div class="text-small">
                          All applications shall be approved by the IAHA
                          committee and an annual fee of £600 is payable on
                          confirmation of acceptance.
                        </div>
                      </div>
                      <div
                        class="section-divider plan-divider-2 semi-light-divider-plan"
                      >
                      </div>
                    </div>

                    <div class="check-list">
                      <div class="check-wrap">
                        <div class="check-icon-wrap">
                          <div class="tick w-embed">
                            <svg
                              width="14"
                              viewBox="0 0 18 13"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M17 1L6 12L1 7"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="text-body">Enhanced Reputation</div>
                      </div>
                      <div class="check-wrap">
                        <div class="check-icon-wrap">
                          <div class="tick w-embed">
                            <svg
                              width="14"
                              viewBox="0 0 18 13"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M17 1L6 12L1 7"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="text-body">Guidance & Advice</div>
                      </div>
                      <div class="check-wrap">
                        <div class="check-icon-wrap">
                          <div class="tick w-embed">
                            <svg
                              width="14"
                              viewBox="0 0 18 13"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M17 1L6 12L1 7"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="text-body">
                          full access to all content and resources from IAHA
                        </div>
                      </div>
                      <div class="check-wrap">
                        <div class="check-icon-wrap">
                          <div class="tick w-embed">
                            <svg
                              width="14"
                              viewBox="0 0 18 13"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M17 1L6 12L1 7"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="text-body">
                          Promotion of your Organization
                        </div>
                      </div>
                      <div class="check-wrap">
                        <div class="check-icon-wrap">
                          <div class="tick w-embed">
                            <svg
                              width="14"
                              viewBox="0 0 18 13"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M17 1L6 12L1 7"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="text-body">
                          A Seat at All General Meetings
                        </div>
                      </div>
                      <div class="check-wrap w-condition-invisible">
                        <div class="check-icon-wrap">
                          <div class="tick w-embed">
                            <svg
                              width="14"
                              viewBox="0 0 18 13"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M17 1L6 12L1 7"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="text-body w-dyn-bind-empty"></div>
                      </div>
                      <div class="check-wrap w-condition-invisible">
                        <div class="check-icon-wrap">
                          <div class="tick w-embed">
                            <svg
                              width="14"
                              viewBox="0 0 18 13"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M17 1L6 12L1 7"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="text-body w-dyn-bind-empty"></div>
                      </div>
                    </div>
                    <div class="plan-bottom-tile">
                      <div class="plan-button-wrap">
                        <div class="price-wrap"></div><a
                          href="/members/become-a-full-member"
                          class="cta-main accent w-inline-block"
                        >
                          <div class="button-animation-hide">
                            <div class="button-animation-wrap">
                              <div class="button-content-tile">
                                <div>Become a Full Member</div>
                                <div class="button-arrow w-embed">
                                  <svg
                                    width="7"
                                    height="10"
                                    viewBox="0 0 7 10"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M1 9L5 5L1 1"
                                      stroke="currentColor"
                                      stroke-width="2"></path>
                                  </svg>
                                </div>
                              </div>
                              <div class="button-content-tile bottom-tile">
                                <div>Become a Full Member</div>
                                <div class="button-arrow w-embed">
                                  <svg
                                    width="7"
                                    height="10"
                                    viewBox="0 0 7 10"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M1 9L5 5L1 1"
                                      stroke="currentColor"
                                      stroke-width="2"></path>
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div
                        class="section-divider plan-divider-2 semi-light-divider-plan"
                      >
                      </div>
                      <div class="label text-semi-light">Who it’s for:</div>
                      <p class="text-small">
                        Corporate manufacturers and industry integrators and
                        those with a core interest and influence in the sector.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
