---
const { mode } = Astro.props;
---

{
  mode === "dark" ? (
    <section id="dark" class="section cta-section">
      <div class="cta-video">
        <div class="w-layout-blockcontainer main-container w-container">
          <div class="w-layout-blockcontainer main-container w-container">
            <div class="w-layout-grid story-halves">
              <div class="story-image-wrap">
                <img
                  src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill.jpg"
                  loading="lazy"
                  sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
                  srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-500.jpg 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-800.jpg 800w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-1600.jpg 1600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-2000.jpg 2000w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-2600.jpg 2600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-3200.jpg 3200w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill.jpg 4891w"
                  alt=""
                  class="image-cover"
                />
              </div>
              <div class="story-right">
                <div class="cta-top-tile">
                  <div class="heading-cta">
                    <div class="text-h1">
                      Become an
                      <br /> IAHA Member
                    </div>
                  </div>
                </div>

                <div class="story-text">
                  <h4>
                    A paragraph on the benefits of IAHA membership and CTA to
                    members page goes here.
                  </h4>
                </div>
                <div class="cta-button-wrap">
                  <a
                    href="https://webflow.com/templates/designers/byq-studio"
                    target="_blank"
                    class="cta-main accent w-inline-block"
                  >
                    <div class="button-animation-hide">
                      <div class="button-animation-wrap">
                        <div class="button-content-tile">
                          <div>Join IAHA</div>
                          <div class="button-arrow w-embed">
                            <svg
                              width="7"
                              height="10"
                              viewBox="0 0 7 10"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M1 9L5 5L1 1"
                                stroke="currentColor"
                                stroke-width="2"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="button-content-tile bottom-tile">
                          <div>Join IAHA</div>
                          <div class="button-arrow w-embed">
                            <svg
                              width="7"
                              height="10"
                              viewBox="0 0 7 10"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M1 9L5 5L1 1"
                                stroke="currentColor"
                                stroke-width="2"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a
                    href="contact/contact-a.html"
                    class="cta-booking w-inline-block"
                  >
                    <div class="cta-image-wrap">
                      <img
                        src="/img/logo-header.svg"
                        loading="lazy"
                        alt=""
                        class="image-cover"
                      />
                    </div>
                    <div class="text-body semibold">Find Out More</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  ) : (
    <div class="spacer-lg"></div>
    <section id="light" class="section home-a-story-section">
      <div class="w-layout-blockcontainer main-container w-container">
        <div class="w-layout-grid story-halves">
          <div class="story-image-wrap">
            <img
              src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill.jpg"
              loading="lazy"
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
              srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-500.jpg 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-800.jpg 800w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-1600.jpg 1600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-2000.jpg 2000w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-2600.jpg 2600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill-p-3200.jpg 3200w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533bc5f919c00859c80_Windmill.jpg 4891w"
              alt=""
              class="image-cover"
            />
          </div>
          <div class="story-right">
            <div class="cta-top-tile">
              <div class="heading-cta">
                <div class="text-h1">
                  Become an
                  <br /> IAHA Member
                </div>
              </div>
            </div>

            <div class="story-text">
              <h4>
                A paragraph on the benefits of IAHA membership and CTA to
                members page goes here.
              </h4>
            </div>
            <div class="cta-button-wrap">
              <a
                href="https://webflow.com/templates/designers/byq-studio"
                target="_blank"
                class="cta-main accent w-inline-block"
              >
                <div class="button-animation-hide">
                  <div class="button-animation-wrap">
                    <div class="button-content-tile">
                      <div>Join IAHA</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="button-content-tile bottom-tile">
                      <div>Join IAHA</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a
                href="contact/contact-a.html"
                class="cta-booking w-inline-block"
              >
                <div class="cta-image-wrap">
                  <img
                    src="/img/logo-header.svg"
                    loading="lazy"
                    alt=""
                    class="image-cover"
                  />
                </div>
                <div class="text-body semibold">Find Out More</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
