<section class="benefits">
  <div class="spacer-lg"></div>

  <div class="w-layout-blockcontainer main-container w-container">
    <div class="headline-home-c-features">
      <div class="label">Member benefits</div>
      <div class="heading-home-c-features">
        <h2 class="no-margins">What are the benefits of IAHA membership?</h2>
      </div>
    </div>
    <div id="benefits" class="w-layout-grid feature-grid-home-c">
      <div class="feature-card-home-c">
        <div class="label"></div>
        <div class="feature-card-bottom-tile">
          <h2 class="no-margins">Enhance Your Reputation</h2>
          <div class="text-body">
            Add to the reputation of your organisation by being part of IAHA,
            the international authority on assistive listening technologies.
            Membership gives you accreditation from the industry body that could
            enhance your business, practice, or add weight to your campaigning.
          </div>
        </div>
      </div>
      <div
        id="w-node-_335d5572-f17e-b978-95fe-23ad4ef7301a-e2064dab"
        class="features-video-home-c2"
      >
        <img
          src="/img/bsi.jpg"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
          alt=""
          class="image-cover"
        />
      </div>
      <div class="feature-card-home-c">
        <div class="label"></div>
        <div class="feature-card-bottom-tile">
          <h2 class="no-margins">Access to Insightful Data</h2>
          <div class="text-body">
            Membership makes available a wealth of information and statistics to
            facilitate the promotion of assistive listening technologies and the
            benefits they provide to people with hearing loss.
          </div>
          <div class="home-b-button-wrap">
            <a
              href="https://standardsdevelopment.bsigroup.com/"
              class="cta-main accent w-inline-block"
            >
              <div class="button-animation-hide">
                <div class="button-animation-wrap">
                  <div class="button-content-tile">
                    <div>See British and European Standards</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="button-content-tile">
                    <div>See British and European Standards</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="feature-card-image" style="height: 370px">
        <img
          src="/img/iec.jpg"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
          alt="IEC Standards"
          class="image-cover"
        />
      </div>
      <div
        id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73026-e2064dab"
        class="feature-card-image"
      >
        <img
          src="/img/etsi.jpg"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
          alt=""
          class="image-cover"
        />
      </div>
      <div
        id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73028-e2064dab"
        class="feature-card-home-c"
      >
        <div class="label"></div>
        <div class="feature-card-bottom-tile">
          <h2 class="no-margins">Guidance & Advice</h2>
          <div class="text-body">
            You’ll have access to guidance and advice on technical matters,
            regulations, standards and best-practice. We’ll keep you up to date
            on the latest and emerging technologies.
          </div>
          <div class="home-b-button-wrap">
            <a
              href="https://www.iec.ch/homepage"
              class="cta-main accent w-inline-block"
            >
              <div class="button-animation-hide">
                <div class="button-animation-wrap">
                  <div class="button-content-tile">
                    <div>See IEC Standards</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="button-content-tile">
                    <div>See IEC Standards</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      id="benefits"
      class="w-layout-grid feature-grid-home-c"
      style="margin-top:1.2rem"
    >
      <div class="feature-card-home-c">
        <div class="label"></div>
        <div class="feature-card-bottom-tile">
          <h2 class="no-margins">Share Expertise</h2>
          <div class="text-body">
            IAHA will soon offer a forum for sharing information, expertise and
            the issues as you see them from your viewpoint.
          </div>
          <div class="home-b-button-wrap">
            <a
              href="https://www.etsi.org/standards#Pre-defined%20Collections"
              class="cta-main accent w-inline-block"
            >
              <div class="button-animation-hide">
                <div class="button-animation-wrap">
                  <div class="button-content-tile">
                    <div>Download all ETSI standards for free here</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="button-content-tile">
                    <div>Download all ETSI standards for free here</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div
        id="w-node-_335d5572-f17e-b978-95fe-23ad4ef7301a-e2064dab"
        class="features-video-home-c2"
      >
        <img
          src="/img/bsi.jpg"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
          alt=""
          class="image-cover"
        />
      </div>

      <div class="feature-card-image" style="height: 370px">
        <img
          src="/img/iec.jpg"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
          alt="IEC Standards"
          class="image-cover"
        />
      </div>
      <div class="feature-card-home-c">
        <div class="label"></div>
        <div class="feature-card-bottom-tile">
          <h2 class="no-margins">Promote Your Organization</h2>
          <div class="text-body">
            We’ll promote your news, innovation and achievements in our monthly
            newsletter and there’ll be opportunities to take part in, or offer,
            training.
          </div>
          <div class="home-b-button-wrap">
            <a
              href="https://standardsdevelopment.bsigroup.com/"
              class="cta-main accent w-inline-block"
            >
              <div class="button-animation-hide">
                <div class="button-animation-wrap">
                  <div class="button-content-tile">
                    <div>See British and European Standards</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="button-content-tile">
                    <div>See British and European Standards</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div
        id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73026-e2064dab"
        class="feature-card-image"
      >
        <img
          src="/img/etsi.jpg"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
          alt=""
          class="image-cover"
        />
      </div>
      <div
        id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73028-e2064dab"
        class="feature-card-home-c accent"
      >
        <div class="label"></div>
        <div class="feature-card-bottom-tile">
          <h2 class="no-margins">Collaborative Advocacy</h2>
          <div class="text-body">
            Working together as members of IAHA, we speak with a strong
            collective voice to improve accessibility and inclusion for people
            with hearing loss and enhance their quality of life.
          </div>
          <div class="home-b-button-wrap">
            <a
              href="https://www.iec.ch/homepage"
              class="cta-main accent w-inline-block"
            >
              <div class="button-animation-hide">
                <div class="button-animation-wrap">
                  <div class="button-content-tile">
                    <div>See IEC Standards</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="button-content-tile">
                    <div>See IEC Standards</div>
                    <div class="button-arrow w-embed">
                      <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 9L5 5L1 1"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
