---
const { mode } = Astro.props;
---

{
  mode === "dark" ? (
    <section id="dark" class="section cta-section">
      <div class="cta-video">
        <div class="w-layout-blockcontainer main-container w-container">
          <div class="w-layout-blockcontainer main-container w-container">
            <div class="w-layout-grid story-halves">
              <div class="story-image-wrap">
                <video
            src="/video/joinus.mp4"
            autoplay
            muted
            loop
            playsinline
            class="image-cover"
            style="width: 100%; height: auto;"></video>
        </div>
              </div>
              <div class="story-right">
                <div class="cta-top-tile">
                  <div class="heading-cta">
                    <div class="text-h1">
                      Become an
                      <br /> IAHA Member
                    </div>
                  </div>
                </div>

                <div class="story-text">
                  <h4>
                    A paragraph on the benefits of IAHA membership and CTA to
                    members page goes here.
                  </h4>
                </div>
                <div class="cta-button-wrap">
                  <a
                    href="/members"
                    target="_blank"
                    class="cta-main accent w-inline-block"
                  >
                    <div class="button-animation-hide">
                      <div class="button-animation-wrap">
                        <div class="button-content-tile">
                          <div>Join IAHA</div>
                          <div class="button-arrow w-embed">
                            <svg
                              width="7"
                              height="10"
                              viewBox="0 0 7 10"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M1 9L5 5L1 1"
                                stroke="currentColor"
                                stroke-width="2"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="button-content-tile bottom-tile">
                          <div>Join IAHA</div>
                          <div class="button-arrow w-embed">
                            <svg
                              width="7"
                              height="10"
                              viewBox="0 0 7 10"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M1 9L5 5L1 1"
                                stroke="currentColor"
                                stroke-width="2"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a
                    href="contact/contact-a.html"
                    class="cta-booking w-inline-block"
                  >
                    <div class="cta-image-wrap">
                      <img
                        src="/img/logo-header.svg"
                        loading="lazy"
                        alt=""
                        class="image-cover"
                      />
                    </div>
                    <div class="text-body semibold">Find Out More</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  ) : (
    <div class="spacer-lg"></div>
    <section id="light" class="section home-a-story-section">
      <div class="w-layout-blockcontainer main-container w-container">
        <div class="w-layout-grid story-halves">
          <div class="story-image-wrap">
            <video
            src="/video/joinus.mp4"
            autoplay
            muted
            loop
            playsinline
            class="image-cover"
            style="width: 100%; height: auto;"></video>
          </div>
          <div class="story-right">
            <div class="cta-top-tile">
              <div class="heading-cta">
                <div class="text-h1 teal-text">
                  Become an
                  <br /> IAHA Member
                </div>
              </div>
            </div>

            <div class="story-text">
              <h4>
                Whether you work in manufacturing, specifying, or installing assistive listening systems, or support people with hearing loss in your professional role, 
                you’re welcome to join us.
              </h4>
              <h4 style="margin-top: 1rem;" class="light-accent">
               Discover the benefits of becoming an IAHA member.
              </h4>
            </div>
            <div class="cta-button-wrap">
              <a
                href="/members"
                target="_blank"
                class="cta-main accent w-inline-block"
              >
                <div class="button-animation-hide">
                  <div class="button-animation-wrap">
                    <div class="button-content-tile">
                      <div>Find Out More</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="button-content-tile bottom-tile">
                      <div>Find Out More</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
        
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
