<!-- NAV -->
<div class="navbar-master sticky-navbar">
  <div
    data-animation="default"
    data-collapse="medium"
    data-duration="400"
    data-easing="ease-out"
    data-easing2="ease-in-back"
    data-doc-height="1"
    role="banner"
    class="navbar navbar-sticky w-nav"
  >
    <div class="nav-container">
      <div class="nav-left">
        <div class="menu-button w-nav-button">
          <img
            loading="lazy"
            src="/img/menu.svg"
            alt=""
            class="menu-hamburger-icon"
          />
        </div>
        <div class="brand-menu-wrap">
          <a href="../index.html" class="brand-link-navbar w-nav-brand"
            ><img
              loading="lazy"
              src="/img/logo.svg"
              alt=""
              class="brand-navbar"
            /></a
          >
        </div>
        <div class="nav-divider"></div>
        <div class="nav-menu-wrap">
          <nav role="navigation" class="nav-menu w-nav-menu">
            <div class="menu-cta-mobile">
              <div class="menu-cta-link-wrap">
                <div class="menu-link">Download our handy guide</div><a
                  href="https://webflow.com/templates/designers/byq-studio"
                  target="_blank"
                  class="text-underline">Buy Template</a
                >
              </div><img
                loading="lazy"
                src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67403e9bdd3e5c836287fccb_Menu%20Image%20(1).avif"
                alt=""
                class="menu-template-image"
              />
            </div>

            <div class="navigation-link-hover-wrap">
              <a href="/about" class="nav-link w-nav-link">About IAHA</a>
            </div>

            <div class="menu-divider"></div>

            <!-- POPUP TRIGGERS -->
            <div
              data-delay="0"
              data-hover="true"
              class="nav-dropdown w-dropdown"
            >
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="navigation-link-hover-wrap">
                  <a
                    href="/assistive-listening-technologies"
                    class="nav-link w-nav-link"
                    >Assistive Listening Technologies</a
                  >
                </div>
              </div>

              <!-- LIST NAV -->
              <nav class="dropdown-list w-dropdown-list">
                <div class="mega-menu-wrap">
                  <div class="mega-menu-halves">
                    <div class="mega-menu-left">
                      <div class="menu-column">
                        <div class="navigation-label-desktop">
                          <div class="label">
                            Assistive Listening Technologies
                          </div>
                        </div>
                        <div class="navigation-link-wrap">
                          <div class="navigation-label-mobile">
                            <div class="menu-link">
                              Assistive Listening Technologies
                            </div>
                            <div class="navigation-exand-icon-wrap">
                              <div class="navigation-icon-line-vertical"></div>
                              <div class="navigation-icon-line-horizontal">
                              </div>
                            </div>
                          </div>
                          <div class="menu-links-wrap">
                            <div class="menu-links-column">
                              <div class="multi-layout-master">
                                <div class="multi-layout-row">
                                  <img
                                    loading="lazy"
                                    src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67337f627413b847e2064f2a_Service%20Icon%20(4).svg"
                                    alt=""
                                    class="icon-multi-layout"
                                  />
                                  <div class="multi-layout-right">
                                    <div class="text-body semibold">
                                      Homepage
                                    </div>
                                    <div class="multi-layout-link-wrap">
                                      <a
                                        href="home-a.html"
                                        aria-current="page"
                                        class="link-multi-layout w--current"
                                        >Version A</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="home-b.html"
                                        class="link-multi-layout">Version B</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="home-c.html"
                                        class="link-multi-layout">Version C</a
                                      >
                                    </div>
                                  </div>
                                </div>
                                <div class="multi-layout-row">
                                  <img
                                    loading="lazy"
                                    src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67337f627413b847e2064f30_Feature%20Icon%20(2).svg"
                                    alt=""
                                    class="icon-multi-layout"
                                  />
                                  <div class="multi-layout-right">
                                    <div class="text-body semibold">About</div>
                                    <div class="multi-layout-link-wrap">
                                      <a
                                        href="../about/about-a.html"
                                        class="link-multi-layout">Version A</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="../about/about-b.html"
                                        class="link-multi-layout">Version B</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="../about/about-c.html"
                                        class="link-multi-layout">Version C</a
                                      >
                                    </div>
                                  </div>
                                </div>
                                <div class="multi-layout-row">
                                  <img
                                    loading="lazy"
                                    src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67337f627413b847e2064f45_Contact%20Icon.svg"
                                    alt=""
                                    class="icon-multi-layout"
                                  />
                                  <div class="multi-layout-right">
                                    <div class="text-body semibold">
                                      Contact
                                    </div>
                                    <div class="multi-layout-link-wrap">
                                      <a
                                        href="../contact/contact-a.html"
                                        class="link-multi-layout">Version A</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="../contact/contact-b.html"
                                        class="link-multi-layout">Version B</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="../contact/contact-c.html"
                                        class="link-multi-layout">Version C</a
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="menu-divider"></div>
                      <div class="menu-column">
                        <div class="navigation-label-desktop">
                          <div class="label">Membership--</div>
                        </div>
                        <div class="navigation-link-wrap">
                          <div class="navigation-label-mobile">
                            <div class="menu-link">Membership--</div>
                            <div class="navigation-exand-icon-wrap">
                              <div class="navigation-icon-line-vertical"></div>
                              <div class="navigation-icon-line-horizontal">
                              </div>
                            </div>
                          </div>
                          <div class="menu-links-wrap">
                            <div class="menu-links-column">
                              <a href="../blog.html" class="menu-link">Blog</a
                              ><a
                                href="../blog/5-essential-strategies-for-sustainable-business-growth.html"
                                class="menu-link">Blog Article</a
                              ><a href="../pricing.html" class="menu-link"
                                >Pricing</a
                              ><a
                                href="../product/growth.html"
                                class="menu-link">Product</a
                              ><a href="../careers.html" class="menu-link"
                                >Careers</a
                              ><a
                                href="../privacy-policy.html"
                                class="menu-link">Privacy Policy</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="menu-divider"></div>
                      <div class="menu-column">
                        <div class="navigation-label-desktop">
                          <div class="label">Other</div>
                        </div>
                        <div class="navigation-link-wrap">
                          <div class="navigation-label-mobile">
                            <div class="menu-link">Other Pages</div>
                            <div class="navigation-exand-icon-wrap">
                              <div class="navigation-icon-line-vertical"></div>
                              <div class="navigation-icon-line-horizontal">
                              </div>
                            </div>
                          </div>
                          <div class="menu-links-wrap">
                            <div class="menu-links-column">
                              <a href="../404.html" class="menu-link">404</a><a
                                href="../401.html"
                                class="menu-link">Password</a
                              ><a href="../faq.html" class="menu-link">FAQ</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="menu-divider"></div>
                    </div><a
                      href="https://webflow.com/templates/designers/byq-studio"
                      class="megs-menu-right w-inline-block"
                    >
                      <div class="menu-page-wrap">
                        <img
                          loading="lazy"
                          src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67403e9bdd3e5c836287fccb_Menu%20Image%20(1).avif"
                          alt=""
                          class="menu-page-image"
                        />
                      </div>
                      <div class="menu-page-bottom-tile">
                        <div class="text-body serif">
                          Biology and Technology solution
                        </div>
                        <div class="text-small text-underline">
                          Buy Template
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </nav>
            </div>

            <div class="navigation-link-hover-wrap">
              <a href="/members" class="nav-link w-nav-link">Members</a>
            </div>

            <div class="navigation-link-hover-wrap">
              <a href="/Resources" class="nav-link w-nav-link">Resources</a>
            </div>

            <div class="navigation-link-hover-wrap">
              <a href="/news" class="nav-link w-nav-link">News</a>
            </div>

            <div class="navigation-link-hover-wrap">
              <a href="forum.iaha-global.com" class="nav-link w-nav-link"
                >Forum</a
              >
            </div>

            <div class="navigation-link-hover-wrap">
              <a href="/contact" class="nav-link w-nav-link">Contact IAHA</a>
            </div>

            <div
              data-delay="0"
              data-hover="true"
              class="nav-small-dropdown w-dropdown"
            >
            </div>
            <div class="menu-divider"></div>
            <div class="menu-bottom-tile">
              <div class="menu-socials">
                <a
                  href="http://facebook.com"
                  target="_blank"
                  class="link-menu-social w-inline-block"
                  ><img
                    loading="lazy"
                    src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67337f627413b847e2064f09_Social%20Icon.svg"
                    alt=""
                    class="menu-social-icon"
                  /></a
                ><a
                  href="http://instagram.com"
                  target="_blank"
                  class="link-menu-social w-inline-block"
                  ><img
                    loading="lazy"
                    src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67337f627413b847e2064f16_Social%20Icon-1.svg"
                    alt=""
                    class="menu-social-icon"
                  /></a
                ><a
                  href="http://linkedin.com"
                  target="_blank"
                  class="link-menu-social w-inline-block"
                  ><img
                    loading="lazy"
                    src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67337f627413b847e2064ee7_Social%20Icon-2.svg"
                    alt=""
                    class="menu-social-icon"
                  /></a
                ><a
                  href="http://youtube.com"
                  target="_blank"
                  class="link-menu-social w-inline-block"
                  ><img
                    loading="lazy"
                    src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67337f627413b847e2064f0a_Social%20Icon-3.svg"
                    alt=""
                    class="menu-social-icon"
                  /></a
                >
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="nav-right">
        <div class="menu-cta-wrap desktop">
          <a href="/members" target="_blank" class="cta-small w-inline-block">
            <div class="button-animation-hide small">
              <div class="button-animation-wrap small">
                <div class="button-content-tile small">
                  <div>Join IAHA</div>
                  <div class="button-arrow small w-embed">
                    <svg
                      width="100%"
                      height="100%"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile small">
                  <div>Join IAHA</div>
                  <div class="button-arrow small w-embed">
                    <svg
                      width="100%"
                      height="100%"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- NAV -->
