<!-- NAV -->
<div class="navbar-master sticky-navbar">
  <div
    data-animation="default"
    data-collapse="medium"
    data-duration="400"
    data-easing="ease-out"
    data-easing2="ease-in-back"
    data-doc-height="1"
    role="banner"
    class="navbar navbar-sticky w-nav"
  >
    <div class="nav-container">
      <div class="nav-left">
        <div class="menu-button w-nav-button">
          <img
            loading="lazy"
            src="/img/menu.svg"
            alt=""
            class="menu-hamburger-icon"
          />
        </div>
        <div class="brand-menu-wrap">
          <a href="../index.html" class="brand-link-navbar w-nav-brand">
            <img
              loading="lazy"
              src="/img/logo-header.svg"
              alt=""
              class="brand-navbar"
            />
          </a>
        </div>
        <div class="nav-divider"></div>
        <div class="nav-menu-wrap">
          <nav role="navigation" class="nav-menu w-nav-menu">
            <div class="menu-cta-mobile">
              <div class="menu-cta-link-wrap">
                <div class="menu-link">
                  <a href="/resources" target="_blank">
                    Downloadable guides and Assistive Listening resources are
                    available here.</a
                  >
                </div>
              </div><img
                loading="lazy"
                src="/img/guide.jpg"
                alt=""
                class="menu-template-image"
              />
            </div>

            <div class="navigation-link-hover-wrap">
              <a href="/about" class="nav-link w-nav-link">About IAHA</a>
            </div>

            <div class="menu-divider"></div>

            <!-- POPUP TRIGGERS -->
            <div
              data-delay="0"
              data-hover="true"
              class="nav-dropdown w-dropdown"
            >
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="navigation-link-hover-wrap">
                  <a
                    href="/assistive-listening-technologies"
                    class="nav-link w-nav-link"
                    >Assistive Listening Technologies</a
                  >
                </div>
              </div>

              <!-- LIST NAV -->
              <nav class="dropdown-list w-dropdown-list">
                <div class="mega-menu-wrap">
                  <div class="mega-menu-halves">
                    <div class="mega-menu-left">
                      <div class="menu-column">
                        <div class="navigation-link-wrap">
                          <div class="navigation-label-mobile">
                            <div class="menu-link">
                              Assistive Listening Technologies
                            </div>
                            <div class="navigation-exand-icon-wrap">
                              <div class="navigation-icon-line-vertical"></div>
                              <div class="navigation-icon-line-horizontal">
                              </div>
                            </div>
                          </div>
                          <div class="menu-links-wrap">
                            <div class="menu-links-column">
                              <div class="multi-layout-master">
                                <div class="multi-layout-row">
                                  <img
                                    loading="lazy"
                                    src="/img/icons/menu/hearing-loop.svg"
                                    alt=""
                                    class="icon-multi-layout"
                                  />
                                  <div class="multi-layout-right">
                                    <div class="text-body semibold">
                                      <a
                                        href="/assistive-listening-technologies/hearing-loops"
                                      >
                                        Hearing Loops</a
                                      >
                                    </div>
                                    <div class="multi-layout-link-wrap">
                                      <a
                                        href="/assistive-listening-technologies/hearing-loops"
                                        aria-current="page"
                                        class="link-multi-layout w--current"
                                        >Overview</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="/assistive-listening-technologies/hearing-loops#access"
                                        class="link-multi-layout">Access</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="/assistive-listening-technologies/hearing-loops#news"
                                        class="link-multi-layout">News</a
                                      >
                                    </div>
                                  </div>
                                </div>
                                <div class="multi-layout-row">
                                  <img
                                    loading="lazy"
                                    src="/img/icons/menu/infrared.svg"
                                    alt=""
                                    class="icon-multi-layout"
                                  />
                                  <div class="multi-layout-right">
                                    <div class="text-body semibold">
                                      <a
                                        href="/assistive-listening-technologies/infrared"
                                        >Infrared</a
                                      >
                                    </div>
                                    <div class="multi-layout-link-wrap">
                                      <a
                                        href="/assistive-listening-technologies/infrared"
                                        class="link-multi-layout">Overview</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="/assistive-listening-technologies/infrared#access"
                                        class="link-multi-layout">Access</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="/assistive-listening-technologies/infrared#news"
                                        class="link-multi-layout">News</a
                                      >
                                    </div>
                                  </div>
                                </div>

                                <div class="multi-layout-row mobile-add">
                                  <img
                                    loading="lazy"
                                    src="/img/icons/menu/wifi.svg"
                                    alt=""
                                    class="icon-multi-layout"
                                  />
                                  <div class="multi-layout-right">
                                    <div class="text-body semibold">
                                      <a
                                        href="/assistive-listening-technologies/audio-over-wifi"
                                      >
                                        Audio Over WiFi</a
                                      >
                                    </div>
                                    <div class="multi-layout-link-wrap">
                                      <a
                                        href="/assistive-listening-technologies/audio-over-wifi"
                                        aria-current="page"
                                        class="link-multi-layout w--current"
                                        >Overview</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="/assistive-listening-technologies/audio-over-wifi#access"
                                        class="link-multi-layout">Access</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="/assistive-listening-technologies/audio-over-wifi#news"
                                        class="link-multi-layout">News</a
                                      >
                                    </div>
                                  </div>
                                </div>

                                <div class="multi-layout-row">
                                  <img
                                    loading="lazy"
                                    src="/img/icons/menu/fmradio.svg"
                                    alt=""
                                    class="icon-multi-layout"
                                  />
                                  <div class="multi-layout-right">
                                    <div class="text-body semibold">
                                      <a
                                        href="/assistive-listening-technologies/fm-radio"
                                      >
                                        FM/Radio</a
                                      >
                                    </div>
                                    <div class="multi-layout-link-wrap">
                                      <a
                                        href="/assistive-listening-technologies/fm-radio"
                                        class="link-multi-layout">Overview</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="/assistive-listening-technologies/fm-radio#access"
                                        class="link-multi-layout">Access</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="/assistive-listening-technologies/fm-radio#news"
                                        class="link-multi-layout">News</a
                                      >
                                    </div>
                                  </div>
                                </div>
                                <div class="multi-layout-row mobile-add">
                                  <img
                                    loading="lazy"
                                    src="/img/icons/menu/bluetooth.svg"
                                    alt=""
                                    class="icon-multi-layout"
                                  />
                                  <div class="multi-layout-right">
                                    <div class="text-body semibold">
                                      <a
                                        href="/assistive-listening-technologies/auracast"
                                      >
                                        Auracast</a
                                      >
                                    </div>
                                    <div class="multi-layout-link-wrap">
                                      <a
                                        href="/assistive-listening-technologies/auracast"
                                        class="link-multi-layout">About</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="/assistive-listening-technologies/auracast#access"
                                        class="link-multi-layout">Access</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="/assistive-listening-technologies/auracast#news"
                                        class="link-multi-layout">News</a
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="menu-column mobilefix">
                        <div class="navigation-link-wrap">
                          <div class="navigation-label-mobile">
                            <div class="menu-link">
                              Assistive Listening Technologies
                            </div>
                            <div class="navigation-exand-icon-wrap">
                              <div class="navigation-icon-line-vertical"></div>
                              <div class="navigation-icon-line-horizontal">
                              </div>
                            </div>
                          </div>
                          <div class="menu-links-wrap">
                            <div class="menu-links-column">
                              <div class="multi-layout-master">
                                <div class="multi-layout-row">
                                  <img
                                    loading="lazy"
                                    src="/img/icons/menu/wifi.svg"
                                    alt=""
                                    class="icon-multi-layout"
                                  />
                                  <div class="multi-layout-right">
                                    <div class="text-body semibold">
                                      <a
                                        href="/assistive-listening-technologies/audio-over-wifi"
                                      >
                                        Audio Over WiFi</a
                                      >
                                    </div>
                                    <div class="multi-layout-link-wrap">
                                      <a
                                        href="/assistive-listening-technologies/audio-over-wifi"
                                        aria-current="page"
                                        class="link-multi-layout w--current"
                                        >Overview</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="/assistive-listening-technologies/audio-over-wifi#access"
                                        class="link-multi-layout">Access</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="/assistive-listening-technologies/audio-over-wifi#news"
                                        class="link-multi-layout">News</a
                                      >
                                    </div>
                                  </div>
                                </div>
                                <div class="multi-layout-row">
                                  <img
                                    loading="lazy"
                                    src="/img/icons/menu/bluetooth.svg"
                                    alt=""
                                    class="icon-multi-layout"
                                  />
                                  <div class="multi-layout-right">
                                    <div class="text-body semibold">
                                      <a
                                        href="/assistive-listening-technologies/auracast"
                                      >
                                        Auracast</a
                                      >
                                    </div>
                                    <div class="multi-layout-link-wrap">
                                      <a
                                        href="/assistive-listening-technologies/auracast"
                                        class="link-multi-layout">About</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="/assistive-listening-technologies/auracast#access"
                                        class="link-multi-layout">Access</a
                                      >
                                      <div class="text-small text-semi-dark">
                                        ·
                                      </div><a
                                        href="/assistive-listening-technologies/auracast#news"
                                        class="link-multi-layout">News</a
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="menu-divider"></div>
                    </div>
                    <a href="/resources" class="megs-menu-right w-inline-block">
                      <div class="menu-page-wrap">
                        <img
                          loading="lazy"
                          src="/img/guide.jpg"
                          alt="Download our guide to Available Assistive Listening Technologies"
                          class="menu-page-image"
                        />
                      </div>
                      <div class="menu-page-bottom-tile">
                        <div class="text-body">
                          Download our free guide to Available Assistive
                          Listening Technologies here.
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </nav>
            </div>

            <div class="navigation-link-hover-wrap">
              <a href="/members" class="nav-link w-nav-link">Membership</a>
            </div>

            <div class="menu-divider"></div>
            <div
              data-delay="0"
              data-hover="true"
              class="nav-small-dropdown w-dropdown"
            >
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="navigation-link-hover-wrap">
                  <a href="/resources">
                    <div class="nav-link w-nav-link">Resources</div></a
                  >
                </div>
              </div>

              <nav class="nav-dropdown-list w-dropdown-list">
                <div class="dropdown-list-inner">
                  <div class="navigation-label-mobile">
                    <div class="menu-link">Resources</div>
                    <div class="navigation-exand-icon-wrap">
                      <div class="navigation-icon-line-vertical"></div>
                      <div class="navigation-icon-line-horizontal"></div>
                    </div>
                  </div>
                  <div class="menu-links-wrap">
                    <div class="menu-links-column">
                      <a href="/resources/standards.html" class="menu-link"
                        >Standards</a
                      ><a
                        href="/resources/technical-resources"
                        class="menu-link">Technical Resources</a
                      ><a href="/resources/#glossary" class="menu-link"
                        >Glossary</a
                      ><a href="/resources/links" class="menu-link"
                        >Link Directory</a
                      >
                    </div>
                  </div>

                  <div class="menu-divider"></div>
                </div>
              </nav>
            </div>

            <div class="navigation-link-hover-wrap">
              <a href="/news" class="nav-link w-nav-link">News</a>
            </div>

            <div class="navigation-link-hover-wrap">
              <a href="/forum" class="nav-link w-nav-link">Forum</a>
            </div>

            <div class="navigation-link-hover-wrap">
              <a href="/contact" class="nav-link w-nav-link">Contact IAHA</a>
            </div>

            <div
              data-delay="0"
              data-hover="true"
              class="nav-small-dropdown w-dropdown"
            >
            </div>
            <div class="menu-divider"></div>
            <div class="menu-bottom-tile">
              <div class="menu-socials">
                <a
                  href="http://facebook.com"
                  target="_blank"
                  class="link-menu-social w-inline-block"
                  ><img
                    loading="lazy"
                    src="/img/icons/facebook-round.svg"
                    alt=""
                    class="menu-social-icon"
                  /></a
                ><a
                  href="http://linkedin.com"
                  target="_blank"
                  class="link-menu-social w-inline-block"
                  ><img
                    loading="lazy"
                    src="/img/icons/linkedin-round.svg"
                    alt=""
                    class="menu-social-icon"
                  /></a
                >
                <a
                  href="http://linkedin.com"
                  target="_blank"
                  class="link-menu-social w-inline-block"
                  ><img
                    loading="lazy"
                    src="/img/icons/x-round.svg"
                    alt=""
                    class="menu-social-icon"
                  /></a
                >
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="nav-right">
        <div class="menu-cta-wrap desktop">
          <a href="/members" target="_blank" class="cta-small w-inline-block">
            <div class="button-animation-hide small">
              <div class="button-animation-wrap small">
                <div class="button-content-tile small">
                  <div>Join IAHA</div>
                  <div class="button-arrow small w-embed">
                    <svg
                      width="100%"
                      height="100%"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile small">
                  <div>Join IAHA</div>
                  <div class="button-arrow small w-embed">
                    <svg
                      width="100%"
                      height="100%"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- NAV -->
<style>
  @media screen and (max-width: 1000px) {
    .mobilefix {
      display: none;
    }
  }

  @media screen and (min-width: 1000px) {
    .mobile-add {
      display: none;
    }
  }
</style>
