<div
  id="standards"
  class="w-layout-grid feature-grid-home-c"
  style="margin-top:6rem;"
>
  <div class="feature-card-home-c">
    <div class="label"></div>
    <div class="feature-card-bottom-tile">
      <h4 class="no-margins">IEC 60118-0:2015</h4>
      <div class="text-body">
        <strong> Electroacoustics - Hearing aids - Part 0</strong>
      </div>
      <div class="text-body">
        Measurement of the performance characteristics of hearing aids.
      </div>
      <div class="home-b-button-wrap">
        <a
          href="/resources/standards/IEC-60118-00-2015"
          class="cta-main accent w-inline-block"
        >
          <div class="button-animation-hide">
            <div class="button-animation-wrap">
              <div class="button-content-tile">
                <div>Read More</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
              <div class="button-content-tile">
                <div>Read More</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div
    id="w-node-_335d5572-f17e-b978-95fe-23ad4ef7301a-e2064dab"
    class="features-video-home-c"
  >
    <img
      src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf.jpg"
      loading="lazy"
      sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
      srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-500.jpg 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-800.jpg 800w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-1600.jpg 1600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-2000.jpg 2000w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-2600.jpg 2600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf.jpg 3024w"
      alt=""
      class="image-cover"
    />
  </div>
  <div class="feature-card-home-c">
    <div class="label"></div>
    <div class="feature-card-bottom-tile">
      <h4 class="no-margins">IEC 60118-4:2014+ AMD1:2017 CSV</h4>
      <div class="text-body">
        <strong>Electroacoustics - Hearing aids - Part 4</strong>
      </div>
      <div class="text-body">
        Induction-loop systems for hearing aid purposes – System performance
        requirements.
      </div>
      <div class="home-b-button-wrap">
        <a
          href="/resources/standards/IEC-60118-4-2014+AMD1-2017"
          class="cta-main accent w-inline-block"
        >
          <div class="button-animation-hide">
            <div class="button-animation-wrap">
              <div class="button-content-tile">
                <div>Read More</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
              <div class="button-content-tile">
                <div>Read More</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="feature-card-image">
    <img
      src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow.avif"
      loading="lazy"
      sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
      srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow-p-500.jpg 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow-p-800.jpg 800w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow.avif 3888w"
      alt=""
      class="image-cover"
    />
  </div>
  <div
    id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73026-e2064dab"
    class="feature-card-image"
  >
    <img
      src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734f06f9f734cc9c75f9cd7_Article%20Thumbnail%204.avif"
      loading="lazy"
      sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
      srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734f06f9f734cc9c75f9cd7_Article%20Thumbnail%204-p-500.avif 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734f06f9f734cc9c75f9cd7_Article%20Thumbnail%204.avif 1263w"
      alt=""
      class="image-cover"
    />
  </div>
  <div
    id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73028-e2064dab"
    class="feature-card-home-c"
  >
    <div class="label"></div>
    <div class="feature-card-bottom-tile">
      <h4 class="no-margins">
        IEC62489-1:2010+ AMD1:2014+ AMD2:2017 CSV (Consolidated)
      </h4>
      <div class="text-body">
        <strong
          >Electroacoustics - Audio-frequency induction loop systems for
          assisted hearing - Part 1</strong
        >
      </div>
      <div class="text-body">
        Methods of measuring and specifying the performance of system
        components.
      </div>
      <div class="home-b-button-wrap">
        <a
          href="/resources/standards/iec-62489-12010amd12014amd22017-csv"
          class="cta-main accent w-inline-block"
        >
          <div class="button-animation-hide">
            <div class="button-animation-wrap">
              <div class="button-content-tile">
                <div>Read More</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
              <div class="button-content-tile">
                <div>Read More</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- PART 2 -->
<div class="w-layout-grid feature-grid-home-c" style="margin-top:1rem;">
  <div class="feature-card-home-c">
    <div class="label"></div>
    <div class="feature-card-bottom-tile">
      <h4 class="no-margins">IEC 62489-2:2014</h4>
      <div class="text-body">
        <strong
          >Electroacoustics – Audio-frequency induction loop systems for
          assisted hearing – Part 2</strong
        >
      </div>
      <div class="text-body">
        Methods of calculating and measuring the low-frequency magnetic field
        emissions from the loop for assessing conformity with guidelines on
        limits for human exposure.
      </div>
      <div class="home-b-button-wrap">
        <a
          href="/resources/standards/iec-62489-22014"
          class="cta-main accent w-inline-block"
        >
          <div class="button-animation-hide">
            <div class="button-animation-wrap">
              <div class="button-content-tile">
                <div>Read More</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
              <div class="button-content-tile">
                <div>Read More</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="feature-card-home-c">
    <div class="label"></div>
    <div class="feature-card-bottom-tile">
      <h4 class="no-margins">IEC TR 63079:2017</h4>
      <div class="text-body">
        <strong> Code of practice for hearing-loop systems (HLS) </strong>
      </div>
      <div class="text-body">
        Gives recommendations for and guidance on the design, planning,
        installation, testing, operation and maintenance of a hearing-loop
        system (HLS) intended for communicating speech, music and/or other
        signals.
      </div>
      <div class="home-b-button-wrap">
        <a
          href="/resources/standards/iec-tr-630792017"
          class="cta-main accent w-inline-block"
        >
          <div class="button-animation-hide">
            <div class="button-animation-wrap">
              <div class="button-content-tile">
                <div>Read More</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
              <div class="button-content-tile">
                <div>Read More</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div
    id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73028-e2064dab"
    class="feature-card-home-c accent"
  >
    <div class="label"></div>
    <div class="feature-card-bottom-tile">
      <h4 class="no-margins">ETSI EN 300 422-4 V2.1.1 (2017-05)</h4>
      <div class="text-body">
        <strong>Wireless Microphones; Audio PMSE up to 3 GHz; Part 4</strong>
      </div>
      <div class="text-body">
        Assistive Listening Devices including personal sound amplifiers and
        inductive systems up to 3 GHz.
      </div>
      <div class="home-b-button-wrap">
        <a
          href="/resources/standards/etsi-en-300-422-4-v2-1-1-2017-05/"
          class="cta-main accent w-inline-block"
        >
          <div class="button-animation-hide">
            <div class="button-animation-wrap">
              <div class="button-content-tile">
                <div>Read More</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
              <div class="button-content-tile">
                <div>Read More</div>
                <div class="button-arrow w-embed">
                  <svg
                    width="7"
                    height="10"
                    viewBox="0 0 7 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 9L5 5L1 1"
                      stroke="currentColor"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
