---
import MainNews from "../../../components/MainNews.astro";
import Standards from "../../../components/Standards.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
  <section class="section hero-careers">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-careers">
        <div class="careers-top-tile">
          <div class="spacer-sm"></div>
          <div class="heading-careers">
            <div class="headline-blog">
              <div class="label">Standards</div>
              <h1 class="text-h1" style="font-size: clamp(2rem, 5vw, 72px);">
                IEC 62489-1:2010+AMD1:2014+AMD2:2017 CSV (Consolidated)
              </h1>
            </div>
          </div>
        </div>

        <div class="home-b-button-wrap">
          <a href="/resources/standards" class="cta-main accent w-inline-block">
            <div class="button-animation-hide">
              <div class="button-animation-wrap">
                <div class="button-content-tile">
                  <div>Back to Standards</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile">
                  <div>Back to Standards</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="section-divider home-c-numbers"></div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid numbers-halves"></div>

      <div class="product-content-wrap">
        <div class="w-layout-grid product-halves">
          <div class="label"></div>
          <div class="w-richtext">
            <h3 class="no-margins">
              Electroacoustics - Audio-frequency induction loop systems for
              assisted hearing - Part 1: Methods of measuring and specifying the
              performance of system components
            </h3>
          </div>
        </div>
        <div class="section-divider"></div>
        <div class="w-layout-grid product-halves">
          <div class="label">Abstract</div>
          <div class="w-richtext">
            <h5 style="margin-top:3rem;">
              IEC 62489-1:2010+A1:2014+A2:2017 applies to the components of
              audio-frequency induction-loop systems for assisted hearing. It
              may also be applied to such systems used for other purposes, as
              far as it is applicable.
            </h5>
            <h5 style="margin-top:3rem;">
              This standard is intended to encourage accurate and uniform
              presentation of manufacturers’ specifications, which can be
              verified by standardized methods of measurement. It is intended
              for type testing.
            </h5>
            <h5 style="margin-top:3rem;">
              This standard is intended to encourage accurate and uniform
              presentation of manufacturers’ specifications, which can be
              verified by standardized methods of measurement. It is intended
              for type testing.
            </h5>
          </div>
        </div>

        <div class="w-layout-grid product-halves">
          <div class="label"></div>
          <div class="w-richtext">
            <h5 class="no-margins">
              This consolidated version consists of the first edition (2010),
              its amendment 1 (2014) and its amendment 2 (2017). Therefore, no
              need to order amendment in addition to this publication.
            </h5>
          </div>
        </div>
        <div class="section-divider"></div>
      </div>

      <div class="headline-related" style="margin-top: 10rem;">
        <!-- <div class="text-h3">More Standards</div> -->
      </div>
      <Standards />
    </div>
  </section>
  <div class="spacer-sm"></div>
  <div class="spacer-sm"></div>
  <div class="spacer-sm"></div>
</Layout>
