---
import MainNews from "../../../components/MainNews.astro";
import Standards from "../../../components/Standards.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
  <section class="section hero-careers">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-careers">
        <div class="careers-top-tile">
          <div class="spacer-sm"></div>
          <div class="heading-careers">
            <div class="headline-blog">
              <div class="label">Standards</div>
              <h1 class="text-h1" style="font-size: clamp(2rem, 5vw, 72px);">
                IEC TR 63079:2017
              </h1>
            </div>
          </div>
        </div>

        <div class="home-b-button-wrap">
          <a href="/resources/standards" class="cta-main accent w-inline-block">
            <div class="button-animation-hide">
              <div class="button-animation-wrap">
                <div class="button-content-tile">
                  <div>Back to Standards</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile">
                  <div>Back to Standards</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="section-divider home-c-numbers"></div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid numbers-halves"></div>

      <div class="product-content-wrap">
        <div class="w-layout-grid product-halves">
          <div class="label"></div>
          <div class="w-richtext">
            <h3 class="no-margins">
              Code of practice for hearing-loop systems (HLS)
            </h3>
          </div>
        </div>
        <div class="section-divider"></div>
        <div class="w-layout-grid product-halves">
          <div class="label">Abstract</div>
          <div class="w-richtext">
            <h5 style="margin-top:3rem;">
              IEC TR 63079:2017 gives recommendations for and guidance on the
              design, planning, installation, testing, operation and maintenance
              of a hearing-loop system (HLS) intended for communicating speech,
              music and/or other signals. It is mainly concerned with HLS for
              hearing enhancement, in which the signals are communicated to
              users of hearing aids equipped with magnetic pick-up coils.
            </h5>
            <h5 style="margin-top:3rem;">
              This document does not apply to induction-loop systems which use a
              carrier frequency, nor to other systems for hearing enhancement
              purposes which do not use magnetic induction.
            </h5>
          </div>
        </div>

        <div class="w-layout-grid product-halves">
          <div class="label"></div>
          <div class="w-richtext">
            <h5 class="no-margins">
              NOTE: This Technical Report replaces BS 7594, which BSI will
              withdraw any century now. An important Amendment will be published
              in mid-2018.
            </h5>
          </div>
        </div>
        <div class="section-divider"></div>
      </div>

      <div class="headline-related" style="margin-top: 10rem;">
        <!-- <div class="text-h3">More Standards</div> -->
      </div>
      <Standards />
    </div>
  </section>
  <div class="spacer-sm"></div>
  <div class="spacer-sm"></div>
  <div class="spacer-sm"></div>
</Layout>
