---
import MainNews from "../../../components/MainNews.astro";
import Standards from "../../../components/Standards.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
  <section class="section hero-careers">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-careers">
        <div class="careers-top-tile">
          <div class="spacer-sm"></div>
          <div class="heading-careers">
            <div class="headline-blog">
              <div class="label">Standards</div>
              <h1 class="text-h1" style="font-size: clamp(2rem, 5vw, 72px);">
                IEC-60118-0:2015
              </h1>
            </div>
          </div>
        </div>

        <div class="home-b-button-wrap">
          <a href="/resources/standards" class="cta-main accent w-inline-block">
            <div class="button-animation-hide">
              <div class="button-animation-wrap">
                <div class="button-content-tile">
                  <div>Back to Standards</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile">
                  <div>Back to Standards</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="section-divider home-c-numbers"></div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid numbers-halves"></div>

      <div class="product-content-wrap">
        <div class="w-layout-grid product-halves">
          <div class="label"></div>
          <div class="w-richtext">
            <h3 class="no-margins">
              Electroacoustics - Hearing aids - Part 0: Measurement of the
              performance characteristics of hearing aids
            </h3>
          </div>
        </div>
        <div class="section-divider"></div>
        <div class="w-layout-grid product-halves">
          <div class="label">Abstract</div>
          <div class="w-richtext">
            <h5 style="margin-top:3rem;">
              IEC 60118-0:2015 gives recommendations for the measurement of the
              performance characteristics of air conduction hearing aids based
              on a free field technique and measured with an acoustic coupler.
            </h5>
            <h5 style="margin-top:3rem;">
              This third edition cancels and replaces the second edition
              published in 1983 and its Amendment 1:1994 as well as IEC
              60118-1:1995, Amendment 1:1998, IEC 60118-2:1983, Amendment
              1:1993, Amendment 2:1997 and IEC 60118-6:1999.
            </h5>
          </div>
        </div>

        <div class="w-layout-grid product-halves">
          <div class="label"></div>
          <div class="w-richtext">
            <h5 class="no-margins">
              This edition constitutes a technical revision.
            </h5>
          </div>
        </div>
        <div class="section-divider"></div>
      </div>

      <div class="headline-related" style="margin-top: 10rem;">
        <!-- <div class="text-h3">More Standards</div> -->
      </div>
      <Standards />
    </div>
  </section>
  <div class="spacer-sm"></div>
  <div class="spacer-sm"></div>
  <div class="spacer-sm"></div>
</Layout>
