---
import MainNews from "../../../components/MainNews.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
  <section class="section hero-careers">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-careers">
        <div class="careers-top-tile">
          <div class="spacer-sm"></div>
          <div class="heading-careers">
            <div class="headline-blog">
              <div class="label">Standards</div>
              <h1 class="text-h1">Assistive Listening Standards</h1>
            </div>
          </div>
        </div>

        <div class="home-b-button-wrap">
          <a
            href="../resources/standards"
            class="cta-main accent w-inline-block"
          >
            <div class="button-animation-hide">
              <div class="button-animation-wrap">
                <div class="button-content-tile">
                  <div>See all Standards</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile">
                  <div>See all Standards</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="section-divider home-c-numbers"></div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid numbers-halves"></div>

      <div class="product-content-wrap">
        <div class="w-layout-grid product-halves">
          <div class="label">What is a standard?</div>
          <div class="w-richtext">
            <h3 class="no-margins">
              Standards are established guidelines, specifications, and criteria
              that define the parameters for the design, manufacturing,
              installation, and performance of assistive listening technologies.
            </h3>
            <h5 style="margin-top:3rem;">
              These standards are developed and maintained by recognized
              organizations within the field, and they serve as a reference
              point for manufacturers, installers, and users to ensure
              consistency, quality, and reliability of assistive listening
              solutions.
            </h5>
          </div>
        </div>
        <div class="section-divider"></div>
        <div class="w-layout-grid product-halves">
          <div class="label">Why are standards important?</div>
          <div class="w-layout-grid feature-grid-side">
            <div
              data-w-id="f80621dc-d083-434d-3684-ed0fbcbdd6b7"
              class="feature-card-side advantage"
            >
              <div class="feature-icon-wrap">
                <div class="icon-feature w-embed">
                  <svg
                    width="100%"
                    height="100%"
                    viewBox="0 0 32 32"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_8044_9967)">
                      <g clip-path="url(#clip1_8044_9967)">
                        <path
                          d="M27.3333 18.6667H13.3333V4.66667C13.3333 2.09333 11.24 0 8.66667 0H4.66667C2.09333 0 0 2.09333 0 4.66667V26C0 29.308 2.692 32 6 32H27.3333C29.9067 32 32 29.9067 32 27.3333V23.3333C32 20.76 29.9067 18.6667 27.3333 18.6667ZM30.6667 27.3333C30.6667 29.172 29.172 30.6667 27.3333 30.6667H6C3.42667 30.6667 1.33333 28.5733 1.33333 26V4.66667C1.33333 2.828 2.82933 1.33333 4.66667 1.33333H8.66667C10.504 1.33333 12 2.828 12 4.66667V5.33333H8.66667C8.29867 5.33333 8 5.632 8 6C8 6.368 8.29867 6.66667 8.66667 6.66667H12V12H8.66667C8.29867 12 8 12.2987 8 12.6667C8 13.0347 8.29867 13.3333 8.66667 13.3333H12V18.6667H8.66667C8.29867 18.6667 8 18.9653 8 19.3333C8 19.7013 8.29867 20 8.66667 20H12V23.3333C12 23.7013 12.2987 24 12.6667 24C13.0347 24 13.3333 23.7013 13.3333 23.3333V20H18.6667V23.3333C18.6667 23.7013 18.9653 24 19.3333 24C19.7013 24 20 23.7013 20 23.3333V20H25.3333V23.3333C25.3333 23.7013 25.632 24 26 24C26.368 24 26.6667 23.7013 26.6667 23.3333V20H27.3333C29.172 20 30.6667 21.4947 30.6667 23.3333V27.3333Z"
                          fill="currentColor"></path>
                      </g>
                    </g>
                    <defs>
                      <clipPath id="clip0_8044_9967">
                        <rect width="100%" height="100%" fill="currentColor"
                        ></rect>
                      </clipPath>
                      <clipPath id="clip1_8044_9967">
                        <rect width="100%" height="100%" fill="currentColor"
                        ></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
              <div class="feature-bottom-tile">
                <div class="feature-subtitle">
                  <div class="text-h5">Interoperability</div>
                </div>
                <p class="text-body">
                  Standards ensure that different components and devices within
                  an assistive listening system are compatible and can work
                  seamlessly together.
                </p>
              </div>
            </div>
            <div
              data-w-id="f80621dc-d083-434d-3684-ed0fbcbdd6c0"
              class="feature-card-side advantage"
            >
              <div class="feature-icon-wrap">
                <div class="icon-feature w-embed">
                  <svg
                    width="100%"
                    height="100%"
                    viewBox="0 0 32 32"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6 19.9987H16.6667C17.7693 19.9987 18.6667 19.1014 18.6667 17.9987V16.6654C18.6667 15.5627 17.7693 14.6654 16.6667 14.6654H6C4.89733 14.6654 4 15.5627 4 16.6654V17.9987C4 19.1014 4.89733 19.9987 6 19.9987ZM5.33333 16.6654C5.33333 16.2974 5.632 15.9987 6 15.9987H16.6667C17.0347 15.9987 17.3333 16.2974 17.3333 16.6654V17.9987C17.3333 18.3667 17.0347 18.6654 16.6667 18.6654H6C5.632 18.6654 5.33333 18.3667 5.33333 17.9987V16.6654ZM22 26.6654H26C27.1027 26.6654 28 25.768 28 24.6654V16.6654C28 15.5627 27.1027 14.6654 26 14.6654H22C20.8973 14.6654 20 15.5627 20 16.6654V24.6654C20 25.768 20.8973 26.6654 22 26.6654ZM21.3333 16.6654C21.3333 16.2974 21.632 15.9987 22 15.9987H26C26.368 15.9987 26.6667 16.2974 26.6667 16.6654V24.6654C26.6667 25.0334 26.368 25.332 26 25.332H22C21.632 25.332 21.3333 25.0334 21.3333 24.6654V16.6654ZM6 26.6654H16.6667C17.7693 26.6654 18.6667 25.768 18.6667 24.6654V23.332C18.6667 22.2294 17.7693 21.332 16.6667 21.332H6C4.89733 21.332 4 22.2294 4 23.332V24.6654C4 25.768 4.89733 26.6654 6 26.6654ZM5.33333 23.332C5.33333 22.964 5.632 22.6654 6 22.6654H16.6667C17.0347 22.6654 17.3333 22.964 17.3333 23.332V24.6654C17.3333 25.0334 17.0347 25.332 16.6667 25.332H6C5.632 25.332 5.33333 25.0334 5.33333 24.6654V23.332ZM26 1.33203H6C2.692 1.33203 0 4.02403 0 7.33203V24.6654C0 27.9734 2.692 30.6654 6 30.6654H26C29.308 30.6654 32 27.9734 32 24.6654V7.33203C32 4.02403 29.308 1.33203 26 1.33203ZM30.6667 24.6654C30.6667 27.2387 28.5733 29.332 26 29.332H6C3.42667 29.332 1.33333 27.2387 1.33333 24.6654V11.9987H30.6667V24.6654ZM30.6667 10.6654H1.33333V7.33203C1.33333 4.7587 3.42667 2.66536 6 2.66536H26C28.5733 2.66536 30.6667 4.7587 30.6667 7.33203V10.6654ZM14.6667 6.66536C14.6667 7.40136 14.0693 7.9987 13.3333 7.9987C12.5973 7.9987 12 7.40136 12 6.66536C12 5.92936 12.5973 5.33203 13.3333 5.33203C14.0693 5.33203 14.6667 5.92936 14.6667 6.66536ZM6.66667 6.66536C6.66667 7.40136 6.06933 7.9987 5.33333 7.9987C4.59733 7.9987 4 7.40136 4 6.66536C4 5.92936 4.59733 5.33203 5.33333 5.33203C6.06933 5.33203 6.66667 5.92936 6.66667 6.66536ZM10.6667 6.66536C10.6667 7.40136 10.0693 7.9987 9.33333 7.9987C8.59733 7.9987 8 7.40136 8 6.66536C8 5.92936 8.59733 5.33203 9.33333 5.33203C10.0693 5.33203 10.6667 5.92936 10.6667 6.66536Z"
                      fill="currentColor"></path>
                  </svg>
                </div>
              </div>
              <div class="feature-bottom-tile">
                <div class="feature-subtitle">
                  <div class="text-h5">Quality Assurance</div>
                </div>
                <p class="text-body">
                  Standards set benchmarks for the performance and quality of
                  assistive listening systems. Adhering to these standards helps
                  manufacturers ensure reliability, durability, and consistent
                  performance.
                </p>
              </div>
            </div>
            <div
              data-w-id="f80621dc-d083-434d-3684-ed0fbcbdd6c9"
              class="feature-card-side advantage"
            >
              <div class="feature-icon-wrap">
                <div class="icon-feature w-embed">
                  <svg
                    width="100%"
                    height="100%"
                    viewBox="0 0 32 32"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_8044_9977)">
                      <g clip-path="url(#clip1_8044_9977)">
                        <path
                          d="M29.3332 23.9053V31.3347C29.3332 31.7027 29.0346 32.0013 28.6666 32.0013C28.2986 32.0013 27.9999 31.7027 27.9999 31.3347V23.9053C27.9999 21.7 26.4959 19.8267 24.3439 19.3493L15.1892 17.3187C14.8839 17.2507 14.6666 16.98 14.6666 16.668V7.47733C14.6666 6.42533 13.9532 5.516 13.0079 5.36267C12.4119 5.268 11.8266 5.424 11.3719 5.81067C10.9239 6.192 10.6666 6.748 10.6666 7.33467V25.5187C10.6666 25.7747 10.5199 26.008 10.2892 26.1187C10.0586 26.232 9.78523 26.2 9.5839 26.04L6.0679 23.24C5.22523 22.4547 3.95723 22.4973 3.20656 23.3C2.45456 24.1053 2.4959 25.376 3.2999 26.1307L8.25856 30.8507C8.52523 31.104 8.5359 31.5267 8.28256 31.7933C8.15056 31.9307 7.9759 32 7.7999 32C7.63456 32 7.46923 31.9387 7.3399 31.816L2.38523 27.0987C1.04923 25.8453 0.978564 23.7307 2.23323 22.388C3.48656 21.048 5.59723 20.9747 6.9399 22.2293L9.33456 24.1333V7.33467C9.33456 6.356 9.76256 5.42933 10.5092 4.79467C11.2572 4.16 12.2479 3.88933 13.2226 4.04533C14.8066 4.30267 16.0012 5.77733 16.0012 7.476V16.132L24.6346 18.0467C27.4012 18.66 29.3346 21.0693 29.3346 23.904L29.3332 23.9053ZM6.36923 13.6413C6.6759 13.4373 6.75856 13.024 6.5559 12.7173C5.7559 11.5147 5.33323 10.1133 5.33323 8.668C5.33323 4.624 8.62257 1.33467 12.6666 1.33467C16.7106 1.33467 19.9999 4.624 19.9999 8.668C19.9999 10.1133 19.5772 11.5147 18.7786 12.7173C18.5746 13.024 18.6572 13.4387 18.9652 13.6413C19.0786 13.7173 19.2066 13.752 19.3332 13.752C19.5479 13.752 19.7599 13.6467 19.8879 13.4547C20.8332 12.032 21.3332 10.376 21.3332 8.66667C21.3332 3.888 17.4452 0 12.6666 0C7.8879 0 3.9999 3.88933 3.9999 8.668C3.9999 10.3773 4.4999 12.032 5.4439 13.456C5.64656 13.7613 6.0599 13.8453 6.3679 13.6427L6.36923 13.6413Z"
                          fill="currentColor"></path>
                      </g>
                    </g>
                    <defs>
                      <clipPath id="clip0_8044_9977">
                        <rect width="100%" height="100%" fill="currentColor"
                        ></rect>
                      </clipPath>
                      <clipPath id="clip1_8044_9977">
                        <rect width="100%" height="100%" fill="currentColor"
                        ></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
              <div class="feature-bottom-tile">
                <div class="feature-subtitle">
                  <div class="text-h5">Accessibility</div>
                </div>
                <p class="text-body">
                  Standards help in creating systems that provide effective and
                  consistent support for users, promoting equal access to
                  information and services.
                </p>
              </div>
            </div>
            <div
              data-w-id="f80621dc-d083-434d-3684-ed0fbcbdd6d2"
              class="feature-card-side advantage"
            >
              <div class="feature-icon-wrap">
                <div class="icon-feature w-embed">
                  <svg
                    width="100%"
                    height="100%"
                    viewBox="0 0 32 32"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_10002_2193)">
                      <path
                        d="M29.3333 25.4V6.6C30.8533 6.29067 32 4.944 32 3.33333C32 1.49467 30.5053 0 28.6667 0C27.056 0 25.7093 1.14667 25.4 2.66667H6.6C6.29067 1.14667 4.944 0 3.33333 0C1.49467 0 0 1.49467 0 3.33333C0 4.944 1.14667 6.29067 2.66667 6.6V25.4C1.14667 25.7093 0 27.056 0 28.6667C0 30.5053 1.49467 32 3.33333 32C4.944 32 6.29067 30.8533 6.6 29.3333H25.4C25.7093 30.8533 27.056 32 28.6667 32C30.5053 32 32 30.5053 32 28.6667C32 27.056 30.8533 25.7093 29.3333 25.4ZM25.4 28H6.6C6.33467 26.696 5.30533 25.6667 4 25.4V6.6C5.304 6.33467 6.33333 5.30533 6.6 4H25.4C25.6653 5.304 26.6947 6.33333 28 6.6V25.4C26.696 25.6653 25.6667 26.6947 25.4 28ZM28.6667 1.33333C29.7693 1.33333 30.6667 2.23067 30.6667 3.33333C30.6667 4.436 29.7693 5.33333 28.6667 5.33333C27.564 5.33333 26.6667 4.436 26.6667 3.33333C26.6667 2.23067 27.564 1.33333 28.6667 1.33333ZM1.33333 3.33333C1.33333 2.23067 2.23067 1.33333 3.33333 1.33333C4.436 1.33333 5.33333 2.23067 5.33333 3.33333C5.33333 4.436 4.436 5.33333 3.33333 5.33333C2.23067 5.33333 1.33333 4.436 1.33333 3.33333ZM3.33333 30.6667C2.23067 30.6667 1.33333 29.7693 1.33333 28.6667C1.33333 27.564 2.23067 26.6667 3.33333 26.6667C4.436 26.6667 5.33333 27.564 5.33333 28.6667C5.33333 29.7693 4.436 30.6667 3.33333 30.6667ZM28.6667 30.6667C27.564 30.6667 26.6667 29.7693 26.6667 28.6667C26.6667 27.564 27.564 26.6667 28.6667 26.6667C29.7693 26.6667 30.6667 27.564 30.6667 28.6667C30.6667 29.7693 29.7693 30.6667 28.6667 30.6667ZM21.3333 11.3333C21.3333 11.7013 21.0347 12 20.6667 12H16.6667V22C16.6667 22.368 16.368 22.6667 16 22.6667C15.632 22.6667 15.3333 22.368 15.3333 22V12H11.384C11.016 12 10.7173 11.7013 10.7173 11.3333C10.7173 10.9653 11.016 10.6667 11.384 10.6667H20.6667C21.0347 10.6667 21.3333 10.9653 21.3333 11.3333Z"
                        fill="currentColor"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_10002_2193">
                        <rect width="100%" height="100%" fill="currentColor"
                        ></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
              <div class="feature-bottom-tile">
                <div class="feature-subtitle">
                  <div class="text-h5">Safety</div>
                </div>
                <p class="text-body">
                  Standards often include guidelines for the safety of the
                  equipment and the environment in which it is installed. This
                  is critical for preventing potential hazards and ensuring the
                  well-being of users.
                </p>
              </div>
            </div>
            <div
              data-w-id="f80621dc-d083-434d-3684-ed0fbcbdd6d2"
              class="feature-card-side advantage"
            >
              <div class="feature-icon-wrap">
                <div class="icon-feature w-embed">
                  <svg
                    width="100%"
                    height="100%"
                    viewBox="0 0 32 32"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_10002_2193)">
                      <path
                        d="M29.3333 25.4V6.6C30.8533 6.29067 32 4.944 32 3.33333C32 1.49467 30.5053 0 28.6667 0C27.056 0 25.7093 1.14667 25.4 2.66667H6.6C6.29067 1.14667 4.944 0 3.33333 0C1.49467 0 0 1.49467 0 3.33333C0 4.944 1.14667 6.29067 2.66667 6.6V25.4C1.14667 25.7093 0 27.056 0 28.6667C0 30.5053 1.49467 32 3.33333 32C4.944 32 6.29067 30.8533 6.6 29.3333H25.4C25.7093 30.8533 27.056 32 28.6667 32C30.5053 32 32 30.5053 32 28.6667C32 27.056 30.8533 25.7093 29.3333 25.4ZM25.4 28H6.6C6.33467 26.696 5.30533 25.6667 4 25.4V6.6C5.304 6.33467 6.33333 5.30533 6.6 4H25.4C25.6653 5.304 26.6947 6.33333 28 6.6V25.4C26.696 25.6653 25.6667 26.6947 25.4 28ZM28.6667 1.33333C29.7693 1.33333 30.6667 2.23067 30.6667 3.33333C30.6667 4.436 29.7693 5.33333 28.6667 5.33333C27.564 5.33333 26.6667 4.436 26.6667 3.33333C26.6667 2.23067 27.564 1.33333 28.6667 1.33333ZM1.33333 3.33333C1.33333 2.23067 2.23067 1.33333 3.33333 1.33333C4.436 1.33333 5.33333 2.23067 5.33333 3.33333C5.33333 4.436 4.436 5.33333 3.33333 5.33333C2.23067 5.33333 1.33333 4.436 1.33333 3.33333ZM3.33333 30.6667C2.23067 30.6667 1.33333 29.7693 1.33333 28.6667C1.33333 27.564 2.23067 26.6667 3.33333 26.6667C4.436 26.6667 5.33333 27.564 5.33333 28.6667C5.33333 29.7693 4.436 30.6667 3.33333 30.6667ZM28.6667 30.6667C27.564 30.6667 26.6667 29.7693 26.6667 28.6667C26.6667 27.564 27.564 26.6667 28.6667 26.6667C29.7693 26.6667 30.6667 27.564 30.6667 28.6667C30.6667 29.7693 29.7693 30.6667 28.6667 30.6667ZM21.3333 11.3333C21.3333 11.7013 21.0347 12 20.6667 12H16.6667V22C16.6667 22.368 16.368 22.6667 16 22.6667C15.632 22.6667 15.3333 22.368 15.3333 22V12H11.384C11.016 12 10.7173 11.7013 10.7173 11.3333C10.7173 10.9653 11.016 10.6667 11.384 10.6667H20.6667C21.0347 10.6667 21.3333 10.9653 21.3333 11.3333Z"
                        fill="currentColor"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_10002_2193">
                        <rect width="100%" height="100%" fill="currentColor"
                        ></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
              <div class="feature-bottom-tile">
                <div class="feature-subtitle">
                  <div class="text-h5">Regulatory Compliance</div>
                </div>
                <p class="text-body">
                  Many countries and regions have regulations and guidelines
                  pertaining to the use of assistive listening devices. Adhering
                  to official standards helps manufacturers and users comply
                  with these regulations.
                </p>
              </div>
            </div>
            <div
              data-w-id="f80621dc-d083-434d-3684-ed0fbcbdd6d2"
              class="feature-card-side advantage"
            >
              <div class="feature-icon-wrap">
                <div class="icon-feature w-embed">
                  <svg
                    width="100%"
                    height="100%"
                    viewBox="0 0 32 32"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_10002_2193)">
                      <path
                        d="M29.3333 25.4V6.6C30.8533 6.29067 32 4.944 32 3.33333C32 1.49467 30.5053 0 28.6667 0C27.056 0 25.7093 1.14667 25.4 2.66667H6.6C6.29067 1.14667 4.944 0 3.33333 0C1.49467 0 0 1.49467 0 3.33333C0 4.944 1.14667 6.29067 2.66667 6.6V25.4C1.14667 25.7093 0 27.056 0 28.6667C0 30.5053 1.49467 32 3.33333 32C4.944 32 6.29067 30.8533 6.6 29.3333H25.4C25.7093 30.8533 27.056 32 28.6667 32C30.5053 32 32 30.5053 32 28.6667C32 27.056 30.8533 25.7093 29.3333 25.4ZM25.4 28H6.6C6.33467 26.696 5.30533 25.6667 4 25.4V6.6C5.304 6.33467 6.33333 5.30533 6.6 4H25.4C25.6653 5.304 26.6947 6.33333 28 6.6V25.4C26.696 25.6653 25.6667 26.6947 25.4 28ZM28.6667 1.33333C29.7693 1.33333 30.6667 2.23067 30.6667 3.33333C30.6667 4.436 29.7693 5.33333 28.6667 5.33333C27.564 5.33333 26.6667 4.436 26.6667 3.33333C26.6667 2.23067 27.564 1.33333 28.6667 1.33333ZM1.33333 3.33333C1.33333 2.23067 2.23067 1.33333 3.33333 1.33333C4.436 1.33333 5.33333 2.23067 5.33333 3.33333C5.33333 4.436 4.436 5.33333 3.33333 5.33333C2.23067 5.33333 1.33333 4.436 1.33333 3.33333ZM3.33333 30.6667C2.23067 30.6667 1.33333 29.7693 1.33333 28.6667C1.33333 27.564 2.23067 26.6667 3.33333 26.6667C4.436 26.6667 5.33333 27.564 5.33333 28.6667C5.33333 29.7693 4.436 30.6667 3.33333 30.6667ZM28.6667 30.6667C27.564 30.6667 26.6667 29.7693 26.6667 28.6667C26.6667 27.564 27.564 26.6667 28.6667 26.6667C29.7693 26.6667 30.6667 27.564 30.6667 28.6667C30.6667 29.7693 29.7693 30.6667 28.6667 30.6667ZM21.3333 11.3333C21.3333 11.7013 21.0347 12 20.6667 12H16.6667V22C16.6667 22.368 16.368 22.6667 16 22.6667C15.632 22.6667 15.3333 22.368 15.3333 22V12H11.384C11.016 12 10.7173 11.7013 10.7173 11.3333C10.7173 10.9653 11.016 10.6667 11.384 10.6667H20.6667C21.0347 10.6667 21.3333 10.9653 21.3333 11.3333Z"
                        fill="currentColor"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_10002_2193">
                        <rect width="100%" height="100%" fill="currentColor"
                        ></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
              <div class="feature-bottom-tile">
                <div class="feature-subtitle">
                  <div class="text-h5">Consumer Confidence</div>
                </div>
                <p class="text-body">
                  Knowing that a product or system adheres to recognized
                  standards gives consumers confidence in its performance and
                  reliability. This is particularly important in areas where
                  safety and functionality are critical, such as assistive
                  technology.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-divider"></div>
        <div class="w-layout-grid product-halves">
          <div class="label">Why Utilise Standards?</div>
          <div class="w-richtext">
            <h5 class="no-margins">
              Overall, adherence to assistive listening technology standards
              contributes to the effectiveness, safety, and accessibility of
              these systems, fostering a consistent and reliable experience for
              individuals with hearing impairments across various environments.
            </h5>
          </div>
        </div>
      </div>

      <div class="w-layout-grid feature-grid-home-c" style="margin-top:8rem;">
        <div class="feature-card-home-c">
          <div class="label"></div>
          <div class="feature-card-bottom-tile">
            <h4 class="no-margins">IEC 60118-0:2015</h4>
            <div class="text-body">
              <strong> Electroacoustics - Hearing aids - Part 0</strong>
            </div>
            <div class="text-body">
              Measurement of the performance characteristics of hearing aids.
            </div>
            <div class="home-b-button-wrap">
              <a
                href="../resources/standards"
                class="cta-main accent w-inline-block"
              >
                <div class="button-animation-hide">
                  <div class="button-animation-wrap">
                    <div class="button-content-tile">
                      <div>Read More</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="button-content-tile">
                      <div>Read More</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div
          id="w-node-_335d5572-f17e-b978-95fe-23ad4ef7301a-e2064dab"
          class="features-video-home-c"
        >
          <img
            src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf.jpg"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
            srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-500.jpg 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-800.jpg 800w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-1600.jpg 1600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-2000.jpg 2000w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf-p-2600.jpg 2600w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/673465398de5bc7d2aa25fa1_Leaf.jpg 3024w"
            alt=""
            class="image-cover"
          />
        </div>
        <div class="feature-card-home-c">
          <div class="label"></div>
          <div class="feature-card-bottom-tile">
            <h2 class="no-margins">Technical Documents</h2>
            <div class="text-body">
              A range of technical resources and documentation aimed at
              demystifying ALTs.
            </div>
            <div class="home-b-button-wrap">
              <a
                href="../resources/technical-documents"
                class="cta-main accent w-inline-block"
              >
                <div class="button-animation-hide">
                  <div class="button-animation-wrap">
                    <div class="button-content-tile">
                      <div>See Technical Documents</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="button-content-tile">
                      <div>See Technical Documents</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="feature-card-image">
          <img
            src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow.avif"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
            srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow-p-500.jpg 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow-p-800.jpg 800w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/67346533d0734c72af49c024_Cow.avif 3888w"
            alt=""
            class="image-cover"
          />
        </div>
        <div
          id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73026-e2064dab"
          class="feature-card-image"
        >
          <img
            src="https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734f06f9f734cc9c75f9cd7_Article%20Thumbnail%204.avif"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw"
            srcset="https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734f06f9f734cc9c75f9cd7_Article%20Thumbnail%204-p-500.avif 500w, https://cdn.prod.website-files.com/67337f627413b847e2064cec/6734f06f9f734cc9c75f9cd7_Article%20Thumbnail%204.avif 1263w"
            alt=""
            class="image-cover"
          />
        </div>
        <div
          id="w-node-_335d5572-f17e-b978-95fe-23ad4ef73028-e2064dab"
          class="feature-card-home-c accent"
        >
          <div class="label"></div>
          <div class="feature-card-bottom-tile">
            <h2 class="no-margins">Useful Links</h2>
            <div class="text-body">
              Custom layouts tailored to green initiatives.
            </div>
            <div class="home-b-button-wrap">
              <a
                href="../resources/standards"
                class="cta-main accent w-inline-block"
              >
                <div class="button-animation-hide">
                  <div class="button-animation-wrap">
                    <div class="button-content-tile">
                      <div>See Links</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="button-content-tile">
                      <div>See Links</div>
                      <div class="button-arrow w-embed">
                        <svg
                          width="7"
                          height="10"
                          viewBox="0 0 7 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 9L5 5L1 1"
                            stroke="currentColor"
                            stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div
            data-w-id="335d5572-f17e-b978-95fe-23ad4ef73030"
            class="circle-feature-card"
          >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section hero-faq">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid faq-halves">
        <div class="faq-left">
          <div class="label">ALT Terminology Explained</div>
          <div class="faq-heading">
            <h1>Glossary</h1>
          </div>
        </div>
        <div
          id="w-node-_5d2379a6-d067-2bd0-b2a0-dab4130fbf03-e2064dd1"
          class="faq-right"
        >
          <div class="faq-tile">
            <div class="text-h4">A</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">ADA Standard 219</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Refers to the American Disabilities Act (ADA) General
                    Guidelines (2010) Section 219 which require assistive
                    listening systems in spaces where communication is integral
                    to the space and audio amplification is provided and in
                    courtrooms.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Assistive Listening Technology</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    A device or system that enables people with hearing loss to
                    access sound being transmitted through a sound system or
                    public address system.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Audio over WiFi</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Enables wireless transmission of audio via a WiFi network,
                    allowing the user’s own device (smartphone or tablet) to act
                    as the receiver.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">B</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Bluetooth / Bluetooth Classic</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    The Bluetooth Classic radio, also referred to as Bluetooth
                    Basic Rate/ Enhanced Data Rate (BR/EDR), is a low power
                    radio that can continuously stream data over 79 channels in
                    the 2.4GHz unlicensed industrial, scientific, and medical
                    (ISM) frequency band.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Bluetooth LE (BLE):</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    The Bluetooth Low Energy (LE) radio is designed for very low
                    power operation. Transmitting data over 40 channels in the
                    2.4GHz unlicensed ISM frequency band like Classic Bluetooth.
                    However, BLE remains in sleep mode constantly except for
                    when a connection is initiated. Power consumption is lower
                    and data rates are higher than Classic Bluetooth but
                    connection is not continuous
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">BS 8300</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Design of buildings and their approaches to meet the needs
                    of disabled people. Code of practice. BS 8300 looks at the
                    design of buildings and their ability to meet the
                    requirements of disabled people. By offering best-practice
                    recommendations, this standard explains how architectural
                    design and the built environment can help disabled people to
                    make the most of their surroundings.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">D</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Decibels (dB)</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    A decibel (dB) is a unit measurement of amplitude, or the
                    intensity, pressure or forcefulness of a sound. 0dB is near
                    silence, 10dB is 10x louder than near silence, but as the dB
                    scale is logarithmic 20dB is 100x louder than near silence.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">E</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Electromagnetic interference (EMI)</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    EMI is the interference caused by one electrical or
                    electronic device to another by the electromagnetic fields
                    generated by its operation.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">BS EN 17210</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Accessibility and usability of the built environment.
                    Functional requirement. This document describes basic,
                    minimum functional requirements and recommendations for an
                    accessible and usable built environment which will
                    facilitate equitable and safe use for a wide range of users,
                    including persons with disabilities.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">F</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">FM (frequency modulation) radio</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Radio waves are electromagnetic waves of frequency between
                    30 hertz (Hz) and 300 gigahertz (GHz). Frequency modulation
                    or FM is a form of modulation of a radio signal which
                    conveys information by varying the frequency of a carrier
                    wave.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="faq-tile">
            <div class="text-h4">H</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Hearing Loop</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Hearing loops, audio induction loops, or audio frequency
                    induction loops (AFILs) are an assistive listening
                    technology that uses a loop or loops of cable or copper tape
                    around a room or area. An amplified sound signal from a
                    sound system or microphone is input into a hearing loop
                    driver or amplifier which in turn drives a current around
                    the loop creating an electromagnetic field. That field can
                    then be picked up by a Telecoil / T-coil in a hearing aid,
                    cochlear implant or loop receiver which transmits the
                    received signal into the devices amplifier and speaker and
                    into the ear.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Hearing Loss</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Hearing loss is a common problem caused by noise, aging,
                    disease, trauma and heredity. The four different levels of
                    hearing loss are defined as: Mild (25-45dB loss), Moderate
                    (40-75dB loss), Severe (75-90dB loss) and Profound (>90dB
                    loss.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="faq-tile">
            <div class="text-h4">I</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">IEC60118-4</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    System performance requirements. Electroacoustics – Hearing
                    aids – Part 4: Induction-loop systems for hearing aid
                    purposes. The performance criteria for hearing loops are set
                    out in standard IEC- 60118-4 and include:<br /><br /> • low magnetic
                    background noise - for intelligibility and comfort <br /><br
                    />• correct field strength - setting a suitable signal level <br
                    /><br />• even field strength - for consistency of signal <br
                    /><br /> • flat frequency response - essential to maintain intelligibility
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">IEC 62489-1</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Electroacoustics - Audio-frequency induction loop systems
                    for assisted hearing - Part 1: Methods of measuring and
                    specifying the performance of system components This
                    standard applies to the components of audio-frequency
                    induction￾loop systems for assisted hearing. This standard
                    is intended to encourage accurate and uniform presentation
                    of manufacturers’ specifications, which can be verified by
                    standardized methods of measurement.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Infrared</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Infrared (IR), sometimes called infrared light, is
                    electromagnetic radiation (EMR) with wavelengths longer than
                    those of visible light. It is therefore invisible to the
                    human eye. An infrared sound system consists of infrared
                    transmitters, radiators and receivers. The radiator produces
                    infrared light from an input source supplied via the
                    transmitter and captured via a microphone or PA source.
                    Wireless, IR receivers convert the light signal into an
                    audio signal that can be listened to using headphones or
                    connected to a hearing aid via neck-loop.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">L</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Latency</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Latency is a short period of delay (usually measured in
                    milliseconds) between when an audio signal enters a system
                    and when it emerges. Potential contributors to latency in an
                    audio system include analog￾to-digital conversion,
                    buffering, digital signal processing, transmission time,
                    digital-to-analog conversion and the speed of sound in the
                    transmission medium. Latency can be a critical for assistive
                    listening solutions and sound reinforcement systems.
                    Excessive audio latency can significantly a users
                    experience.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Loop receiver</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    A loop receiver is a device fitted with a Telecoil / T-coil
                    allowing it to pick up signals from a hearing loop. This
                    enables those without hearing aids or cochlear implants to
                    hear the audio output of a loop system.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">O</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">OEM</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    An original equipment manufacturer (OEM) is generally
                    perceived as a company that produces parts and equipment
                    that may be marketed by another manufacturer.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">S</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Signage</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    Signs indicating the availability of a hearing loop or other
                    assistive listening technology are an essential part of an
                    assistive listening system. It allows users to identify
                    where a service is available and, in the case of hearing
                    loops, hearing aids and cochlear implants, discreetly switch
                    their device over to the T or MT setting giving them access
                    to the audio output of the loop. For WiFi systems signs can
                    point to an app using a QR code or web link. For other
                    technologies such as Infrared or FM/Radio correct signage
                    indicates a service is available and where to obtain a
                    receiver.
                  </p>
                </div>
              </div>
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Signal to noise ratio</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    SNR or signal-to-noise ratio is the ratio between the
                    desired information or the power of a signal and the
                    undesired signal or the power of the background noise.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">T</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">Telecoils, T-coils</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    A telecoil is a small coil of wire wrapped around a small
                    rod inside most behind the ear, receiver in the ear and open
                    fit hearing aids. The coil works as a small receiver which
                    picks up signals from a hearing loop system or neck loop
                    that acts as an electromagnetic field. Hearing aids with an
                    activated telecoil can convert this electromagnetic field
                    into a sound signal.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="text-h4">W</div>
            <div class="faq-block">
              <div class="expandable-single">
                <div class="expandable-top">
                  <div class="text-h5">WiFi</div>
                  <div class="faq-animated-box">
                    <div class="faq-horizontal"></div>
                    <div class="faq-vertical"></div>
                  </div>
                </div>
                <div class="expandable-bottom">
                  <p class="faq-paragraph">
                    WiFi: WiFi is a family of wireless network protocols, based
                    on the IEEE 802.11 family of standards, which are commonly
                    used for local area network￾ing of devices and Internet
                    access, allowing nearby digital devices to exchange data by
                    radio waves.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <MainNews limit={3} />
</Layout>
