---
import MainNews from "../../../components/MainNews.astro";
import Standards from "../../../components/Standards.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
  <section class="section hero-careers">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="headline-careers">
        <div class="careers-top-tile">
          <div class="spacer-sm"></div>
          <div class="heading-careers">
            <div class="headline-blog">
              <div class="label">Standards</div>
              <h1 class="text-h1">Assistive Listening Standards</h1>
            </div>
          </div>
        </div>

        <div class="home-b-button-wrap">
          <a href="#standards" class="cta-main accent w-inline-block">
            <div class="button-animation-hide">
              <div class="button-animation-wrap">
                <div class="button-content-tile">
                  <div>See all Standards</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
                <div class="button-content-tile">
                  <div>See all Standards</div>
                  <div class="button-arrow w-embed">
                    <svg
                      width="7"
                      height="10"
                      viewBox="0 0 7 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 9L5 5L1 1"
                        stroke="currentColor"
                        stroke-width="2"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="section-divider home-c-numbers"></div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="w-layout-blockcontainer main-container w-container">
      <div class="w-layout-grid numbers-halves"></div>

      <div class="product-content-wrap">
        <div class="w-layout-grid product-halves">
          <div class="label">What is a standard?</div>
          <div class="w-richtext">
            <h3 class="no-margins">
              Standards are established guidelines, specifications, and criteria
              that define the parameters for the design, manufacturing,
              installation, and performance of assistive listening technologies.
            </h3>
            <h5 style="margin-top:3rem;">
              These standards are developed and maintained by recognized
              organizations within the field, and they serve as a reference
              point for manufacturers, installers, and users to ensure
              consistency, quality, and reliability of assistive listening
              solutions.
            </h5>
          </div>
        </div>
        <div class="section-divider"></div>
        <div class="w-layout-grid product-halves">
          <div>
            <div class="label">Why are standards important?</div>
            <h5 style="margin-top:3rem;">
              Standards for assistive listening systems are essential to ensure
              consistency, compatibility, and accessibility across different
              environments.
            </h5>

            <h5 style="margin-top:3rem;">
              They help guarantee that technologies perform reliably, meet user
              needs, and comply with legal and regulatory requirements. By
              adhering to established standards, venues and manufacturers can
              provide inclusive experiences that work seamlessly for people with
              hearing loss, regardless of the setting.
            </h5>
          </div>

          <div class="w-layout-grid feature-grid-side">
            <div
              data-w-id="f80621dc-d083-434d-3684-ed0fbcbdd6b7"
              class="feature-card-side advantage"
            >
              <div class="feature-icon-wrap">
                <div class="icon-feature w-embed">
                  <img src="/img/icons/standards/interoperability.svg" alt="" />
                </div>
              </div>
              <div class="feature-bottom-tile">
                <div class="feature-subtitle">
                  <div class="text-h5 teal-text">Interoperability</div>
                </div>
                <p class="text-body">
                  Standards ensure that different components and devices within
                  an assistive listening system are compatible and can work
                  seamlessly together.
                </p>
              </div>
            </div>
            <div
              data-w-id="f80621dc-d083-434d-3684-ed0fbcbdd6c0"
              class="feature-card-side advantage"
            >
              <div class="feature-icon-wrap">
                <div class="icon-feature w-embed">
                  <img src="/img/icons/standards/quality.svg" alt="" />
                </div>
              </div>
              <div class="feature-bottom-tile">
                <div class="feature-subtitle">
                  <div class="text-h5 teal-text">Quality Assurance</div>
                </div>
                <p class="text-body">
                  Standards set benchmarks for the performance and quality of
                  assistive listening systems. Adhering to these standards helps
                  manufacturers ensure reliability, durability, and consistent
                  performance.
                </p>
              </div>
            </div>
            <div
              data-w-id="f80621dc-d083-434d-3684-ed0fbcbdd6c9"
              class="feature-card-side advantage"
            >
              <div class="feature-icon-wrap">
                <div class="icon-feature w-embed">
                  <img src="/img/icons/standards/accessibility.svg" alt="" />
                </div>
              </div>
              <div class="feature-bottom-tile">
                <div class="feature-subtitle">
                  <div class="text-h5 teal-text">Accessibility</div>
                </div>
                <p class="text-body">
                  Standards help in creating systems that provide effective and
                  consistent support for users, promoting equal access to
                  information and services.
                </p>
              </div>
            </div>

            <div
              data-w-id="f80621dc-d083-434d-3684-ed0fbcbdd6d2"
              class="feature-card-side advantage"
            >
              <div class="feature-icon-wrap">
                <div class="icon-feature w-embed">
                  <img src="/img/icons/standards/safety.svg" alt="" />
                </div>
              </div>
              <div class="feature-bottom-tile">
                <div class="feature-subtitle">
                  <div class="text-h5 teal-text">Safety</div>
                </div>
                <p class="text-body">
                  Standards often include guidelines for the safety of the
                  equipment and the environment in which it is installed. This
                  is critical for preventing potential hazards and ensuring the
                  well-being of users.
                </p>
              </div>
            </div>

            <div
              data-w-id="f80621dc-d083-434d-3684-ed0fbcbdd6d2"
              class="feature-card-side advantage"
            >
              <div class="feature-icon-wrap">
                <div class="icon-feature w-embed">
                  <img src="/img/icons/standards/compliance.svg" alt="" />
                </div>
              </div>
              <div class="feature-bottom-tile">
                <div class="feature-subtitle">
                  <div class="text-h5 teal-text">Regulatory Compliance</div>
                </div>
                <p class="text-body">
                  Many countries and regions have regulations and guidelines
                  pertaining to the use of assistive listening devices. Adhering
                  to official standards helps manufacturers and users comply
                  with these regulations.
                </p>
              </div>
            </div>
            <div
              data-w-id="f80621dc-d083-434d-3684-ed0fbcbdd6d2"
              class="feature-card-side advantage"
            >
              <div class="feature-icon-wrap">
                <div class="icon-feature w-embed">
                  <img src="/img/icons/standards/confidence.svg" alt="" />
                </div>
              </div>
              <div class="feature-bottom-tile">
                <div class="feature-subtitle">
                  <div class="text-h5 teal-text">Consumer Confidence</div>
                </div>
                <p class="text-body">
                  Knowing that a product or system adheres to recognized
                  standards gives consumers confidence in its performance and
                  reliability. This is particularly important in areas where
                  safety and functionality are critical, such as assistive
                  technology.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-divider"></div>
        <div class="w-layout-grid product-halves">
          <div class="label">Why Use Standards?</div>
          <div class="w-richtext">
            <h5 class="no-margins">
              Overall, adherence to assistive listening technology standards
              contributes to the effectiveness, safety, and accessibility of
              these systems, fostering a consistent and reliable experience for
              individuals with hearing impairments across various environments.
            </h5>
          </div>
        </div>
      </div>

      <Standards />
    </div>
  </section>

  <MainNews limit={3} />
</Layout>
