<div class="icon-32 text-accent w-embed">
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 32 32"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_10002_3022)">
      <path
        d="M16.6667 32C16.596 32.0253 16.8467 32 16.6667 32V32ZM16.6667 32C6.66667 32 0 24.8227 0 16C0 7.17733 7.17733 0 16 0C24.8227 0 32 7.17733 32 16C32 25.3333 24.6667 32 16.6667 32ZM21.9067 5.33333H20.6667C19.564 5.33333 18.6667 6.23067 18.6667 7.33333V8.66667C18.6667 9.76933 17.7693 10.6667 16.6667 10.6667C15.564 10.6667 14.6667 11.564 14.6667 12.6667V14C14.6667 15.1027 15.564 16 16.6667 16H20.6667C22.5053 16 24 17.4947 24 19.3333V20C24 20.1413 24.0733 23.4347 27.3653 25.2547C29.4267 22.728 30.6667 19.508 30.6667 16C30.6667 11.0787 28.2227 6.72667 24.4933 4.06533C23.864 4.85333 22.9267 5.33333 21.9067 5.33333ZM16 23.3333C16 22.2307 15.1027 21.3333 14 21.3333H9.656C8.428 21.3333 7.22533 20.8347 6.356 19.9667L1.384 14.9947C1.36133 15.328 1.33333 15.6613 1.33333 16.0013C1.33333 24.088 7.91333 30.668 16 30.668V23.3333ZM26.4533 26.2693C22.72 24.0347 22.6667 20.1707 22.6667 20V19.3333C22.6667 18.2307 21.7693 17.3333 20.6667 17.3333H16.6667C14.828 17.3333 13.3333 15.8373 13.3333 14V12.6667C13.3333 10.8293 14.828 9.33333 16.6667 9.33333C17.0333 9.33333 17.3333 9.03467 17.3333 8.66667V7.33333C17.3333 5.496 18.828 4 20.6667 4H21.9067C22.4733 4 22.996 3.752 23.372 3.34C21.2027 2.072 18.6893 1.33333 16.0013 1.33333C8.83067 1.33333 2.85733 6.50667 1.59067 13.3147L7.29867 19.0227C7.92 19.644 8.77733 19.9987 9.656 19.9987H14C15.8387 19.9987 17.3333 21.4933 17.3333 23.332V30.5973C20.8907 30.2747 24.084 28.6813 26.4533 26.2693Z"
        fill="currentColor"></path>
    </g>
    <defs>
      <clipPath id="clip0_10002_3022">
        <rect width="100%" height="100%" fill="currentColor"></rect>
      </clipPath>
    </defs>
  </svg>
</div>
